<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.toutiao.web.dao.mapper.officeweb.favorite.UserFavoriteVillageMapper" >
  <resultMap id="BaseResultMap" type="com.toutiao.app.domain.favorite.UserFavoriteVillage" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="village_id" property="villageId" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="is_del" property="isDel" jdbcType="SMALLINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, user_id, village_id, create_time, is_del
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from user_favorite_village
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from user_favorite_village
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.toutiao.app.domain.favorite.UserFavoriteVillage" >
    insert into user_favorite_village (id, user_id, village_id, 
      create_time, is_del)
    values (#{id,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{villageId,jdbcType=INTEGER}, 
      #{createTime,jdbcType=TIMESTAMP}, #{isDel,jdbcType=SMALLINT})
  </insert>
  <insert id="insertSelective" parameterType="com.toutiao.app.domain.favorite.UserFavoriteVillage" >
    insert into user_favorite_village
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="villageId != null" >
        village_id,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="isDel != null" >
        is_del,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="villageId != null" >
        #{villageId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isDel != null" >
        #{isDel,jdbcType=SMALLINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.toutiao.app.domain.favorite.UserFavoriteVillage" >
    update user_favorite_village
    <set >
      <if test="userId != null" >
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="villageId != null" >
        village_id = #{villageId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isDel != null" >
        is_del = #{isDel,jdbcType=SMALLINT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.toutiao.app.domain.favorite.UserFavoriteVillage" >
    update user_favorite_village
    set user_id = #{userId,jdbcType=INTEGER},
      village_id = #{villageId,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      is_del = #{isDel,jdbcType=SMALLINT}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectVillageFavoriteByUserId" resultType="Integer">
    SELECT  count(1) FROM user_favorite_village
    where user_id=#{userId} and is_del=0
  </select>
  <select id="selectPlotFavoriteCountByPlotId" resultType="java.lang.Integer">
    SELECT COUNT(1) FROM user_favorite_village
    WHERE village_id = #{plotId}
  </select>

  <select id="selectPlotIsFavorite" resultType="java.lang.Integer" parameterType="com.toutiao.app.domain.favorite.PlotIsFavoriteDo">
    SELECT COUNT(1) FROM user_favorite_village
    WHERE village_id = #{plotId} AND user_id = #{userId} AND is_del = 0
  </select>
</mapper>