<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.toutiao.web.dao.mapper.officeweb.favorite.UserFavoriteVillageMapper" >
  <resultMap id="BaseResultMap" type="com.toutiao.app.domain.favorite.UserFavoriteVillage" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="building_id" property="buildingId" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="is_del" property="isDel" jdbcType="SMALLINT" />
    <result column="average_price" property="averagePrice" jdbcType="NUMERIC" />
    <result column="building_name" property="buildingName" jdbcType="VARCHAR" />
    <result column="building_images" property="buildingImages" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="SMALLINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, user_id, building_id, create_time, is_del, average_price, building_name, building_images, 
    status
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from user_favorite_village
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from user_favorite_village
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.toutiao.app.domain.favorite.UserFavoriteVillage" >
    insert into user_favorite_village (id, user_id, building_id, 
      create_time, is_del, average_price, 
      building_name, building_images, status
      )
    values (#{id,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{buildingId,jdbcType=INTEGER}, 
      #{createTime,jdbcType=TIMESTAMP}, #{isDel,jdbcType=SMALLINT}, #{averagePrice,jdbcType=NUMERIC}, 
      #{buildingName,jdbcType=VARCHAR}, #{buildingImages,jdbcType=VARCHAR}, #{status,jdbcType=SMALLINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.toutiao.app.domain.favorite.UserFavoriteVillage" >
    insert into user_favorite_village
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="buildingId != null" >
        building_id,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="isDel != null" >
        is_del,
      </if>
      <if test="averagePrice != null" >
        average_price,
      </if>
      <if test="buildingName != null" >
        building_name,
      </if>
      <if test="buildingImages != null" >
        building_images,
      </if>
      <if test="status != null" >
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="buildingId != null" >
        #{buildingId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isDel != null" >
        #{isDel,jdbcType=SMALLINT},
      </if>
      <if test="averagePrice != null" >
        #{averagePrice,jdbcType=NUMERIC},
      </if>
      <if test="buildingName != null" >
        #{buildingName,jdbcType=VARCHAR},
      </if>
      <if test="buildingImages != null" >
        #{buildingImages,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=SMALLINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.toutiao.app.domain.favorite.UserFavoriteVillage" >
    update user_favorite_village
    <set >
      <if test="userId != null" >
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="buildingId != null" >
        building_id = #{buildingId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isDel != null" >
        is_del = #{isDel,jdbcType=SMALLINT},
      </if>
      <if test="averagePrice != null" >
        average_price = #{averagePrice,jdbcType=NUMERIC},
      </if>
      <if test="buildingName != null" >
        building_name = #{buildingName,jdbcType=VARCHAR},
      </if>
      <if test="buildingImages != null" >
        building_images = #{buildingImages,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=SMALLINT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.toutiao.app.domain.favorite.UserFavoriteVillage" >
    update user_favorite_village
    set user_id = #{userId,jdbcType=INTEGER},
      building_id = #{buildingId,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      is_del = #{isDel,jdbcType=SMALLINT},
      average_price = #{averagePrice,jdbcType=NUMERIC},
      building_name = #{buildingName,jdbcType=VARCHAR},
      building_images = #{buildingImages,jdbcType=VARCHAR},
      status = #{status,jdbcType=SMALLINT}
    where id = #{id,jdbcType=INTEGER}
  </update>


  <select id="selectVillageFavoriteByUserId" resultType="Integer">
    SELECT  count(1) FROM user_favorite_village
    where user_id=#{userId} and is_del=0
  </select>
  <update id="cancelVillageByVillageIdAndUserId" parameterType="com.toutiao.app.domain.favorite.PlotIsFavoriteDoQuery">
    update user_favorite_village
    SET is_del = 1
    where user_id=#{userId} and building_id=#{buildingId} AND is_del = 0
  </update>

  <select id="selectPlotFavoriteCountByPlotId" resultType="java.lang.Integer">
    SELECT COUNT(1) FROM user_favorite_village
    WHERE building_id = #{buildingId}
  </select>

  <select id="selectPlotIsFavorite" resultType="java.lang.Integer" parameterType="com.toutiao.app.domain.favorite.PlotIsFavoriteDoQuery">
    SELECT COUNT(1) FROM user_favorite_village
    WHERE building_id = #{buildingId} AND user_id = #{userId} AND is_del = 0
  </select>

  <select id="queryCountByUserIdAndHouseId" resultType="java.lang.Integer" parameterType="com.toutiao.app.domain.favorite.PlotsAddFavoriteDoQuery">
    SELECT COUNT(1) FROM user_favorite_village
    WHERE building_id = #{buildingId} AND user_id = #{userId} AND is_del = 0
  </select>
  <select id="getPlotFavoriteByUserId" parameterType="com.toutiao.app.domain.plot.PlotFavoriteListDoQuery" resultMap="BaseResultMap">
    SELECT  * FROM user_favorite_village
    WHERE user_id = #{userId,jdbcType=INTEGER} AND is_del = 0
  </select>
  <select id="getPlotFavoriteCountByUserId" parameterType="com.toutiao.app.domain.plot.PlotFavoriteListDoQuery" resultType="java.lang.Integer">
    SELECT COUNT (1) FROM user_favorite_village
    WHERE user_id = #{userId} AND is_del = 0
  </select>
  <insert id="addPlotsFavorite" parameterType="com.toutiao.app.domain.favorite.PlotsAddFavoriteDoQuery">
    insert into user_favorite_village
    <trim prefix="(" suffix=")" suffixOverrides="," >

      <if test="userId != null" >
        user_id,
      </if>
      <if test="buildingId != null" >
        building_id,
      </if>
      <if test="averagePrice != null" >
        average_price,
      </if>
      <if test="buildingName != null" >
        building_name,
      </if>
      <if test="buildingImages != null" >
        building_images,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="true" >
        create_time,
      </if>
      <if test="isDel != null" >
        is_del,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        #{userId},
      </if>
      <if test="buildingId != null" >
        #{buildingId},
      </if>
      <if test="averagePrice != null" >
        #{averagePrice},
      </if>
      <if test="buildingName != null" >
        #{buildingName},
      </if>
      <if test="buildingImages != null" >
        #{buildingImages},
      </if>
      <if test="status != null" >
        #{status},
      </if>
      <if test="true" >
        CURRENT_TIMESTAMP(0),
      </if>
      <if test="isDel != null" >
        #{isDel}
      </if>
    </trim>
  </insert>
</mapper>