<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.toutiao.web.dao.mapper.officeweb.favorite.UserFavoriteEsHouseMapper" >
  <resultMap id="BaseResultMap" type="com.toutiao.app.domain.favorite.UserFavoriteEsHouse" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="house_id" property="houseId" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="is_del" property="isDel" jdbcType="SMALLINT" />
    <result column="house_title" property="houseTitle" jdbcType="VARCHAR" />
    <result column="house_photo_title" property="housePhotoTitle" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="building_name" property="buildingName" jdbcType="VARCHAR" />
    <result column="build_area" property="buildArea" jdbcType="DOUBLE" />
    <result column="room" property="room" jdbcType="INTEGER" />
    <result column="forward" property="forward" jdbcType="VARCHAR" />
    <result column="house_total_prices" property="houseTotalPrices" jdbcType="DOUBLE" />
    <result column="price_increase_decline" property="priceIncreaseDecline" jdbcType="INTEGER" />
    <result column="is_claim" property="isClaim" jdbcType="INTEGER" />
    <result column="city_id" property="cityId" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, user_id, house_id, create_time, is_del,status,building_name,build_area,room,forward,house_total_prices,house_photo_title,house_title,price_increase_decline,is_claim, city_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from user_favorite_eshouse
    where id = #{id,jdbcType=INTEGER}
  </select>
  <!--收藏列表-->
  <select id="selectSellHouseFavoriteByUserId" parameterType="com.toutiao.app.domain.favorite.sellhouse.SellHouseFavoriteDo"
          resultType="com.toutiao.app.domain.favorite.sellhouse.SellHouseFavoriteDo">
    SELECT
      id AS Id,
      user_id AS userId,
      house_id AS houseId,
      create_time AS createTime,
      is_del AS isDel,
      status AS status,
      building_name AS buildingName,
      build_area AS buildArea,
      room AS room,
      forward AS forward,
      house_total_prices AS houseTotalPrices,
      house_photo_title AS housePhotoTitle,
      house_title AS houseTitle,
      price_increase_decline AS priceIncreaseDecline,
      is_claim AS isClaim,
      city_id AS cityId
     FROM user_favorite_eshouse
    WHERE user_id = #{userId} AND is_del = 0 ORDER BY create_time DESC
  </select>

  <!--比对列表-->
  <select id="selectComparedList" parameterType="com.toutiao.app.domain.favorite.sellhouse.SellHouseFavoriteListDoQuery" resultMap="BaseResultMap">
    SELECT  * FROM user_favorite_eshouse
    WHERE user_id = #{userId} and city_id = #{cityId} AND is_del = 0 ORDER BY create_time DESC
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from user_favorite_eshouse
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.toutiao.app.domain.favorite.UserFavoriteEsHouse" >
    insert into user_favorite_eshouse (id, user_id, house_id, 
      create_time, is_del,status,building_name,build_area,room,forward,house_total_prices,house_photo_title,house_title,price_increase_decline,is_claim, city_id)
    values (#{id,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{houseId,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{isDel,jdbcType=SMALLINT},#{status,jdbcType=INTEGER},#{buildingName,jdbcType=VARCHAR},#{buildArea,jdbcType=DOUBLE},
      #{room,jdbcType=INTEGER},#{forward,jdbcType=VARCHAR},#{houseTotalPrices,jdbcType=DOUBLE},#{housePhotoTitle,jdbcType=VARCHAR},#{houseTitle,jdbcType=VARCHAR},
      #{priceIncreaseDecline,jdbcType=INTEGER},#{isClaim,jdbcType=INTEGER}, #{cityId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.toutiao.app.domain.favorite.UserFavoriteEsHouse" >
    insert into user_favorite_eshouse
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="houseId != null" >
        house_id,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="isDel != null" >
        is_del,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="buildingName != null" >
        building_name,
      </if>
      <if test="buildArea != null" >
        build_area,
      </if>
      <if test="room != null" >
        room,
      </if>
      <if test="forward != null" >
        forward,
      </if>
      <if test="houseTotalPrices != null" >
        house_total_prices,
      </if>
      <if test="housePhotoTitle != null" >
        house_photo_title,
      </if>
      <if test="houseTitle != null" >
        house_title,
      </if>
      <if test="priceIncreaseDecline != null" >
        price_increase_decline,
      </if>
      <if test="isClaim != null" >
        is_claim,
      </if>
      <if test="cityId != null" >
        city_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="houseId != null" >
        #{houseId,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isDel != null" >
        #{isDel,jdbcType=SMALLINT},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="buildingName != null" >
        #{buildingName,jdbcType=VARCHAR},
      </if>
      <if test="buildArea != null" >
        #{buildArea,jdbcType=DOUBLE},
      </if>
      <if test="room != null" >
        #{room,jdbcType=INTEGER},
      </if>
      <if test="forward != null" >
        #{forward,jdbcType=VARCHAR},
      </if>
      <if test="houseTotalPrices != null" >
        #{houseTotalPrices,jdbcType=DOUBLE},
      </if>
      <if test="housePhotoTitle != null" >
        #{housePhotoTitle,jdbcType=VARCHAR},
      </if>
      <if test="houseTitle != null" >
        #{houseTitle,jdbcType=VARCHAR},
      </if>
      <if test="priceIncreaseDecline != null" >
        #{priceIncreaseDecline,jdbcType=VARCHAR},
      </if>
      <if test="isClaim != null" >
        #{isClaim,jdbcType=VARCHAR},
      </if>
      <if test="cityId != null" >
        #{cityId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.toutiao.app.domain.favorite.UserFavoriteEsHouse" >
    update user_favorite_eshouse
    <set >
      <if test="userId != null" >
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="houseId != null" >
        house_id = #{houseId,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isDel != null" >
        is_del = #{isDel,jdbcType=SMALLINT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.toutiao.app.domain.favorite.UserFavoriteEsHouse" >
    update user_favorite_eshouse
    set user_id = #{userId,jdbcType=INTEGER},
      house_id = #{houseId,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      is_del = #{isDel,jdbcType=SMALLINT}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="selectEsHouseFavoriteByUserId" resultType="Integer">
    SELECT  count(*) from user_favorite_eshouse
    where user_id=#{userId} and is_del=0
  </select>

    <select id="isEsfFavoriteByHouseIdAndUserId" resultType="Integer">
        SELECT  count(1) from user_favorite_eshouse
        where house_id=#{houseId} and user_id=#{userId} and is_del=0
    </select>

    <update id="updateEsfFavoriteByEsfIdAndUserId" parameterType="com.toutiao.app.domain.favorite.DeleteEsfFavoriteDo">
    UPDATE user_favorite_eshouse
    SET is_del = 1
    WHERE house_id = #{houseId,jdbcType=VARCHAR} AND user_id = #{userId,jdbcType=INTEGER} AND is_del = 0
  </update>
</mapper>