<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.toutiao.web.dao.mapper.officeweb.favorite.UserFavoriteNewHouseMapper" >
  <resultMap id="BaseResultMap" type="com.toutiao.app.domain.favorite.UserFavoriteNewHouse" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="building_id" property="buildingId" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="is_del" property="isDel" jdbcType="SMALLINT" />
    <result column="average_price" property="averagePrice" jdbcType="NUMERIC" />
    <result column="house_min_area" property="houseMinArea" jdbcType="VARCHAR" />
    <result column="house_max_area" property="houseMaxArea" jdbcType="VARCHAR" />
    <result column="building_name" property="buildingName" jdbcType="VARCHAR" />
    <result column="building_title_img" property="buildingTitleImg" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="SMALLINT" />
    <result column="total_price" property="totalPrice" jdbcType="NUMERIC" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, user_id, building_id, create_time, is_del, average_price, house_min_area, house_max_area,
    building_name, building_title_img, status, total_price
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from user_favorite_newhouse
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectNewHouseFavoriteByUserId" parameterType="com.toutiao.app.domain.favorite.newhouse.NewHouseFavoriteListDoQuery" resultMap="BaseResultMap">
    SELECT  * FROM user_favorite_newhouse
    WHERE user_id = #{userId} AND is_del = 0
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from user_favorite_newhouse
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.toutiao.app.domain.favorite.UserFavoriteNewHouse" >
    insert into user_favorite_newhouse (id, user_id, building_id, create_time, is_del,
    average_price, house_min_area, house_max_area,
    building_name, building_title_img, status, total_price)
    values (#{id,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{buildingId,jdbcType=INTEGER},
      #{createTime,jdbcType=TIMESTAMP}, #{isDel,jdbcType=SMALLINT}, #{averagePrice,jdbcType=NUMERIC},
      #{houseMinArea,jdbcType=VARCHAR}, #{houseMaxArea,jdbcType=VARCHAR}, #{buildingName,jdbcType=VARCHAR},
      #{buildingTitleImg,jdbcType=VARCHAR}, #{status,jdbcType=SMALLINT}, #{totalPrice,jdbcType=NUMERIC})
  </insert>
  <insert id="insertSelective" parameterType="com.toutiao.app.domain.favorite.UserFavoriteNewHouse" >
    insert into user_favorite_newhouse
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="buildingId != null" >
        building_id,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="isDel != null" >
        is_del,
      </if>
      <if test="averagePrice != null" >
        average_price,
      </if>
      <if test="houseMinArea != null" >
        house_min_area,
      </if>
      <if test="houseMaxArea != null" >
        house_max_area,
      </if>
      <if test="buildingName != null" >
        building_name,
      </if>
      <if test="buildingTitleImg != null" >
        building_title_img,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="totalPrice != null" >
        total_price,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="buildingId != null" >
        #{buildingId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isDel != null" >
        #{isDel,jdbcType=SMALLINT},
      </if>
      <if test="averagePrice != null" >
        #{averagePrice,jdbcType=NUMERIC},
      </if>
      <if test="houseMinArea != null" >
        #{houseMinArea,jdbcType=VARCHAR},
      </if>
      <if test="houseMaxArea != null" >
        #{houseMaxArea,jdbcType=VARCHAR},
      </if>
      <if test="buildingName != null" >
        #{buildingName,jdbcType=VARCHAR},
      </if>
      <if test="buildingTitleImg != null" >
        #{buildingTitleImg,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=SMALLINT},
      </if>
      <if test="totalPrice != null" >
        #{totalPrice,jdbcType=NUMERIC},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.toutiao.app.domain.favorite.UserFavoriteNewHouse" >
    update user_favorite_newhouse
    <set >
      <if test="userId != null" >
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="buildingId != null" >
        building_id = #{buildingId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isDel != null" >
        is_del = #{isDel,jdbcType=SMALLINT},
      </if>
      <if test="averagePrice != null" >
        average_price = #{averagePrice,jdbcType=NUMERIC},
      </if>
      <if test="houseMinArea != null" >
        house_min_area = #{houseMinArea,jdbcType=VARCHAR},
      </if>
      <if test="houseMaxArea != null" >
        house_max_area = #{houseMaxArea,jdbcType=VARCHAR},
      </if>
      <if test="buildingName != null" >
        building_name = #{buildingName,jdbcType=VARCHAR},
      </if>
      <if test="buildingTitleImg != null" >
        building_title_img = #{buildingTitleImg,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=SMALLINT},
      </if>
      <if test="totalPrice != null" >
        total_price = #{totalPrice,jdbcType=NUMERIC},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.toutiao.app.domain.favorite.UserFavoriteNewHouse" >
    update user_favorite_newhouse
    set user_id = #{userId,jdbcType=INTEGER},
      building_id = #{buildingId,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      is_del = #{isDel,jdbcType=SMALLINT},
      average_price = #{averagePrice,jdbcType=NUMERIC},
      house_min_area = #{houseMinArea,jdbcType=VARCHAR},
      house_max_area = #{houseMaxArea,jdbcType=VARCHAR},
      building_name = #{buildingName,jdbcType=VARCHAR},
      building_title_img = #{buildingTitleImg,jdbcType=VARCHAR},
      status = #{status,jdbcType=SMALLINT},
      total_price = #{totalPrice,jdbcType=NUMERIC}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="newHouseFavoriteByNewCode" resultType="Integer">
    SELECT count(1) from  user_favorite_newhouse
    where new_house_id=#{newCode} and is_del=0
  </select>

  <select id="selectFavoriteNewHouseByUserId" resultType="Integer">
    select count(1) from  user_favorite_newhouse
    where user_id=#{userId} and is_del=0
  </select>

  <update id="cancelNewHouseFavoriteByUserIdAndHouseId" parameterType="com.toutiao.app.domain.favorite.UserFavoriteNewHouse">
    update user_favorite_newhouse
    <set >
      <if test="userId != null" >
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="buildingId != null" >
        building_id = #{buildingId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isDel != null" >
        is_del = #{isDel,jdbcType=SMALLINT},
      </if>
    </set>
    where building_id=#{buildingId,jdbcType=INTEGER} and user_id = #{userId,jdbcType=INTEGER}
  </update>

  <select id="getNewHouseIsFavorite" parameterType="com.toutiao.app.domain.favorite.NewHouseIsFavoriteDoQuery" resultType="java.lang.Integer">
    SELECT COUNT(1) FROM user_favorite_newhouse
    WHERE user_id=#{userId} and is_del=0 AND building_id = #{buildingId}
  </select>
  <select id="queryCountByUserIdAndHouseId" parameterType="com.toutiao.app.domain.favorite.NewHouseAddFavoriteDoQuery" resultType="java.lang.Integer">
    SELECT COUNT(1) FROM user_favorite_newhouse
    WHERE user_id=#{userId} and is_del=0 AND new_house_id = #{newHouseId}
  </select>

  <insert id="addNewHouseFavorite" parameterType="com.toutiao.app.domain.favorite.NewHouseAddFavoriteDoQuery">
    insert into user_favorite_newhouse
    <trim prefix="(" suffix=")" suffixOverrides="," >

      <if test="userId != null" >
        user_id,
      </if>
      <if test="buildingId != null" >
        building_id,
      </if>
      <if test="averagePrice != null" >
        average_price,
      </if>
      <if test="houseMinArea != null" >
        house_min_area,
      </if>
      <if test="houseMaxArea != null" >
        house_max_area,
      </if>
      <if test="buildingName != null" >
        building_name,
      </if>
      <if test="buildingTitleImg != null" >
        building_title_img,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="true" >
        create_time,
      </if>
      <if test="isDel != null" >
        is_del,
      </if>
      <if test="totalPrice != null" >
        total_price,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        #{userId},
      </if>
      <if test="buildingId != null" >
        #{buildingId},
      </if>
      <if test="averagePrice != null" >
        #{averagePrice},
      </if>
      <if test="houseMinArea != null" >
        #{houseMinArea},
      </if>
      <if test="houseMaxArea != null" >
        #{houseMaxArea},
      </if>
      <if test="buildingName != null" >
        #{buildingName},
      </if>
      <if test="buildingTitleImg != null" >
        #{buildingTitleImg},
      </if>
      <if test="status != null" >
        #{status},
      </if>
      <if test="true" >
        CURRENT_TIMESTAMP(0),
      </if>
      <if test="isDel != null" >
        #{isDel},
      </if>
      <if test="totalPrice != null" >
        #{totalPrice}
      </if>
    </trim>
  </insert>
</mapper>