$triangleBottomColor: #b1b1b1;
$triangleTopColor: #fb3939;
$borderLineColor: #ccc;
$borderRadiusColor: #999;

.none {
    display: none;
}
.category-box {
    position: relative;
    height: rem(110);
    background-color: #f2f2f2;
    z-index: 999;
    
    > ul {
        position: relative;
        display: flex;
        height: rem(94);
        line-height: rem(94);
        background-color: #fff;
        border-bottom: 1px solid $borderLineColor;
        z-index: 999;
        
        li {
            -webkit-flex: 1;
            @include font-dpr(30);
            text-align: center;
            
            span {
                display: inline-block;
                
                &:after {
                    position: relative;
                    top: rem(-3);
                    display: inline-block;
                    content: '';
                    width: 0;
                    height: 0;
                    margin-left: rem(12);
                    border-left: rem(12) solid transparent;
                    border-right: rem(12) solid transparent;
                    border-top: rem(12) solid $triangleBottomColor;
                }
            }
            
            &.current {
                span {
                    color: $triangleTopColor;
                    
                    &:after {
                        border-top: none;
                        border-bottom: rem(12) solid $triangleTopColor;
                    }
                }
            }
        }
    }
    .category-cont {
        position: absolute;
        width: 100%;
        z-index: 999;
        
        .content-right {
            overflow-y: auto;;
        }
        > div {
            display: flex;
            height: rem(500);
            background-color: $white;
            -webkit-box-shadow: 0 rem(4) rem(21) 0 rgba(56,58,64,0.14);
            -moz-box-shadow: 0 rem(4) rem(21) 0 rgba(56,58,64,0.14);
            box-shadow: 0 rem(4) rem(21) 0 rgba(56,58,64,0.14);
            overflow-y: scroll;;
    
            ul {
                -webkit-flex: 1;
        
                li {
                    height: rem(90);
                    line-height: rem(90);
                    padding: 0 rem(30);
                    @include font-dpr(30);
                    color: #666;
                    border-bottom: 1px solid $borderLineColor;
                    border-left: 1px solid $borderLineColor;
                    
                    &:last-child {
                        border-bottom: none;
                    }
                    
                    &.current {
                        color: $triangleTopColor;
                    }
                }
                
                &:first-child {
                    li {
                        border-left: none;
                    }
                }
                
                &.more {
                    li {
                        padding-bottom: rem(5);
                        height: auto;
        
                        h4 {
                            display: block;
                            padding-top: rem(20);
                            margin-bottom: rem(20);
                        }
        
                        .more-options {
                            display: flex;
                            zoom: 1;
                            justify-content: space-between;
                            flex-wrap: wrap;
            
                            span {
                                display: block;
                                width: rem(156);
                                height: rem(58);
                                line-height: rem(58);
                                margin-bottom: rem(22);
                                text-align: center;
                                border: 1px solid $borderRadiusColor;
                                -webkit-border-radius: rem(4);
                                -moz-border-radius: rem(4);
                                border-radius: rem(4);
                                
                                &:first-child {
                                    margin-left: 0;
                                }
                            }
                        }
                        
                        &:after {
                            visibility: hidden;
                            display: block;
                            clear: both;
                            content: '';
                            height: 0;
                            font-size: 0;
                        }
                    }
                }
            }
            .button-group {
                display: flex;
                position: absolute;
                bottom: rem(-90);
                left: 0;
                width: 100%;
                height: rem(90);
                text-align: center;
                background-color: $white;
                -webkit-box-shadow: 0 rem(-4) rem(21) 0 rgba(56,58,64,0.14), 0 rem(4) rem(21) 0 rgba(56,58,64,0.14);
                -moz-box-shadow: 0 rem(4) rem(21) 0 rgba(56,58,64,0.14), 0 rem(4) rem(21) 0 rgba(56,58,64,0.14);
                box-shadow: 0 rem(4) rem(21) 0 rgba(56,58,64,0.14), 0 rem(4) rem(21) 0 rgba(56,58,64,0.14);
                
    
                button {
                    -webkit-flex: 1;
                    background-color: #fff;
                    
                    &:first-child {
                        border-left: none;
                    }
                }
            }
            
            &.none {
                display: none;
            }
        }
    }
    
    .layout-mack {
        position: relative;
        width: 100%;
        height: auto;
        background-color: rgba(0,0,0,0.14);
    }
}
.hidden {
    position: fixed;
    overflow-y: hidden;
}