$borderLineColor: #ccc;
$triangleBottomColor: #b1b1b1;
$borderRadiusColor: #999;

.none {
    display: none;
}

.category-box {
    position: relative;
    z-index: 1;
    height: rem(110);
    background-color: #f2f2f2;

    > ul {
        position: relative;
        overflow: hidden;
        display: flex;
        background-color: $baseWhite;
        border-bottom: 1px solid $borderLineColor;
        z-index: 20;

        li {
            -webkit-flex: 1;
            flex: 1;
            width: 25%;
            height: rem(94);
            line-height: rem(94);
            text-align: center;
            @include font-dpr(30);

            span {
                position: relative;
                display: inline-block;
                padding-right: rem(36);
                padding-left: rem(10);
                max-width: 100%;
                @include box-sizing;

                em {
                    display: block;
                    @include text-ellipses;
                }

                i {
                    position: absolute;
                    top: rem(44);
                    right: 0;
                    display: block;
                    width: 0;
                    height: 0;
                    border-left: rem(12) solid transparent;
                    border-right: rem(12) solid transparent;
                    border-top: rem(12) solid $triangleBottomColor;
                }
            }

            &.current {
                span {
                    color: $baseRed;

                    i {
                        border-top: none;
                        border-bottom: rem(12) solid $baseRed;
                    }
                }
            }

            &.choose {
                span {
                    color: $baseRed;
                }
            }
        }
    }

    .category-cont {
        position: absolute;
        top: rem(94);
        width: 100%;
        background-color: $baseWhite;
        z-index: 1;


        .filter-item {
            position: absolute;
            width: 100%;
            background-color: $baseWhite;
            -webkit-box-shadow: 0 rem(-4) rem(21) 0 rgba(56, 58, 64, 0.14);
            box-shadow: 0 rem(-4) rem(21) 0 rgba(56, 58, 64, 0.14);
            -webkit-transition: transform .5s ease;
            transition: transform .5s ease;
            -webkit-transform: translate3d(0,-100%,0);
            transform: translate3d(0,-100%,0);

            .place-list, .price-list, .type-list {
                display: -webkit-flex;
                display: flex;
                max-height: rem(676);

                ul {
                    -webkit-flex: 1;
                    flex: 1;
                    max-height: 100%;
                    border-left: 1px solid $borderLineColor;
                    overflow-y: auto;

                    &:first-child {
                        border-left: none;
                    }
                }
            }
            .type-list {
                padding-bottom: rem(141);
                @include box-sizing;
            }

            .submit-wrapper {
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                height: rem(141);
                padding: rem(31) rem(30);
                text-align: center;
                background-color: $baseWhite;
                -webkit-box-shadow: 0 rem(-4) rem(21) 0 rgba(56, 58, 64, 0.14);
                box-shadow: 0 rem(-4) rem(21) 0 rgba(56, 58, 64, 0.14);
                @include box-sizing;

                .operation-button {
                    display: inline-block;
                    height: rem(80);
                    line-height: rem(80);
                    @include font-dpr(30);
                    color: $baseWhite;
                    -webkit-border-radius: rem(6);
                    border-radius: rem(6);

                    &.type-submit {
                        width: rem(450);
                        background-color: $baseRed;
                    }

                    &.more-reset, &.more-submit {
                        width: rem(325);
                    }

                    &.more-reset {
                        float: left;
                        background-color: $baseGray;
                    }

                    &.more-submit {
                        float: right;
                        background-color: $baseRed;
                    }
                }
            }

            li {
                position: relative;
                padding-left: rem(30);
                @include font-dpr(30);
                line-height: rem(92);
                border-bottom: 1px solid $borderLineColor;

                i {
                    position: absolute;
                    top: 50%;
                    right: rem(30);
                    width: rem(30);
                    height: rem(30);
                    margin-top: rem(-15);
                    border: rem(1) solid $baseRed;
                    @include box-sizing;
                }

                &.current {
                    color: $baseRed;

                    i {
                        @include bg-image('../images/global/list_pop_rb_red');
                        -webkit-background-size: contain;
                        background-size: contain;
                    }
                }
            }

            .more-list {
                padding-bottom: rem(141);
                max-height: rem(1000);
                overflow-y: auto;
                @include box-sizing;

                dl {
                    display: -webkit-flex;
                    display: flex;
                    flex-wrap: wrap;
                    padding: rem(20) rem(30);
                    border-bottom: 1px solid $borderLineColor;

                    dt {
                        margin-bottom: rem(20);
                        width: 100%;
                        @include font-dpr(28);
                        color: #666;
                    }

                    dd {
                        display: -webkit-flex;
                        display: flex;
                        flex-wrap: wrap;
                        margin-left: rem(-11);
                        margin-right: rem(-11);

                        span {
                            width: rem(155);
                            height: rem(58);
                            line-height: rem(56);
                            text-align: center;
                            margin: rem(11);
                            border: rem(1) solid $borderLineColor;
                            -webkit-border-radius: rem(6);
                            border-radius: rem(6);
                            @include box-sizing;

                            &.current {
                                color: $baseRed;
                                border-color: $baseRed;
                            }
                        }
                    }
                }
            }

            &.active {
                -webkit-transform: translate3d(0,0,0);
                transform: translate3d(0,0,0);
                z-index: 99;
            }
        }

    }
}
.global-mark {

    &:after {
        content: '';
        position: fixed;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,0.5);
    }
}