$baseBlack: #3a3a3a;
$baseWhite: #fff;
$baseRed: #fb3939;
$baseGreen: #3bbc6c;
$baseGray: #747788;
$baseModuleFillColor: #f2f2f2;
$baseGray9: #999;
$borderRadiusColor: #999;
$borderLineColor: #ccc;

.high-light-red {
    color: $baseRed !important;
}

@mixin font-dpr($font-size) {
    [data-dpr="1"] & {
        font-size: #{$font-size / 2}px ;
    }
    
    [data-dpr="2"] & {
        font-size: #{$font-size}px;
    }
    
    [data-dpr="3"] & {
        font-size: #{$font-size * 1.5}px;
    }
}

$baseFontSize: 75;
$FontSize: 16;
@mixin px2rem($name, $px1) {
    #{$name}: ($px1 / $baseFontSize) * 1rem;
}


@mixin bg-image($url) {
    background-image: url($url + ".png");
    background-repeat: no-repeat;
    @media (-webkit-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2) {
        background-image: url($url + "@2x.png");
    }
    @media (-webkit-min-device-pixel-ratio: 3), (min-device-pixel-ratio: 3) {
        background-image: url($url + "@3x.png");
    }
}

@mixin box-sizing {
    box-sizing: border-box;
}

@mixin text-ellipses {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@function rem($values) {
    $list: ();
    @each $value in $values {
        $list: #{$value/75}rem;
    }
    @return $list;
}

.module-bottom-fill {
    padding-bottom: rem(16);
    background-color: $baseModuleFillColor;
    
    > section {
        background-color: $baseWhite;
    }
}

.house-labelling {
    white-space: nowrap;
    overflow: hidden;

    &.normal, &.gray {
        span {
            @include font-dpr(20);
            height: rem(32);
            line-height: rem(32);
            padding-left: rem(20);
            padding-right: rem(20);
            margin-right: rem(6);
        }
    }

    &.middle {
        span {
            height: rem(30);
            line-height: rem(30);
            padding-left: rem(12);
            padding-right: rem(12);
        }
    }

    &.gray {
        span {
            color: $baseWhite;
            background-color: $baseGray;
        }
    }

    &.normal {
        span {
            color: $baseGray9;
            border-color: $baseGray9;
            border: 1px solid $baseGray9;
        }
    }

    &.small {
        span {
            @include font-dpr(18);
            height: rem(25);
            line-height: rem(25);
            padding-left: rem(10);
            padding-right: rem(10);
            margin-right: rem(2);
        }
    }

    span {
        display: inline-block;
        -webkit-border-radius: rem(6);
        -moz-border-radius: rem(6);
        border-radius: rem(6);

        &:last-child {
            margin-right: 0;
        }
    }

}

.fixed-scroll {
    position: fixed;
    width: 100%;
    height: 100%;
    overflow: hidden;
}