html {
    background-color: #fff;
    -webkit-text-size-adjust: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body, p, h1, h2, h3, h4, h5, h6, ul, ol, dl, dd, fieldset, legend, input, button, textarea, option, hr {
    margin: 0;
    padding: 0;
}

body {
    line-height: 1.2;
    margin: 0 auto;
    -webkit-overflow-scrolling: touch;
    color: #3a3a3a;
}

input, button, select, textarea {
    line-height: 1.2;
    font-size: 100%;
    vertical-align: middle;
    outline: none;
    color: #3a3a3a;
}

input, button {
    border: none;
    border-radius: 0;
}

textarea {
    resize: none;
}

button, input[type='button'], input[type='reset'], input[type='submit'] {
    cursor: pointer;
    -webkit-appearance: button;
    -moz-appearance: button;
}

input:focus::-moz-placeholder, input:focus::-webkit-input-placeholder {
    color: transparent;
}

a {
    color: #999;
    text-decoration: none;
}

a:focus {
    outline: none;
}

a, input, button, select, textarea {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

em, i {
    font-style: normal;
}

ul, ol {
    list-style: none;
}

h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
    font-weight: normal;
}

fieldset, img {
    border: none;
}

img {
    vertical-align: middle;
}

a, img {
    -webkit-touch-callout: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

hr {
    border-style: solid;
    border-width: 1px 0 0 0;
}