.primary-message {
    .primary-header {
        position: relative;
        padding: rem(40) rem(30);
        border-bottom: 1px solid $baseBorderColor;
        
        h2 {
            @include font-dpr(40);

            .sale-state {
                position: relative;
                top: rem(-6);
                display: inline-block;
                padding: 0 rem(12);
                height: rem(28);
                line-height: rem(28);
                margin-left: rem(24);
                vertical-align: middle;
                @include font-dpr(20);
                color: $baseRed;
                border: 1px solid $baseRed;
                -webkit-border-radius: rem(4);
                border-radius: rem(4);
            }
        }

        p {
            margin-top: rem(18);
            @include font-dpr(24);
            color: #999;
        }
        
        .primary-header-tag {
            margin-top: rem(20);
        }
        
        &.text-center {
            text-align: center;

            h2 {
                @include font-dpr(34);
            }

            .primary-header-tag {
                margin-top: rem(24);
            }
        }

        .isopsophic-air-index {
            position: absolute;
            right: rem(30);
            top: rem(44);

        }
    }

    ul.primary-item {

        > li {
            padding: rem(20) rem(30);
            line-height: rem(47);
            @include font-dpr(26);
            border-bottom: 1px solid $baseBorderColor;

            ol {
                display: -webkit-flex;
                display: flex;
                margin: 0 rem(-30);
                padding: rem(3) 0;

                li {
                    -webkit-flex: 1;
                    flex: 1;
                    text-align: center;
                    border-left: 1px solid $baseBorderColor;

                    span {
                        display: block;
                    }

                    em {
                        display: block;
                        @include font-dpr(30);
                        color: $baseRed;
                    }

                    &:first-child {
                        border-left: none;
                    }
                }
            }

            p {
                position: relative;

                .primary-distance {
                    margin-left: rem(20);
                }

                .primary-map-icon {
                    display: inline-block;
                    width: rem(36);
                    height: rem(47);
                    margin-left: rem(10);
                    vertical-align: top;
                    @include bg-image('/static/images/global/primary_map_icon');
                    background-position: center;
                }

                .arrows-right {
                    position: absolute;
                    top: 0;
                    right: 0;
                    display: block;
                    width: rem(17);
                    height: rem(47);
                    @include bg-image('/static/images/global/arrows_right_icon');
                    background-position: center;
                }
            }

            .module-table-item {
                padding: 0;
            }
        }
    }
}

.module-table-item {
    line-height: rem(47);
    padding: rem(20) rem(30);
    @include font-dpr(26);
    
    dd {
        display: inline-block;
        margin-bottom: rem(20);
        
        &.odd-item {
            width: 56%;
        }
        
        &.even-item {
            width: 41%;
            padding-left: rem(10);
            @include box-sizing;
        }
        
        &:nth-last-child(2) {
            margin-bottom: 0;
        }
        &:nth-last-child(1) {
            margin-bottom: 0;
        }
    }
    
    dt {
        margin-bottom: rem(20);
        
        &:last-child {
            margin-bottom: 0;
        }
    }
}

.module-header-message {
    position: relative;
    height: rem(114);
    line-height: rem(114);
    padding: 0 rem(30);
    @include font-dpr(30);
    border-bottom: 1px solid $baseBorderColor;

    .subtitle {
        display: inline-block;
        line-height: 1;
        margin-left: rem(10);
        padding-left: rem(10);
        @include font-dpr(24);
        color: #999;
        border-left: rem(1) solid #999;
    }

    .markets-btn {
        position: absolute;
        right: rem(30);
        top: 0;
        height: 100%;
        
        .price-trend-btn, .supply-contrast-btn {
            display: inline-block;
            width: rem(28);
            height: rem(114);
            background-position: left center;
            background-size: auto rem(27);

            &.current {
                background-position: right center;
            }
        }

        .price-trend-btn {
            margin-right: rem(20);
            @include bg-image('/static/images/plot/xfxq_schq_icon_jg_grey');
        }

        .supply-contrast-btn {
            @include bg-image('/static/images/plot/xfxq_schq_icon_gx_red');
        }
    }
    
    .more-arrows {
        position: absolute;
        top: 0;
        right: rem(30);
        @include font-dpr(24);
        color: #999;

        .arrows-right, .arrows-expand {
            position: relative;
            display: inline-block;
            margin-left: rem(10);
            vertical-align: middle;
            background-position: center;
        }
        
        .arrows-right {
            top: rem(-4);
            width: rem(17);
            height: rem(114);
            @include bg-image('/static/images/global/arrows_right_icon');
        }

        .arrows-expand {
            top: 0;
            width: rem(44);
            height: rem(114);
            @include bg-image('/static/images/global/arrows_bottom_icon');
        }

        &.expand {
            .arrows-expand {
                @include bg-image('/static/images/global/arrows_top_icon');
            }
        }
    }
}

.plot-primary-header {
    position: relative;
    padding: rem(40) rem(30);

    .plot-primary-text {
        width: rem(510);
        overflow: hidden;

        h2, p {
            @include text-ellipses;
        }
    }

    h2 {
        @include font-dpr(34);
    }

    p {
        margin-top: rem(33);
        @include font-dpr(26);
        color: #666;

        &:first-child {
            margin-top: 0;
        }
    }

    .house-labelling {
        margin-top: rem(36);
        overflow-x: scroll;
        text-overflow: clip;
    }

    .plot-primary-map-box {
        position: absolute;
        bottom: rem(53);
        right: rem(30);
        width: rem(168);
        height: rem(168);
        -webkit-border-radius: 50%;
        border-radius: 50%;
        background-color: #efeff0;

        img {
            width: 100%;
            height: 100%;
        }
    }
}

.expand-content {
    display: none;
    padding: rem(40) rem(30);

    .map-education-box {
        margin-bottom: rem(40);

        ul {
            width: 100%;
            display: flex;
            justify-content: center;
            white-space: nowrap;
            overflow-x: scroll;

            li {
                position: relative;
                display: inline-block;
                width: 3em;
                margin: 0 rem(40);
                @include font-dpr(26);
                text-align: center;
                white-space: nowrap;

                i {
                    display: block;
                    width: rem(66);
                    height: rem(66);
                    margin: 0 auto rem(20);
                    background-position: left center;
                    -webkit-background-size: auto rem(66);
                    background-size: auto rem(66);
                }

                &.parent-child {
                    i {
                        @include bg-image('/static/images/plot/xqxq_jy_icon1_w');
                    }
                }
                &.kindergarten {
                    i {
                        @include bg-image('/static/images/plot/xqxq_jy_icon2_red');
                    }
                }
                &.primary-school {
                    i {
                        @include bg-image('/static/images/plot/xqxq_jy_icon3_w');
                    }
                }
                &.middle-school {
                    i {
                        @include bg-image('/static/images/plot/xqxq_jy_icon4_w');
                    }
                }
                &.university {
                    i {
                        @include bg-image('/static/images/plot/xqxq_jy_icon5_w');
                    }
                }

                &:before {
                    content: '';
                    position: absolute;
                    right: rem(70);
                    top: rem(26);
                    width: rem(78);
                    height: rem(17);
                    @include bg-image('/static/images/plot/xqxq_jy_icon0');
                    background-position: top center;
                    -webkit-background-size: cover;
                    background-size: cover;
                }

                &:nth-child(1) {
                    &:before {
                        display: none;
                    }
                }

                &.current {
                    span {
                        color: $baseRed;
                    }

                    i {
                        background-position: center;
                    }

                    &:before {
                        background-position: bottom center;
                    }
                }

                &.choose {
                    i {
                        background-position: right center;
                    }

                    &:before {
                        background-position: bottom center;
                    }
                }
            }
        }
    }

    .map-shopping-box {
        position: relative;
        padding-top: rem(200);
        margin-bottom: rem(70);

        .map-message-btn {

            li {
                display: inline-block;
                position: absolute;
                bottom: 0;

                span {
                    position: absolute;
                    top: rem(-50);
                    display: block;
                    width: rem(78);
                    @include font-dpr(26);
                    text-align: center;
                    white-space: nowrap;
                }

                i {
                    display: block;
                    width: rem(72);
                    background-position: right bottom;
                }

                &.current{
                    span {
                        color: $baseRed;
                    }

                    i {
                        background-position: left bottom;
                    }
                }

                &.vegetable-market {
                    left: 2.9%;

                    i {
                        height: rem(182);
                        @include bg-image('/static/images/plot/xqxq_csc');
                        -webkit-background-size: auto rem(182);
                        background-size: auto rem(182);
                    }
                }
                &.supermarket {
                    left: 20.4%;

                    i {
                        height: rem(209);
                        @include bg-image('/static/images/plot/xqxq_cs');
                        -webkit-background-size: auto rem(209);
                        background-size: auto rem(209);
                    }
                }
                &.shopping-mall {
                    right: 31.8%;

                    i {
                        height: rem(247);
                        @include bg-image('/static/images/plot/xqxq_sc');
                        -webkit-background-size: auto rem(247);
                        background-size: auto rem(247);
                    }
                }
                &.dining-room {
                    right: 17.7%;

                    i {
                        height: rem(178);
                        @include bg-image('/static/images/plot/xqxq_ct');
                        -webkit-background-size: auto rem(178);
                        background-size: auto rem(178);
                    }
                }
                &.fitness {
                    right: 0.9%;

                    i {
                        height: rem(195);
                        @include bg-image('/static/images/plot/xqxq_js');
                        -webkit-background-size: auto rem(195);
                        background-size: auto rem(195);
                    }
                }
            }
        }
    }

    .result-data-expand {
        width: 100%;
        padding-left: rem(30);
        padding-right: rem(30);
        border: rem(1) solid $baseWhite;
        -webkit-box-shadow: 0 rem(5) rem(18) 0 rgba(107, 63, 63, 0.17);
        box-shadow: 0 rem(5) rem(18) 0 rgba(107, 63, 63, 0.17);
        @include box-sizing;

        li {
            height: rem(100);
            line-height: rem(100);
            @include font-dpr(26);
            border-bottom: rem(1) solid $baseBorderColor;

            p {
                display: inline-block;
                @include text-ellipses;
            }

            .expand-icon {
                display: inline-block;
                margin-right: rem(10);
                -webkit-background-size: contain;
                background-size: contain;

                &.expand-radius {
                    width: rem(36);
                    height: rem(36);
                    line-height: rem(36);
                    margin-right: rem(20);
                    text-align: center;
                    color: $baseWhite;
                    -webkit-border-radius: 50%;
                    border-radius: 50%;
                    background-color: $baseRed;
                }

                &.living-cost {
                    width: rem(36);
                    height: rem(36);
                    vertical-align: middle;
                    @include bg-image('/static/images/plot/xqxq_shcb_icon');
                }

                &.medical-treatment {
                    width: rem(32);
                    height: rem(32);
                    vertical-align: middle;
                    @include bg-image('/static/images/plot/xqxq_yl_icon')
                }
            }

            .expand-name {
                display: inline-block;
                line-height: 1;
                vertical-align: middle;
                max-width: rem(440);
                @include text-ellipses;
            }

            .expand-type {
                display: inherit;
                min-width: rem(90);
                color: #777;
                margin-right: rem(10);
            }

            .expand-distance {
                float: right;
                @include font-dpr(24);
                color: #888;

                &.tips {
                    @include font-dpr(20);
                }
            }

            &:last-child {
                border-bottom: none;
            }
        }

        &.height-type {
            li {
                height: rem(120);
                line-height: rem(120);

                .expand-name {

                    em {
                        display: block;
                        @include text-ellipses;

                        &:nth-child(2) {
                            margin-top: rem(10);
                        }

                        &.star-box {
                            i {
                                display: inline-block;
                                width: rem(25);
                                height: rem(23);
                                margin-right: rem(3);
                                -webkit-background-size: contain;
                                background-size: contain;

                                &.star-icon {
                                    @include bg-image('/static/images/plot/xqxq_icon_star');
                                }

                                &.red-star {
                                    @include bg-image('/static/images/plot/xqxq_icon_star_red');
                                }
                            }

                        }
                    }
                }
            }
        }
    }
}

.detail-map {
    position: relative;
    display: block;
    padding: 0 0 rem(40);

    img {
        width: 100%;
        height: auto !important;
    }

    .map-marker-icon {
        position: absolute;
        top: 50%;
        left: 50%;
        display: block;
        width: rem(54);
        height: rem(75);
        margin: rem(-37) rem(-27);
        @include bg-image('/static/images/map/zbpt_icon_zb');
        -webkit-background-size: contain;
        background-size: contain;
    }
}

.basic-information {
    padding: rem(25) rem(15);

    .column {
        display: -webkit-flex;
        display: flex;
        justify-content: center;

        .info-card-item {
            -webkit-flex: 1;
            flex: 1;
            width: 0;
            margin: rem(15) rem(15);
            @include font-dpr(28);
            border: rem(1) solid $baseBorderColor;
            -webkit-border-radius: rem(4);
            border-radius: rem(4);
            -webkit-box-shadow: 0 rem(7) rem(12) 0 rgba(85, 33, 33, 0.1);
            box-shadow: 0 rem(7) rem(12) 0 rgba(85, 33, 33, 0.1);

        }

        &.item-only-one {
            margin-bottom: rem(10);

            .info-card-item {
                line-height: rem(40);
                padding: rem(26) rem(37) rem(28);
                text-align: justify;
            }
        }

        &.item-column-two {
            .info-card-item {
                padding: rem(26) rem(37) rem(29);

                i {
                    position: relative;
                    top: rem(26);
                    display: inline-block;
                    width: rem(52);
                    height: rem(52);
                    margin-right: rem(25);
                    vertical-align: top;
                    background-position: center;

                    &.item-two-1 {
                        @include bg-image('/static/images/plot/xfxq_jbxx_icon_lh');
                    }
                    &.item-two-2 {
                        @include bg-image('/static/images/plot/xfxq_jbxx_icon_cw');
                    }
                    &.item-two-3 {
                        @include bg-image('/static/images/plot/xfxq_jbxx_icon_dt');
                    }
                    &.item-two-4 {
                        @include bg-image('/static/images/plot/xfxq_jbxx_icon_kq');
                    }
                }

                .info-item-text {
                    display: inline-block;
                    width: rem(165);
                    @include text-ellipses;

                    p {
                        margin-top: rem(11);
                        margin-bottom: rem(28);
                        @include font-dpr(24);
                        color: #777;
                    }
                }
            }
        }

        &.item-column-three {
            text-align: center;

            .info-card-item {
                padding: rem(20) rem(30) rem(24);
                @include font-dpr(24);

                i {
                    position: relative;
                    top: 0;
                    display: inline-block;
                    width: rem(40);
                    height: rem(40);
                    margin-bottom: rem(20);
                    vertical-align: top;
                    background-position: center;

                    &.item-three-1 {
                        @include bg-image('/static/images/plot/xfxq_jtxx_icon_bus');
                    }
                    &.item-three-2 {
                        @include bg-image('/static/images/plot/xfxq_jtxx_icon_subway');
                    }
                    &.item-three-3 {
                        @include bg-image('/static/images/plot/xfxq_jtxx_icon_car');
                    }
                }

                em, span {
                    display: block;
                    @include text-ellipses;
                }

                p {
                    @include text-ellipses;
                }

                em {
                    margin-bottom: rem(36);
                    color: #666;
                }

                span {
                    margin-top: rem(15);
                    color: #999;
                }
            }
        }
    }

    &.price-trend {
        .column {
            &.item-column-three {
                .info-card-item {
                    padding: rem(30);

                    em {
                        margin-bottom: rem(20);
                    }

                    p {
                        @include font-dpr(28);
                        color: $baseRed;
                        @include text-ellipses;

                        &.green {
                            color: #3bbc6c;
                        }
                    }
                }
            }
        }
    }

    &.supply-contrast {
        .column {
            &.item-column-two {
                .info-card-item {
                    padding: rem(25) rem(30) rem(32);
                    text-align: center;

                    em {
                        margin-bottom: rem(24);
                    }

                    table {
                        margin: rem(20) auto 0;
                        @include font-dpr(22);

                        td {
                            padding-bottom: rem(20);
                        }

                        tr:nth-child(3) {
                            td {
                                padding-bottom: 0;
                            }
                        }

                        td:nth-child(1) {
                            text-align: right;
                            color: #888;
                        }
                        td:nth-child(2) {
                            text-align: left;
                        }
                    }
                    p {
                        @include font-dpr(22);
                        white-space: nowrap;
                        color: #888;
                    }
                }
            }
        }
    }
}

.echarts-box {
    height: rem(500);
    padding-top: rem(30);

    .echarts-content {
        width: 100%;
        height: rem(500);
        margin: 0 auto;
    }
}