@import "../libs/photoswipe-main";
@import "../libs/default-skin/default-skin";

.carousel-swiper {
    position: relative;
    height: rem(400);
    
    .banner-title {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: rem(50);
        padding: 0 rem(30);
        z-index: 99;
        @include box-sizing;
        color: $baseWhite;
        
        div {
            display: inline-block;
            height: rem(33);
            line-height: rem(33);
            @include font-dpr(20);
            padding: 0 rem(16);
            background-color: rgba(95,103,137,0.8);
            
            &.banner-house-number {
                -webkit-border-radius: rem(4);
                border-radius: rem(4);
            }
            
            &.pictrue-index {
                position: relative;
                bottom: 0;
                width: auto;
                float: right;
                -webkit-border-radius: rem(16);
                border-radius: rem(16);
            }
        }
        
    }
    
    img {
        width: 100%;
    }
}