$detailBorderColor: #e1e1e1;

.primary-message {
    .primary-header {
        padding: rem(40) rem(30);
        border-bottom: 1px solid $detailBorderColor;
        
        h2 {
            @include font-dpr(40);

            .sale-state {
                position: relative;
                top: rem(-6);
                display: inline-block;
                padding: 0 rem(12);
                height: rem(28);
                line-height: rem(28);
                margin-left: rem(24);
                vertical-align: middle;
                @include font-dpr(20);
                color: $baseRed;
                border: 1px solid $baseRed;
                -webkit-border-radius: rem(4);
                -moz-border-radius: rem(4);
                border-radius: rem(4);
            }
        }

        p {
            margin-top: rem(18);
            @include font-dpr(24);
            color: #999;
        }
        
        .primary-header-tag {
            margin-top: rem(20);
            
            span {
                display: inline-block;
                height: rem(34);
                line-height: rem(34);
                padding: 0 rem(17);
                margin: 0 rem(4);
                color: $baseWhite;
                background-color: $baseGray;
                -webkit-border-radius: rem(6);
                -moz-border-radius: rem(6);
                border-radius: rem(6);
    
            }
        }
        
        &.text-center {
            text-align: center;

            h2 {
                @include font-dpr(34);
            }

            .primary-header-tag {
                margin-top: rem(24);
            }
        }
    }

    ul.primary-item {

        > li {
            padding: rem(20) rem(30);
            line-height: rem(47);
            @include font-dpr(26);
            border-bottom: 1px solid $detailBorderColor;

            ol {
                display: flex;
                margin: 0 rem(-30);
                padding: rem(3) 0;

                li {
                    -webkit-flex: 1;
                    flex: 1;
                    text-align: center;
                    border-left: 1px solid $detailBorderColor;

                    span {
                        display: block;
                    }

                    em {
                        display: block;
                        @include font-dpr(30);
                        color: $baseRed;
                    }

                    &:first-child {
                        border-left: none;
                    }
                }
            }

            p {
                position: relative;

                .primary-distance {
                    margin-left: rem(20);
                }

                .primary-map-icon {
                    display: inline-block;
                    width: rem(36);
                    height: rem(47);
                    margin-left: rem(10);
                    vertical-align: top;
                    @include bg-image('../images/global/primary_map_icon');
                    background-position: center;
                }

                .arrows-right {
                    position: absolute;
                    top: 0;
                    right: 0;
                    display: block;
                    width: rem(17);
                    height: rem(47);
                    @include bg-image('../images/global/arrows_right_icon');
                    background-position: center;
                }
            }

            .module-table-item {
                padding: 0;
            }
        }
    }
}

.module-table-item {
    line-height: rem(47);
    padding: rem(20) rem(30);
    @include font-dpr(26);
    
    dd {
        display: inline-block;
        margin-bottom: rem(20);
        
        &.odd-item {
            width: rem(390);
        }
        
        &.even-item {
            width: rem(290);
            padding-left: rem(10);
            @include box-sizing;
        }
        
        &:nth-last-child(2) {
            margin-bottom: 0;
        }
        &:nth-last-child(1) {
            margin-bottom: 0;
        }
    }
    
    dt {
        margin-bottom: rem(20);
        
        &:last-child {
            margin-bottom: 0;
        }
    }
}

.module-header-message {
    position: relative;
    height: rem(114);
    line-height: rem(114);
    padding: 0 rem(30);
    @include font-dpr(30);
    border-bottom: 1px solid $detailBorderColor;
    
    .more-arrows {
        position: absolute;
        top: 0;
        line-height: rem(114);
        right: rem(30);
        @include font-dpr(24);
        color: #999;
        
        .arrows-right {
            position: relative;
            top: rem(-4);
            display: inline-block;
            width: rem(17);
            height: rem(114);
            margin-left: rem(10);
            vertical-align: middle;
            @include bg-image('../images/global/arrows_right_icon');
            background-position: center;
        }
    }
}