.elastics-stack-box {
    padding-left: rem(30);
    padding-right: rem(30);

    .elastics-stack-content {
        padding-top: rem(30);
        padding-bottom: rem(40);
        border-bottom: rem(1) solid $baseBorderColor;

        .elastics-stack {
            position: relative;
            width: rem(690);
            height: rem(190);
            margin: 0 auto;
            -webkit-perspective: rem(690);
            perspective: rem(690);
            -webkit-perspective-origin: 150% 50%;
            perspective-origin: 150% 50%;
            @include box-sizing;

            li {
                position: absolute;
                z-index: 1;
                width: rem(630);
                height: rem(190);
                padding: rem(15) rem(15) rem(15) rem(30);
                cursor: pointer;
                opacity: 0;
                overflow: hidden;
                -webkit-border-radius: rem(10);
                border-radius: rem(10);
                -webkit-box-shadow: 0 rem(16) rem(16) 0 rgba(137, 136, 136, 0.24);
                        box-shadow: 0 rem(16) rem(16) 0 rgba(137, 136, 136, 0.24);
                -webkit-transform: translate3d(0, 0, rem(-180));
                        transform: translate3d(0, 0, rem(-180));
                -webkit-transform-style: preserve-3d;
                        transform-style: preserve-3d;
                @include box-sizing;

                &.bgtype-1 {
                    background-color: #f4f0e5;
                    color: #99622d;
                    a {
                        display: block;
                        color: #99622d;
                    }
                }
                &.bgtype-2 {
                    background-color: #d1e2e1;
                    color: #4c8477;
                    a {
                        display: block;
                        color: #4c8477;
                    }
                }
                &.bgtype-3 {
                    background-color: #e5dde7;
                    color: #704b70;
                    a {
                        display: block;
                        color: #704b70;
                    }
                }

                &.animate {
                    -webkit-transition: all 0.3s ease-out;
                            transition: all 0.3s ease-out;
                }

                &.move-back {
                    -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.470, 1);
                    -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.470, 1.515);
                    transition-timing-function: cubic-bezier(0.175, 0.885, 0.470, 1.515);
                }

                div {
                    float: left;

                    h4 {
                        margin-top: rem(36);
                        @include font-dpr(34);
                    }

                    p {
                        margin-top: rem(17);
                        @include font-dpr(23)
                    }
                }

                img {
                    float: right;
                    width: rem(280);
                    height: rem(160);
                    padding: rem(5);
                    background-color: #fff;
                    @include box-sizing;
                }
            }
        }
    }

}

.no-js {
    .elastics-stack{
        li {
            position: relative;
            display: inline-block;
            opacity: 1!important;
            margin: 10px;
            cursor: default;
            -webkit-transform: translate3d(0,0,0) !important;
            transform: translate3d(0,0,0) !important;
        }
    }
}

[data-drp='3'].elastics-stack {
    -webkit-perspective-origin: 180% 50%;
    perspective-origin: 180% 50%;
}

@media screen and ( -webkit-min-device-pixel-ratio : 3 ) {
    .elastics-stack-box {
        .elastics-stack-content {
            .elastics-stack {
                -webkit-perspective-origin: 180% 50%;
                perspective-origin: 180% 50%;
            }
        }
    }
}