$inteBlack: #0a0724;
$inteBorderRed: #fb3939;
$inteBorderBlack: #000;
$inteColorRed: #e42929;
$inteTextColorRed: #f25a5a;

.bgbox {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #f0f0f0;
}

.button {
    color: $baseWhite;
    text-align: center;
    background-color: $inteBlack;
    -webkit-border-radius: rem(4);
    border-radius: rem(4);
}

.page1 {
    .fp-scroller {
        height: 100%;
    }

    .bg1 {
        @include bg-image('/static/images/intelligent/znzf_user_bg');
        background-repeat: repeat-y;
        background-position: center;
        -webkit-background-size: cover;
        background-size: cover;
    }
    .page-content {
        position: relative;
        top: 0;
        height: 100%;
        @include font-dpr(24);

        .user-header-title {
            padding-top: 5%;
            padding-bottom: 10%;
            line-height: rem(36);
            text-align: center;
        }

        .user-header-box {
            position: relative;
            width: rem(278);
            height: rem(278);
            padding: rem(14);
            margin: 0 auto;
            @include box-sizing;

            &:before, &:after {
                content: '';
                position: absolute;
                left: 0;
                width: rem(18);
                height: rem(18);
                border-left: rem(2) solid $inteBorderRed;
                @include box-sizing;
            }

            &:before {
                top: 0;
                border-top: rem(2) solid $inteBorderRed;
            }

            &:after {
                bottom: 0;
                border-bottom: rem(2) solid $inteBorderRed;
            }

            .user-line-triangle {
                &:before, &:after {
                    content: '';
                    position: absolute;
                    right: 0;
                    width: rem(18);
                    height: rem(18);
                    border-right: rem(2) solid $inteBorderRed;
                    @include box-sizing;
                }
                &:before {
                    top: 0;
                    border-top: rem(2) solid $inteBorderRed;
                }
                &:after {
                    bottom: 0;
                    border-bottom: rem(2) solid $inteBorderRed;
                }
            }

            img {
                width: rem(254);
                height: rem(254);
            }
        }

        .word-cont {
            width: 64%;
            margin: 0 auto;
            padding: rem(74) 0;
            line-height: rem(48);
            text-align: justify;

            p {
                text-indent: 2em;
            }

            ol {
                margin-top: rem(30);
            }
        }

        .down-triangle {
            position: absolute;
            left: 50%;
            bottom: rem(80);
            width: rem(66);
            height: rem(56);
            margin: 0 rem(-33);
            @include bg-image('/static/images/intelligent/intelligent-down-link');
            -webkit-background-size: contain;
            background-size: contain;
            -webkit-animation: upDown 1s infinite alternate;
            animation: upDown 1s infinite alternate;
        }

        @keyframes upDown{
            from {
                bottom: rem(80);
            }
            to {
                bottom: rem(60);
            }
        }
        @-webkit-keyframes upDown{
            from {
                bottom: rem(80);
            }
            to {
                bottom: rem(60);
            }
        }
    }
}

.page2 {
    .inte-color-red {
        color: $inteTextColorRed !important;
    }

    .page-content {
        position: relative;
        height: 100%;
        @include font-dpr(24);

        .header-summary-box {
            padding: rem(60) rem(30) rem(80);

            .header-summary {
                position: relative;
                width: 100%;
                padding: rem(50) rem(30) rem(50) rem(50);
                @include bg-image('/static/images/intelligent/header-summary');
                -webkit-background-size: 100% 100%;
                background-size: 100% 100%;
                @include box-sizing;

                &:after {
                    content: '';
                    position: absolute;
                    bottom: rem(-38);
                    left: 50%;
                    width: rem(122);
                    height: rem(28);
                    margin-left: rem(-61);
                    @include bg-image('/static/images/intelligent/header-summary-triangle');
                    -webkit-background-size: 100% 100%;
                    background-size: 100% 100%;
                }

                p {
                    line-height: rem(40);
                    @include font-dpr(26);

                    &:nth-child(1) {
                        color: #555;
                    }
                    &:nth-child(2) {
                        margin-top: rem(15);
                        color: #888;
                    }
                }
            }
        }

        .module-item {
            position: relative;
            padding: rem(70) rem(30) rem(70);

            &.type2 {
                padding-top: rem(100);
            }

            &:before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: rem(110);
                opacity: 0.4;
                background-image: -moz-linear-gradient( -90deg, rgb(234,234,234) 0%, rgba(234,234,234,0.02) 98%, rgb(234,234,234) 100%);
                background-image: -webkit-linear-gradient( -90deg, rgb(234,234,234) 0%, rgba(234,234,234,0.02) 98%, rgb(234,234,234) 100%);
                background-image: -ms-linear-gradient( -90deg, rgb(234,234,234) 0%, rgba(234,234,234,0.02) 98%, rgb(234,234,234) 100%);
            }

            .report-title-type1 {
                position: relative;
                margin-bottom: rem(50);
                text-align: center;

                &:before {
                    content: '';
                    position: absolute;
                    top: 50%;
                    left: 0;
                    width: 100%;
                    height: rem(1);
                    background-color: $inteBlack;
                }

                p {
                    position: relative;
                    display: inline-block;
                    padding-left: rem(60);
                    padding-right: rem(60);
                    @include font-dpr(32);
                    background-color: #fdfdfd;

                    &:before, &:after {
                        content: '';
                        position: absolute;
                        top: 50%;
                        width: rem(23);
                        height: rem(32);
                        margin-top: rem(-16);
                        background-position: center;
                        -webkit-background-size: contain;
                        background-size: contain;
                    }
                    &:before {
                        left: rem(8);
                        @include bg-image('/static/images/intelligent/bgy_ys_l');
                    }
                    &:after {
                        right: rem(8);
                        @include bg-image('/static/images/intelligent/bgy_ys_r');
                    }
                }
            }

            .plot-title-box {
                position: relative;
                width: 100%;
                height: rem(70);
                margin-bottom: rem(32);
                margin-top: rem(85);

                .plot-title-block {
                    position: absolute;
                    top: 0;
                    width: 100%;
                    height: rem(70);

                    div {
                        float: left;
                        width: 14.5%;
                        height: rem(70);
                        line-height: rem(70);
                        text-align: center;
                        background-color: #e0e0e0;
                    }

                    ul {
                        display: table-row;
                        float: right;
                        width: 85.5%;
                        text-align: center;

                        li {
                            position: relative;
                            display: table-cell;
                            width: 20%;
                            height: rem(70);
                            padding: rem(7);
                            color: $baseWhite;
                            vertical-align: middle;
                            @include box-sizing;
                            @include font-dpr(20);

                            &:after {
                                content: '';
                                position: absolute;
                                bottom: rem(-16);
                                left: 0;
                                width: 0;
                                height: 0;
                                border-left: rem(59) solid transparent;
                                border-right: rem(59) solid transparent;
                            }

                            &:nth-child(1) {
                                background-color: #455765;

                                &:after {
                                    border-top: rem(17) solid #455765;
                                }
                            }
                            &:nth-child(2) {
                                background-color: #f25a5a;

                                &:after {
                                    border-top: rem(17) solid #f25a5a;
                                }
                            }
                            &:nth-child(3) {
                                background-color: #fece6c;

                                &:after {
                                    border-top: rem(17) solid #fece6c;
                                }
                            }
                            &:nth-child(4) {
                                background-color: #7f7f7f;

                                &:after {
                                    border-top: rem(17) solid #7f7f7f;
                                }
                            }
                            &:nth-child(5) {
                                background-color: #4a7aa3;

                                &:after {
                                    border-top: rem(17) solid #4a7aa3;
                                }
                            }
                        }
                    }
                }
            }

            .report-title-type2 {
                position: absolute;
                top: 0;
                left: rem(30);
                right: rem(30);
                border-top: rem(1) solid $inteTextColorRed;
                text-align: center;

                p {
                    position: relative;
                    top: rem(-11);
                    left: 50%;
                    width: rem(330);
                    height: rem(73);
                    line-height: rem(73);
                    margin-left: rem(-165);
                    color: $baseWhite;
                    @include font-dpr(32);
                    @include bg-image('/static/images/intelligent/report-type2-bg');
                    -webkit-background-size: contain;
                    background-size: contain;
                }

                span {
                    display: block;
                    color: #888;
                    @include font-dpr(22);
                }
            }

            .show-echart-detail {
                display: block;
                width: rem(44);
                height: rem(44);
                margin: rem(60) auto rem(-30);
                @include bg-image('/static/images/intelligent/show-echart-detail');
                background-position: right center;
                -webkit-background-size: auto 100%;
                background-size: auto 100%;

                &.down {
                    background-position: left center;
                }
            }

            .report-caption {
                position: relative;
                padding-left: rem(27);

                &:before {
                    content: '';
                    position: absolute;
                    top: rem(6);
                    left: 0;
                    width: rem(6);
                    height: rem(26);
                    background-color: $inteTextColorRed;
                }

                p {
                    line-height: rem(40);
                }
            }

            .results-contrast {
                li {
                    position: relative;
                    padding-left: rem(48);
                    margin-bottom: rem(14);
                    line-height: rem(30);
                    @include font-dpr(22);

                    &:last-child {
                        margin-bottom: 0;
                    }

                    .contrast-mark {
                        display: block;
                        position: absolute;
                        left: 0;
                        width: rem(30);
                        height: rem(30);
                        line-height: rem(30);
                        text-align: center;
                        color: $baseWhite;
                        -webkit-border-radius: 50%;
                        border-radius: 50%;

                        &.type-red {
                            background-color: $inteTextColorRed;
                        }
                        &.type-dark-green {
                            background-color: #455765;
                        }
                        &.type-yellow {
                            background-color: #fece6c;
                        }
                    }

                    p {
                        color: #666;
                    }
                }
            }

            table {
                width: 100%;
                margin-top: rem(50);

                tr {
                    &:nth-child(even) {
                        background-color: #f6f6f6;
                    }

                    td {
                        width: rem(118);
                        height: rem(110);
                        padding: 0 rem(10);
                        text-align: center;
                        color: #666;
                        border: rem(1) solid $baseBorderColor;
                        @include font-dpr(24);

                        em {
                            display: block;
                        }

                        span {
                            display: block;
                            padding: rem(20) 0;
                        }

                        &:nth-child(1) {
                            width: rem(100);

                            em {
                                white-space: nowrap;
                            }
                        }
                    }
                }
            }

            .water-wrapper {
                position: relative;
                width: 100%;
                padding-top: rem(210);
                margin-top: rem(70);
                text-align: center;

                #collieContainer {
                    position: absolute;
                    top: 0;
                    left: 50%;
                    width: rem(502);
                    height: rem(237);
                    margin: 0 rem(-251);
                    overflow: hidden;
                    z-index: 2;
                }

                .water-bg {
                    position: relative;
                    width: rem(576);
                    height: rem(532);
                    margin: 0 auto;
                    @include bg-image('/static/images/intelligent/report-water-bg');
                    -webkit-background-size: contain;
                    background-size: contain;
                    z-index: 1;

                    .water-text-item {
                        position: absolute;
                        top: rem(60);
                        left: 50%;
                        width: rem(502);
                        height: rem(180);
                        margin-left: rem(-251);
                        color: $baseWhite;
                        @include font-dpr(18);

                        ul {
                            height: rem(64);
                            line-height: rem(64);

                            li {
                                float: left;
                                display: block;

                                &:nth-child(1) {
                                    padding-left: 3%;
                                    width: 29%;
                                }
                                &:nth-child(2) {
                                    width: 41%;
                                }
                                &:nth-child(3) {
                                    width: 27%;
                                }
                            }
                        }

                        .tip-text {
                            width: 80%;
                            padding: 1% 5%;
                            height: 60%;
                            margin: 0 auto;
                            @include box-sizing;

                            span {
                                display: inline-block;
                                margin: 2% 5%;

                                &:nth-child(1) {
                                    margin-left: 0;
                                }
                                &:nth-child(2) {
                                    margin-left: 18%;
                                    margin-right: 18%;
                                }
                                &:nth-child(3) {
                                    margin-right: 0;
                                }
                            }
                        }
                    }
                }

                .water-item {
                    display: table;
                    width: 100%;
                    margin: auto;

                    li {
                        display: inline-table;
                        width: 20%;
                        min-height: rem(70);
                        padding: 0 rem(13);
                        color: $baseWhite;
                        vertical-align: middle;
                        @include box-sizing;
                        @include font-dpr(22);

                        p {
                            display: table-cell;
                            padding: rem(7);
                            vertical-align: middle;
                            -webkit-border-radius: rem(4);
                            border-radius: rem(4);
                        }

                        &:nth-child(1) {
                            p {
                                background-color: #455765;
                            }

                        }
                        &:nth-child(2) {
                            p {
                                background-color: #f25a5a;
                            }

                        }
                        &:nth-child(3) {
                            p {
                                background-color: #fece6c;
                            }

                        }
                        &:nth-child(4) {
                            p {
                                background-color: #7f7f7f;
                            }

                        }
                        &:nth-child(5) {
                            p {
                                background-color: #4a7aa3;
                            }

                        }
                    }
                }
            }

        }

        .report-title-type3 {
            margin-top: rem(70);
            margin-bottom: rem(70);
            text-align: center;

            p {
                position: relative;
                display: inline-block;
                height: rem(60);
                line-height: rem(60);
                color: #666;
                border-top: rem(1) solid #455765;
                border-bottom: rem(1) solid #455765;
                @include font-dpr(24);

                &:before, &:after {
                    content: '';
                    position: absolute;
                    left: 50%;
                    margin-left: rem(-11);
                    border-left: rem(11) solid transparent;
                    border-right: rem(11) solid transparent;
                }
                &:before {
                    top: rem(-11);
                    border-bottom: rem(11) solid #455765;
                }
                &:after {
                    bottom: rem(-11);
                    border-top: rem(11) solid #455765;
                }
            }
        }

        .echart-box {
            width: 100%;
            height: rem(280);
            margin: rem(49) 0 rem(30);
            background-color: #fbfbfb;

            &.nearby {
                height: rem(420);
                background-color: transparent;
            }

            #priceChart, #marketChart, #shoppingChart, #educationChart, #medicalChart {
                width: 100%;
                height: 100%;
                padding: rem(20) 0;
                @include box-sizing;
            }
        }

        .traffic-box {
            position: relative;
            margin-top: rem(50);
            padding-left: rem(28);

            .left-line {
                position: absolute;
                top: rem(70);
                bottom: 0;
                width: 0;
                border-left: 1px dashed $inteBorderRed;
            }
            .vertical-line {
                border-top: 1px dashed $inteBorderRed;
            }

            .traffic-title {
                height: rem(120);
                padding-top: rem(55);
                @include box-sizing;

                h5 {
                    position: relative;
                    padding-left: rem(20);
                    @include font-dpr(24);

                    &:before {
                        content: '';
                        position: absolute;
                        top: 50%;
                        left: rem(-6);
                        width: rem(12);
                        height: rem(12);
                        margin-top: rem(-6);
                        background-color: $inteBorderRed;
                        -webkit-border-radius: 50%;
                        border-radius: 50%;
                    }
                }
            }

            .echart-wrapper {
                position: relative;
                padding-left: rem(73);
                border-top: rem(1) solid $baseBorderColor;
                border-bottom: rem(1) solid $baseBorderColor;

                &:before, &:after {
                    content: '';
                    position: absolute;
                    left: 0;
                    width: rem(48);
                    height: rem(48);
                    margin: rem(-24);
                    -webkit-background-size: contain;
                    background-size: contain;
                }

                &:before {
                    top: 0;
                    @include bg-image('/static/images/intelligent/bgy_icon_xq');
                }

                &.subway {
                    &:after {
                        bottom: 0;
                        @include bg-image('/static/images/intelligent/bgy_icon_dt')
                    }
                }
                &.rond {
                    &:after {
                        bottom: 0;
                        @include bg-image('/static/images/intelligent/bgy_icon_ld');
                    }
                }

                .echart-box {
                    width: 100%;
                    height: rem(280);
                    margin: 0;
                    background-color: #fbfbfb;

                    #trafficSubwayChart, #trafficRondChart {
                        width: rem(590);
                        height: 100%;
                        @include box-sizing;
                    }
                }

            }

            .traffic-text-box {
                margin-top: rem(56);
                margin-bottom: rem(75);

                .traffic-text {
                    position: relative;
                    padding-left: rem(40);
                    margin-bottom: rem(45);
                    color: #888;
                    @include font-dpr(22);

                    &:last-child {
                        margin-bottom: 0;
                    }

                    span {
                        position: absolute;
                        top: rem(-6);
                        left: 0;
                        width: rem(50);
                        height: rem(47);
                        margin-left: rem(-25);
                        padding-top: rem(7);
                        text-align: center;
                        color: $baseWhite;
                        -webkit-background-size: contain;
                        background-size: contain;
                        @include font-dpr(20);

                        &.type1 {
                            @include bg-image('/static/images/intelligent/bgy_icon_px_q1');
                        }
                        &.type2 {
                            @include bg-image('/static/images/intelligent/bgy_icon_px_q2');
                        }
                        &.type3 {
                            @include bg-image('/static/images/intelligent/bgy_icon_px_q3');
                        }
                        &.type4 {
                            @include bg-image('/static/images/intelligent/bgy_icon_px_q4');
                        }
                        &.type5 {
                            @include bg-image('/static/images/intelligent/bgy_icon_px_q5');
                        }
                    }
                }
            }
        }

        .end-bottom {
            color: #888;
            text-align: center;

            .end-text {
                position: relative;
                display: inline-block;
                width: rem(100);
                height: rem(30);
                padding-top: rem(19);
                line-height: rem(30);
                color: $baseWhite;

                &:before {
                    content: '';
                    position: absolute;
                    bottom: rem(-1);
                    left: 0;
                    width: 0;
                    height: 0;
                    border-bottom: rem(49) solid #ccc;
                    border-left: rem(50) solid transparent;
                    border-right: rem(50) solid transparent;
                    z-index: -1;
                }
            }

            .end-bottom-content {
                width: 100%;
                height: rem(686);
                border-top: rem(1) solid $baseBorderColor;
                background-color: #f8f7f7;
                @include bg-image('/static/images/intelligent/bgy_building');
                background-position: bottom center;
                -webkit-background-size: 85%;
                background-size: 85%;

                .collect-tips {
                    position: relative;
                    margin: rem(90) rem(30) rem(60);

                    &:before {
                        content: '';
                        position: absolute;
                        left: 0;
                        top: 50%;
                        width: 100%;
                        border-top: rem(1) solid #2d4456;
                    }

                    p {
                        position: relative;
                        display: inline-block;
                        line-height: rem(40);
                        padding-left: rem(38);
                        padding-right: rem(38);
                        background-color: #f8f7f7;
                        color: #555;
                        @include font-dpr(26);

                        &:nth-child(2) {
                            display: block;
                            margin-top: rem(10);
                            color: #888;
                            @include font-dpr(22);
                        }
                    }
                }

                .report-bottom-button {
                    div {
                        &.share-button {
                            margin-left: rem(50);
                        }

                        display: inline-block;
                        width: rem(178);
                        height: rem(70);
                        line-height: rem(70);
                        color: $baseWhite;
                        background-color: #2d4456;
                        -webkit-border-radius: rem(4);
                        border-radius: rem(4);
                        -webkit-box-shadow: 0 rem(6) rem(12) 0 rgba(13, 38, 58, 0.25);
                        box-shadow: 0 rem(6) rem(12) 0 rgba(13, 38, 58, 0.25);

                        i {
                            display: inline-block;
                            margin-right: rem(10);
                            vertical-align: middle;
                            margin-top: rem(-3);
                        }

                        .collect {
                            width: rem(32);
                            height: rem(32);
                            @include bg-image('/static/images/intelligent/bgy_icon_sca');
                            background-position: left center;
                            -webkit-background-size: auto 100%;
                            background-size: auto 100%;

                            &.active {
                                background-position: right center;
                            }
                        }

                        .share {
                            width: rem(44);
                            height: rem(44);
                            @include bg-image('/static/images/intelligent/bgy_icon_share');
                            -webkit-background-size: contain;
                            background-size: contain;
                        }
                    }
                }
            }
        }
    }
}

.share-pop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.75);

    #off-share {
        margin-top: 5%;
    }
}