$inteBlack: #0a0724;
$inteBorderRed: #fb3939;
$inteBorderBlack: #000;

.bgbox {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #f0f0f0;
}

.button {
    color: $baseWhite;
    text-align: center;
    background-color: $inteBlack;
    -webkit-border-radius: rem(4);
    border-radius: rem(4);
}

.page1 {
    .bg1 {
        @include bg-image('/static/images/intelligent/znzf_image');
        background-position: center bottom;
        -webkit-background-size: contain;
        background-size: contain;
    }

    .page-content {
        margin-top: rem(146);
        text-align: center;

        h1 {
            color: $inteBlack;
            @include font-dpr(66);
        }

        p {
            margin-top: rem(40);
            line-height: rem(44);
            @include font-dpr(30);
            color: $baseBlack;
        }

        button {
            width: rem(512);
            height: rem(100);
            line-height: rem(100);
            margin-top: rem(148);
            @include font-dpr(36);
        }
    }

}

.page2 {
    .bg2 {
        @include bg-image('/static/images/intelligent/znzf_gjcy_bg');
        background-repeat: repeat-y;
        background-position: center;
        -webkit-background-size: contain;
        background-size: contain;
    }

    .page-content {
        margin-top: rem(82);
        text-align: center;

        h2 {
            @include font-dpr(36);
        }

        p {
            margin-top: rem(30);
            @include font-dpr(28);
            color: #999;
        }

        .choose-wrapper {
            width: rem(666);
            margin: rem(97) auto rem(126);

            .clear {
                margin-top: rem(129);

                .choose-item-box:first-child {
                    float: left;
                }
                .choose-item-box:last-child {
                    float: right;
                }
            }
        }

        .choose-item-box {
            position: relative;
            width: rem(240);
            height: rem(240);
            padding: rem(3);
            margin: 0 auto;
            @include box-sizing;

            .choose-item-cont, p {
                position: absolute;
                top: 50%;
                left: 50%;
                -webkit-border-radius: 50%;
                        border-radius: 50%;
                @include box-sizing;
            }

            .choose-item-cont {
                width: rem(234);
                height: rem(234);
                margin: rem(-117);
                background-color: rgba(10, 7, 36, 0.05);

                p {
                    width: rem(186);
                    height: rem(186);
                    margin: rem(-93);
                    padding: rem(30);
                    background-color: #f7f6f6;
                    border: rem(1) solid $inteBorderBlack;
                    z-index: 1;

                    span {
                        display: block;
                        margin-top: rem(14);
                        color: $baseBlack;
                        white-space: nowrap;

                        &:first-child {
                            margin-top: 0;
                        }
                    }
                }

                .dashed-line {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    width: rem(430);
                    height: 0;
                    border-bottom: rem(1) dashed #000;
                    -webkit-transform-origin: 0 0;
                    transform-origin: 0 0;
                    z-index: 0;

                    &.one {
                        -webkit-transform: rotate(60deg);
                        transform: rotate(60deg);
                    }
                    &.two {
                        -webkit-transform: rotate(-60deg);
                        transform: rotate(-60deg);
                    }
                    &.three {
                        -webkit-transform: rotate(180deg);
                        transform: rotate(180deg);
                    }
                }
            }

            &.current {

                &:before, &:after {
                    content: '';
                    position: absolute;
                    right: 0;
                    width: rem(32);
                    height: rem(32);
                    border-right: rem(1) solid $inteBorderRed;
                }
                &:before {
                    top: 0;
                    border-top: rem(1) solid $inteBorderRed;
                }
                &:after {
                    bottom: 0;
                    border-bottom: rem(1) solid $inteBorderRed;
                }

                .box-line-triangle {
                    &:before, &:after {
                        content: '';
                        position: absolute;
                        left: 0;
                        width: rem(32);
                        height: rem(32);
                        border-left: rem(1) solid $inteBorderRed;
                    }
                    &:before {
                        top: 0;
                        border-top: rem(1) solid $inteBorderRed;
                    }
                    &:after {
                        bottom: 0;
                        border-bottom: rem(1) solid $inteBorderRed;
                    }
                }

                .choose-item-cont {
                    background-color: rgba(251, 57, 57, 0.1);

                    p {
                        border: rem(1) solid $inteBorderRed;

                        span {
                            color: $inteBorderRed;
                        }
                    }
                }
            }
        }

        button {
            position: absolute;
            left: 50%;
            bottom: rem(100);
            width: rem(460);
            height: rem(90);
            line-height: rem(90);
            margin-left: rem(-230);
            @include font-dpr(30);
        }
    }
}

@media (max-device-width: 325px) {
    .page2 {
        .page-content {
            p {
                @include font-dpr(24);
            }

            button {
                bottom: rem(50);
            }
        }
    }
}

.page3 {
    .bg3 {
        @include bg-image('/static/images/intelligent/znzf_bg');
        background-repeat: repeat-y;
        background-position: center bottom;
        -webkit-background-size: contain;
        background-size: contain;
    }

    .page-content {
        .result-text {
            height: rem(179);
            padding: rem(42) 0;
            text-align: center;
            background-color: #f7f6f6;
            color: $inteBlack;
            @include box-sizing;
        }
    }
}

.page4 {
    .bg4 {
        @include bg-image('/static/images/intelligent/znzf_user_bg');
        background-repeat: repeat-y;
        background-position: center;
        -webkit-background-size: contain;
        background-size: contain;
    }

    .user-header-box {
        position: relative;
        width: rem(349);
        height: rem(349);
        padding: rem(14);
        margin: rem(90) auto 0;
        @include box-sizing;

        &:before, &:after {
            content: '';
            position: absolute;
            left: 0;
            width: rem(22);
            height: rem(22);
            border-left: rem(2) solid $inteBorderRed;
            @include box-sizing;
        }

        &:before {
            top: 0;
            border-top: rem(2) solid $inteBorderRed;
        }

        &:after {
            bottom: 0;
            border-bottom: rem(2) solid $inteBorderRed;
        }

        .user-line-triangle {
            &:before, &:after {
                content: '';
                position: absolute;
                right: 0;
                width: rem(22);
                height: rem(22);
                border-right: rem(2) solid $inteBorderRed;
                @include box-sizing;
            }
            &:before {
                top: 0;
                border-top: rem(2) solid $inteBorderRed;
            }
            &:after {
                bottom: 0;
                border-bottom: rem(2) solid $inteBorderRed;
            }
        }

        img {
            width: rem(320);
            height: rem(320);
        }
    }

    .word-cont {
        width: rem(432);
        margin: rem(74) auto 0;
        line-height: rem(48);
        text-align: justify;

        ol {
            margin-top: rem(30);
        }
    }
}