$inteBlack: #0a0724;
$inteBorderRed: #fb3939;
$inteBorderBlack: #000;
$inteColorRed: #e42929;

.bgbox {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #f0f0f0;
}

.button {
    color: $baseWhite;
    text-align: center;
    background-color: $inteBlack;
    -webkit-border-radius: rem(4);
    border-radius: rem(4);
}

.page1 {
    .bg1 {
        @include bg-image('/static/images/intelligent/znzf_image');
        background-position: center bottom;
        -webkit-background-size: contain;
        background-size: contain;
    }

    .page-content {
        margin-top: rem(146);
        text-align: center;

        h1 {
            color: $inteBlack;
            @include font-dpr(66);
        }

        p {
            margin-top: rem(40);
            line-height: rem(44);
            @include font-dpr(30);
            color: $baseBlack;
        }

        button {
            width: rem(512);
            height: rem(100);
            line-height: rem(100);
            margin-top: rem(148);
            @include font-dpr(36);
        }
    }

}

.page2 {
    .bg2 {
        @include bg-image('/static/images/intelligent/znzf_gjcy_bg');
        background-repeat: repeat-y;
        background-position: center;
        -webkit-background-size: contain;
        background-size: contain;
    }

    .page-content {
        margin-top: rem(82);
        text-align: center;

        h2 {
            @include font-dpr(36);
        }

        p {
            margin-top: rem(30);
            @include font-dpr(28);
            color: #999;
        }

        .choose-wrapper {
            width: rem(666);
            margin: rem(97) auto rem(126);

            .clear {
                margin-top: rem(129);

                .choose-item-box:first-child {
                    float: left;
                }
                .choose-item-box:last-child {
                    float: right;
                }
            }
        }

        .choose-item-box {
            position: relative;
            width: rem(240);
            height: rem(240);
            padding: rem(3);
            margin: 0 auto;
            @include box-sizing;

            .choose-item-cont, p {
                position: absolute;
                top: 50%;
                left: 50%;
                -webkit-border-radius: 50%;
                        border-radius: 50%;
                @include box-sizing;
            }

            .choose-item-cont {
                width: rem(234);
                height: rem(234);
                margin: rem(-117);
                background-color: rgba(10, 7, 36, 0.05);

                p {
                    width: rem(186);
                    height: rem(186);
                    margin: rem(-93);
                    padding: rem(30);
                    background-color: #f7f6f6;
                    border: rem(1) solid $inteBorderBlack;
                    z-index: 1;

                    span {
                        display: block;
                        margin-top: rem(14);
                        color: $baseBlack;
                        white-space: nowrap;

                        &:first-child {
                            margin-top: 0;
                        }
                    }
                }

                .dashed-line {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    width: rem(430);
                    height: 0;
                    border-bottom: rem(1) dashed #000;
                    -webkit-transform-origin: 0 0;
                    transform-origin: 0 0;
                    z-index: 0;

                    &.one {
                        -webkit-transform: rotate(60deg);
                        transform: rotate(60deg);
                    }
                    &.two {
                        -webkit-transform: rotate(-60deg);
                        transform: rotate(-60deg);
                    }
                    &.three {
                        -webkit-transform: rotate(180deg);
                        transform: rotate(180deg);
                    }
                }
            }

            &.current {

                &:before, &:after {
                    content: '';
                    position: absolute;
                    right: 0;
                    width: rem(32);
                    height: rem(32);
                    border-right: rem(1) solid $inteBorderRed;
                }
                &:before {
                    top: 0;
                    border-top: rem(1) solid $inteBorderRed;
                }
                &:after {
                    bottom: 0;
                    border-bottom: rem(1) solid $inteBorderRed;
                }

                .box-line-triangle {
                    &:before, &:after {
                        content: '';
                        position: absolute;
                        left: 0;
                        width: rem(32);
                        height: rem(32);
                        border-left: rem(1) solid $inteBorderRed;
                    }
                    &:before {
                        top: 0;
                        border-top: rem(1) solid $inteBorderRed;
                    }
                    &:after {
                        bottom: 0;
                        border-bottom: rem(1) solid $inteBorderRed;
                    }
                }

                .choose-item-cont {
                    background-color: rgba(251, 57, 57, 0.1);

                    p {
                        border: rem(1) solid $inteBorderRed;

                        span {
                            color: $inteBorderRed;
                        }
                    }
                }
            }
        }

        button {
            position: absolute;
            left: 50%;
            bottom: rem(100);
            width: rem(460);
            height: rem(90);
            line-height: rem(90);
            margin-left: rem(-230);
            @include font-dpr(30);
        }
    }
}

@media (max-device-width: 325px) {
    .page2 {
        .page-content {
            p {
                @include font-dpr(24);
            }

            button {
                bottom: rem(50);
            }
        }
    }
}

.page3 {
    .bg3 {
        @include bg-image('/static/images/intelligent/znzf_bg');
        background-repeat: repeat-y;
        background-position: center bottom;
        -webkit-background-size: contain;
        background-size: contain;
    }

    .page-content {
        .result-text {
            height: rem(179);
            padding: rem(42) 0;
            text-align: center;
            background-color: #f7f6f6;
            color: $inteBlack;
            @include box-sizing;

            .result-content {
                position: relative;
                width: rem(460);
                height: rem(99);
                margin: 0 auto;
                background-color: #f7f3f3;

                &:before, &:after {
                    content: '';
                    position: absolute;
                    left: 0;
                    width: rem(24);
                    height: rem(24);
                    border-left: rem(1) solid $inteColorRed;
                }
                &:before {
                    top: 0;
                    border-top: rem(1) solid $inteColorRed;
                }
                &:after {
                    bottom: 0;
                    border-bottom: rem(1) solid $inteColorRed;
                }

                .result-line {
                    &:before, &:after {
                        content: '';
                        position: absolute;
                        right: 0;
                        width: rem(24);
                        height: rem(24);
                        border-right: rem(1) solid $inteColorRed;
                    }

                    &:before {
                        top: 0;
                        border-top: rem(1) solid $inteColorRed;
                    }
                    &:after {
                        bottom: 0;
                        border-bottom: rem(1) solid $inteColorRed;
                    }
                }

                .result-begin {
                    p {
                        line-height: rem(99);
                        @include font-dpr(36);
                    }
                }
                .result-container {
                    padding: rem(12) 0;

                    p {
                        @include font-dpr(26);

                        &:last-child {
                            margin-top: rem(15);
                        }
                    }
                }
            }
        }

        .list-item {
            li {
                position: relative;
                width: rem(122);
                height: rem(122);
                line-height: rem(122);
                margin: rem(100) auto;
                text-align: center;
                @include font-dpr(36);
                -webkit-border-radius: 50%;
                border-radius: 50%;
                border: rem(1) solid $inteBlack;
            }
        }

        .layer {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.5);

            .layer-content {
                position: absolute;
                left: 0;
                bottom: 0;
                width: 100%;
                height: rem(500);
                padding: 0 rem(30);
                background-color: #fff;
                @include box-sizing;

                .layer-header {
                    position: relative;
                    height: rem(100);
                    border-bottom: rem(1) solid $baseBorderColor;

                    p {
                        line-height: rem(100);
                        @include font-dpr(30);
                    }

                    .price-tab {
                        position: absolute;
                        right: 0;
                        top: 0;
                        height: 100%;
                        line-height: rem(100);

                        span {
                            color: #888;

                            &.current {
                                color: $inteColorRed;
                            }
                        }
                    }

                    .area-tips {
                        position: absolute;
                        top: 0;
                        right: 0;
                        height: rem(100);
                        padding: rem(14) 0;
                        text-align: center;
                        @include box-sizing;

                        span {
                            display: block;
                        }

                        span {
                            color: #999;
                        }
                        button {
                            margin-top: rem(5);
                            padding: rem(5) rem(15);
                            color: $baseWhite;
                            background-color: $inteBlack;
                            -webkit-border-radius: rem(28) rem(28) rem(28);
                            border-radius: rem(28) rem(28) rem(28);
                        }
                    }
                }

                .total-conent {
                    margin: rem(85) 0;
                }
                .month-content {
                    margin: rem(22) 0;
                }

                .slide-item {
                    position: relative;
                    height: rem(120);

                    .layer-type-text {
                        position: absolute;
                        left: 0;
                        bottom: rem(34);
                        @include font-dpr(26);
                    }

                    .slide-line {
                        position: relative;
                        margin-left: rem(90);
                        margin-top: rem(5);

                        .slide-text {
                            position: relative;
                            display: block;
                            width: rem(100);
                            height: rem(36);
                            line-height: rem(36);
                            margin-left: rem(-34);
                            margin-bottom: rem(27);
                            color: $baseWhite;
                            text-align: center;
                            background-color: $inteColorRed;

                            &:after {
                                content: '';
                                position: absolute;
                                bottom: rem(-15);
                                left: 50%;
                                width: 0;
                                height: 0;
                                margin-left: rem(-10);
                                border-top: rem(15) solid $inteColorRed;
                                border-left: rem(10) solid transparent;
                                border-right: rem(10) solid transparent;
                            }
                        }

                        .slider-track {
                            position: relative;
                            height: rem(12);
                            -webkit-border-radius: rem(12);
                            border-radius: rem(12);
                            border: rem(1) solid $baseBorderColor;
                            background-color: $baseModuleFillColor;
                            @include box-sizing;

                            .min, .max {
                                position: absolute;
                                top: rem(30);
                            }
                            .min {
                                left: 0;
                            }
                            .max {
                                right: 0;
                            }

                            .slide-color {
                                width: 0;
                                height: 100%;
                                -webkit-border-radius: rem(12);
                                border-radius: rem(12);
                                background-color: $inteBlack;
                            }

                            .slider-thumb {
                                position: absolute;
                                top: 50%;
                                display: block;
                                width: rem(28);
                                height: rem(28);
                                margin: rem(-14) 0;
                                border: 1px solid grey;
                                -webkit-border-radius: 50%;
                                border-radius: 50%;
                                -webkit-box-shadow: 0 rem(1) rem(3) rgba(0, 0, 0, 0.2);
                                box-shadow: 0 rem(1) rem(3) rgba(0, 0, 0, 0.2);
                                background: linear-gradient(#fafafa, #f6f6f6) repeat scroll 0 0 #fff;
                            }
                        }
                    }
                }

                .content-list {
                    position: relative;
                    display: -webkit-flex;
                    display: flex;
                    justify-content: space-between;

                    &#layOut {
                        margin: rem(100) 0;
                    }

                    &#hasChild {
                        margin-left: rem(90);
                    }

                    &:after {
                        content: '';
                        position: absolute;
                        left: 0;
                        bottom: 0;
                        width: 100%;
                        height: rem(12);
                        background-color: $baseModuleFillColor;
                        -webkit-border-radius: rem(12) rem(12) rem(12);
                        border-radius: rem(12) rem(12) rem(12);
                    }

                    li {
                        position: relative;
                        margin: 0 rem(10);
                        text-align: center;
                        z-index: 1;

                        &:after {
                            content: '';
                            position: absolute;
                            bottom: rem(-2);
                            left: 50%;
                            width: rem(16);
                            height: rem(16);
                            margin-left: rem(-8);
                            background-color: #44495f;
                            -webkit-border-radius: 50%;
                            border-radius: 50%;
                        }

                        span {
                            position: relative;
                            display: block;
                            min-width: rem(88);
                            height: rem(36);
                            line-height: rem(36);
                            padding: 0 rem(15);
                            @include box-sizing;
                            margin-bottom: rem(50);
                            color: $inteBlack;
                            text-align: center;
                        }

                        &.current {
                            &:after {
                                bottom: rem(-11);
                                width: rem(34);
                                height: rem(34);
                                margin-left: rem(-17);
                                -webkit-border-radius: 50%;
                                border-radius: 50%;
                                -webkit-box-shadow: 0 rem(1) rem(3) rgba(0, 0, 0, 0.2);
                                box-shadow: 0 rem(1) rem(3) rgba(0, 0, 0, 0.2);
                                background: linear-gradient(#fafafa, #f6f6f6) repeat scroll 0 0 #fff;
                            }

                            span {

                                color: $baseWhite;
                                background-color: $inteColorRed;

                                &:after {
                                    content: '';
                                    position: absolute;
                                    bottom: rem(-15);
                                    left: 50%;
                                    width: 0;
                                    height: 0;
                                    margin-left: rem(-10);
                                    border-top: rem(15) solid $inteColorRed;
                                    border-left: rem(10) solid transparent;
                                    border-right: rem(10) solid transparent;
                                }
                            }
                        }
                    }
                }

                .area-content {
                    margin: rem(25) rem(-15);

                    li {
                        display: block;
                        float: left;
                        width: rem(114);
                        height: rem(40);
                        line-height: rem(38);
                        margin: rem(10) rem(15);
                        text-align: center;
                        border: rem(1) solid #999;
                        @include box-sizing;

                        &.disabled {
                            color: #999;
                        }

                        &.current {
                            color: $baseWhite;
                            background-color: $inteColorRed;
                        }
                    }
                }

                #family-box {
                    margin-top: rem(30);
                }

                .child-box {
                    position: relative;
                    padding-bottom: rem(9);

                    label {
                        position: absolute;
                        bottom: 0;
                    }
                }

                .old-man-box {
                    position: relative;
                    margin-top: rem(76);

                    label {
                        position: absolute;
                        bottom: 0;
                    }
                    .choose-radio {
                        margin-left: rem(90);

                        li {
                            display: inline-block;
                            margin-left: rem(72);
                            @include font-dpr(26);
                            color: #666;

                            i {
                                position: relative;
                                top: rem(3);
                                display: inline-block;
                                width: rem(22);
                                height: rem(22);
                                margin-right: rem(22);
                                border: rem(1) solid $inteBlack;
                                -webkit-border-radius: 50%;
                                border-radius: 50%;
                            }

                            &.current {
                                color: $inteColorRed;

                                i {
                                    border-color: $inteColorRed;

                                    &:after {
                                        content: '';
                                        position: absolute;
                                        top: 50%;
                                        left: 50%;
                                        width: rem(12);
                                        height: rem(12);
                                        margin: rem(-6);
                                        background-color: $inteColorRed;
                                        -webkit-border-radius: 50%;
                                        border-radius: 50%;
                                    }
                                }

                                span {
                                    color: $inteColorRed;
                                }
                            }
                        }
                    }
                }


                .layer-footer {
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    width: 100%;
                    padding: rem(20) 0;
                    text-align: center;
                    border-top: rem(1) solid $baseBorderColor;

                    button {
                        width: rem(500);
                        height: rem(70);
                        line-height: rem(70);
                    }
                }
            }
        }

        .start-btn {
            position: absolute;
            left: 50%;
            bottom: 0;
            width: rem(214);
            height: rem(72);
            margin-left: rem(-107);
            text-align: center;
            @include bg-image('/static/images/intelligent/znzf_qd');
            -webkit-background-size: contain;
            background-size: contain;

            p {
                position: absolute;
                bottom: rem(12);
                width: 100%;
                color: $baseWhite;
                @include font-dpr(22);
            }
        }
    }
}

.page4 {
    .bg4 {
        background: #fff;
    }

    .page-content {
        padding-top: 30%;
        text-align: center;

        .text-content {
            width: 70%;
            margin: 0 auto;
            padding-bottom: rem(100);
            border-bottom: rem(1) solid $baseBorderColor;

            p {
                line-height: 1.4;
                @include font-dpr(26);

                &:nth-child(3) {
                    margin-bottom: rem(30);
                }

                &:nth-child(5) {
                    margin-bottom: rem(40);
                }
            }
        }

        .button {
            display: block;
            width: rem(500);
            height: rem(70);
            line-height: rem(70);
            margin: rem(100) auto;
        }
    }
}