$inteBlack: #0a0724;
$inteBorderRed: #fb3939;
$inteBorderBlack: #000;
$inteColorRed: #e42929;
$inteTextColorRed: #f25a5a;

.bgbox {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #f0f0f0;
}

.button {
    color: $baseWhite;
    text-align: center;
    background-color: $inteBlack;
    -webkit-border-radius: rem(4);
    border-radius: rem(4);
}

.page1 {
    .bg1 {
        @include bg-image('/static/images/intelligent/znzf_user_bg');
        background-repeat: repeat-y;
        background-position: center;
        -webkit-background-size: contain;
        background-size: contain;
    }
    .page-content {
        .user-header-box {
            position: relative;
            width: rem(349);
            height: rem(349);
            padding: rem(14);
            margin: rem(90) auto 0;
            @include box-sizing;

            &:before, &:after {
                content: '';
                position: absolute;
                left: 0;
                width: rem(22);
                height: rem(22);
                border-left: rem(2) solid $inteBorderRed;
                @include box-sizing;
            }

            &:before {
                top: 0;
                border-top: rem(2) solid $inteBorderRed;
            }

            &:after {
                bottom: 0;
                border-bottom: rem(2) solid $inteBorderRed;
            }

            .user-line-triangle {
                &:before, &:after {
                    content: '';
                    position: absolute;
                    right: 0;
                    width: rem(22);
                    height: rem(22);
                    border-right: rem(2) solid $inteBorderRed;
                    @include box-sizing;
                }
                &:before {
                    top: 0;
                    border-top: rem(2) solid $inteBorderRed;
                }
                &:after {
                    bottom: 0;
                    border-bottom: rem(2) solid $inteBorderRed;
                }
            }

            img {
                width: rem(320);
                height: rem(320);
            }
        }

        .word-cont {
            width: rem(432);
            margin: rem(74) auto 0;
            line-height: rem(48);
            text-align: justify;

            ol {
                margin-top: rem(30);
            }
        }

        .down-triangle {
            position: absolute;
            left: 50%;
            bottom: rem(80);
            width: rem(66);
            height: rem(56);
            margin: 0 rem(-33);
            @include bg-image('/static/images/intelligent/intelligent-down-link');
            -webkit-background-size: contain;
            background-size: contain;
            -webkit-animation: upDown 1s infinite alternate;
            animation: upDown 1s infinite alternate;
        }

        @keyframes upDown{
            from {
                bottom: rem(80);
            }
            to {
                bottom: rem(60);
            }
        }
        @-webkit-keyframes upDown{
            from {
                bottom: rem(80);
            }
            to {
                bottom: rem(60);
            }
        }
    }
}

.page2 {
    .inte-color-red {
        color: $inteTextColorRed !important;
    }

    .page-content {
        position: relative;
        height: 100%;
        overflow-y: auto;

        .module-item {
            position: relative;
            padding: rem(70) rem(30) rem(70);

            &:before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: rem(110);
                opacity: 0.4;
                background-image: -moz-linear-gradient( -90deg, rgb(234,234,234) 0%, rgba(234,234,234,0.02) 98%, rgb(234,234,234) 100%);
                background-image: -webkit-linear-gradient( -90deg, rgb(234,234,234) 0%, rgba(234,234,234,0.02) 98%, rgb(234,234,234) 100%);
                background-image: -ms-linear-gradient( -90deg, rgb(234,234,234) 0%, rgba(234,234,234,0.02) 98%, rgb(234,234,234) 100%);
            }

            .report-title-type1 {
                position: relative;
                margin-bottom: rem(50);
                text-align: center;

                &:before {
                    content: '';
                    position: absolute;
                    top: 50%;
                    left: 0;
                    width: 100%;
                    height: rem(1);
                    background-color: $inteBlack;
                }

                p {
                    position: relative;
                    display: inline-block;
                    padding-left: rem(60);
                    padding-right: rem(60);
                    @include font-dpr(32);
                    background-color: #fdfdfd;

                    &:before, &:after {
                        content: '';
                        position: absolute;
                        top: 50%;
                        width: rem(23);
                        height: rem(32);
                        margin-top: rem(-16);
                        background-position: center;
                        -webkit-background-size: contain;
                        background-size: contain;
                    }
                    &:before {
                        left: rem(8);
                        @include bg-image('/static/images/intelligent/bgy_ys_l');
                    }
                    &:after {
                        right: rem(8);
                        @include bg-image('/static/images/intelligent/bgy_ys_r');
                    }
                }
            }

            .report-title-type2 {
                position: absolute;
                top: 0;
                left: rem(30);
                right: rem(30);
                border-top: rem(1) solid $inteTextColorRed;
                text-align: center;

                p {
                    position: relative;
                    top: rem(-11);
                    left: 50%;
                    width: rem(330);
                    height: rem(73);
                    line-height: rem(73);
                    margin-left: rem(-165);
                    color: $baseWhite;
                    @include font-dpr(32);
                    @include bg-image('/static/images/intelligent/report-type2-bg');
                }

                span {
                    color: #888;
                    @include font-dpr(22);
                }
            }

            .report-caption {
                position: relative;
                padding-left: rem(27);

                &:before {
                    content: '';
                    position: absolute;
                    top: rem(6);
                    left: 0;
                    width: rem(6);
                    height: rem(26);
                    background-color: $inteTextColorRed;
                }

                p {
                    line-height: rem(40);
                }
            }

            .results-contrast {
                li {
                    position: relative;
                    padding-left: rem(48);
                    margin-bottom: rem(14);
                    line-height: rem(30);
                    @include font-dpr(22);

                    &:last-child {
                        margin-bottom: 0;
                    }

                    .contrast-mark {
                        display: block;
                        position: absolute;
                        left: 0;
                        width: rem(30);
                        height: rem(30);
                        line-height: rem(30);
                        text-align: center;
                        color: $baseWhite;
                        -webkit-border-radius: 50%;
                        border-radius: 50%;

                        &.type-red {
                            background-color: $inteTextColorRed;
                        }
                        &.type-dark-green {
                            background-color: #455765;
                        }
                        &.type-yellow {
                            background-color: #fece6c;
                        }
                    }

                    p {
                        color: #666;
                    }
                }
            }

            table {
                width: 100%;
                margin-top: rem(81);

                tr {
                    &:nth-child(even) {
                        background-color: #f6f6f6;
                    }

                    td {
                        width: rem(118);
                        height: rem(110);
                        padding: 0 rem(10);
                        text-align: center;
                        color: #666;
                        border: rem(1) solid $baseBorderColor;

                        em {
                            display: block;
                        }

                        span {
                            display: block;
                            padding: rem(20) 0;
                        }

                        &:nth-child(1) {
                            width: rem(100);

                            em {
                                white-space: nowrap;
                            }
                        }
                    }
                }
            }
        }

        .echart-box {
            height: rem(280);
        }
    }
}