$textGrayColor: #888;

.list-item-wrapper {
    li {
        line-height: 0;
    }
}

.list-item {
    display: block;
    line-height: 1.2;
    padding: rem(45) 0;
    margin: 0 rem(30);
    color: $baseBlack;
    border-bottom: 1px solid $baseBorderColor;
    @include box-sizing;

    .list-item-img-box {
        float: left;
        width: rem(230);
        height: rem(172);
        overflow: hidden;

        img {
            min-width: 100%;
            height: 100%;
        }
    }

    .list-item-cont {
        position: relative;
        float: left;
        width: rem(430);
        height: rem(172);
        padding-left: rem(30);

        .cont-block-top, .cont-block-1 {
            height: rem(32);
            line-height: rem(32);
            @include font-dpr(28);
            @include text-ellipses;

            .ellipsis {
                display: inline-block;
                max-width: rem(188);
                @include text-ellipses;
            }

            em {
                position: relative;
                top: rem(2);
                display: inline-block;
                height: rem(28);
                line-height: rem(26);
                padding: 0 rem(12);
                margin-left: rem(5);
                @include font-dpr(20);
                color: #999;
                border: 1px solid $borderRadiusColor;
                -webkit-border-radius: rem(4);
                border-radius: rem(4);
                @include box-sizing;
                vertical-align: top;
            }
        }

        .address, .cont-block-3 {
            position: relative;
            margin-top: rem(18);
            @include text-ellipses;

            .icon {
                position: absolute;
                top: 0;
                left: 0;
                display: block;
            }
        }

        .address {
            line-height: rem(26);
            color: $textGrayColor;

            .icon {
                width: rem(20);
                height: rem(24);
                @include bg-image('../images/rent/rent_list_icon_wz');
                -webkit-background-size: rem(20) auto;
                background-size: rem(20) auto;
            }

            &.distance {
                padding-left: rem(33);
            }
        }

        .cont-block-3 {
            color: $baseGray;

            .icon {
                width: rem(21);
                height: rem(28);
                @include bg-image('../images/esf/esf_list_icon_wz');
                -webkit-background-size: rem(21) auto;
                background-size: rem(21) auto;
            }

            &.distance {
                padding-left: rem(31);
            }
        }

        .house-labelling {
            margin-top: rem(18);
        }

        .cont-block-bottom {
            position: absolute;
            width: rem(430);
            bottom: 0;
            line-height: rem(25);
            @include text-ellipses;
            @include font-dpr(30);

            em {
                @include font-dpr(22);
            }
        }

        .cont-block-1, .cont-block-2, .cont-block-3 {
            @include text-ellipses;
        }


        .cont-block-2 {
            margin-top: rem(16);
            color: $baseGray;

            &.plot {
                width: rem(250);
            }
        }

        .cont-block-4 {
            position: absolute;
            width: rem(430);
            bottom: 0;

            &.esf {
                width: rem(270);
            }
        }

        .cont-block-price {
            position: absolute;
            right: 0;
            bottom: 0;
            line-height: 1.2;
            text-align: right;

            em {
                display: block;
                @include font-dpr(28);
                color: $baseRed;
            }

            span {
                display: block;
                margin-top: rem(8);
                @include font-dpr(24);
                color: $textGrayColor;
            }

            &.plot {
                top: rem(44);
                bottom: auto;
            }
        }

        &.download-app-tips-type1 {
            .cont-block-1, .cont-block-2, .cont-block-3, .cont-block-btn {
                position: absolute;
                margin-top: 0;
                color: #888;
            }
            .cont-block-1, .cont-block-2 {
                @include font-dpr(28);
            }
            .cont-block-1 {
                top: 0;
            }
            .cont-block-2 {
                top: 39%;
            }
            .cont-block-3 {
                bottom: 0;
                @include font-dpr(30);
            }
            .cont-block-btn {
                top: 29%;
                right: 0;
                padding: rem(20) rem(38);
                color: #fff;
                background-color: #ff4848;
                border-radius: rem(5);
                @include font-dpr(28);
            }
        }
    }

    &.new {
        .cont-block-1 {
            max-width: rem(330);
        }

        .new-active {
            clear: both;
            height: rem(48);
            line-height: rem(48);
            margin-top: rem(26);
            padding: 0 rem(10);
            @include font-dpr(22);
            color: #adadad;
            background-color: #f8f8f8;
            @include text-ellipses;
            @include box-sizing;
            
            .icon {
                position: relative;
                top: rem(10);
                display: inline-block;
                width: rem(25);
                height: rem(30);
                margin-right: rem(10);
                @include bg-image('../images/newhouse/xf_list_icon_hd');
                -webkit-background-size: rem(25) auto;
                background-size: rem(25) auto;
            }
            
            em {
                color: $baseRed;
            }
        }
        
        .cont-block-sale {
            position: absolute;
            right: 0;
            top: 0;
            height: rem(32);
            line-height: rem(32);
            padding: 0 rem(17) 0 rem(22);
            @include font-dpr(20);
            color: $baseWhite;
            background-color: $baseGreen;
            -webkit-border-radius: rem(22) 0 0 rem(22);
            border-radius: rem(22) 0 0 rem(22);
        }
    }

    &.new-ad-item {
        .list-item-cont-ad {
            position: relative;
            margin-bottom: rem(20);

            .cont-block-1 {
                @include font-dpr(28);

                span {
                    display: inline-block;
                }

                em {
                    position: relative;
                    top: rem(-3);
                    display: inline-block;
                    height: rem(28);
                    line-height: rem(26);
                    padding: 0 rem(12);
                    margin-left: rem(5);
                    color: $borderRadiusColor;
                    border: 1px solid $borderRadiusColor;
                    -webkit-border-radius: rem(4);
                    border-radius: rem(4);
                    @include font-dpr(20);
                    @include box-sizing;
                }
            }

            h3, p {
                display: inline-block;
                margin-top: 0;
                vertical-align: middle;
            }
            p {
                margin-left: rem(20);
            }
        }

        .cont-block-2 {
            position: absolute;
            top: 0;
            right: 0;
            margin-top: 0;
        }

        .list-item-img-box {
            width: rem(222);
            margin-right: rem(12);
            margin-bottom: rem(26);

            &:last-child {
                margin-right: 0;
            }
        }
    }

    &.app-download-item {
        padding-top: rem(40);
        padding-bottom: rem(30);

        .list-item-cont-ad {
            position: relative;
            margin-bottom: rem(30);

            .cont-block-1 {
                font-weight: 700;
                @include font-dpr(28);
            }
        }

        .list-item-img-box {
            width: rem(223);
            margin-right: rem(10);
            margin-bottom: rem(20);

            &:last-child {
                margin-right: 0;
            }
        }

        .house-labelling {
            span {
                height: rem(30);
                line-height: rem(30);
                padding-left: rem(9);
                padding-right: rem(9);
                color: #666;
                border-radius: rem(5);
                background-color: #efefef;
                @include font-dpr(20);
            }
        }
    }
}

.sort-icon {
    position: fixed;
    bottom: rem(130);
    right: rem(30);
    width: rem(112);
    height: rem(112);
    @include bg-image('/static/images/global/base_sort_icon');
    -webkit-background-size: contain;
    background-size: contain;
}
.sort-content-box {
    display: none;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    z-index: 200;

    .sort-content {
        position: relative;
        background-color: #fff;
        z-index: 1;

        li {
            padding: 0 rem(30);
            height: rem(90);
            line-height: rem(90);

            p {
                @include font-dpr(28);
                color: #666;
                border-bottom: rem(1) solid $baseBorderColor;
            }

            &.current {
                p {
                    color: $baseRed;
                }
            }
        }
    }

    .sort-mask {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,0.5);
    }
}

.app-download-top-tips-wrapper {
    display: block;
    text-align: center;
}
.download-app-bottom-tips {
    position: fixed;
    width: 100%;
    max-width: rem(750);
    bottom: 0;
    height: rem(126);
    background-color: #adadad;

    .detail, .btn {
        position: absolute;
        top: 50%;
    }
    .detail {
        color: #fff;
        left: rem(61);
        margin-top: rem(-38);

        img, p {
            display: inline-block;
        }
        img {
            height: rem(75);
            -webkit-border-radius: rem(14);
            -moz-border-radius: rem(14);
            border-radius: rem(14);
        }
        p {
            position: relative;
            height: rem(75);
            margin-left: rem(30);
            vertical-align: top;

            strong, span {
                position: absolute;
                display: block;
                line-height: 1;
                white-space: nowrap;
            }
            strong {
                top: rem(6);
                @include font-dpr(28);
            }
            span {
                bottom: rem(8);
                @include font-dpr(23);
            }
        }
    }
    .btn {
        right: rem(65);
        width: rem(150);
        height: rem(60);
        line-height: rem(60);
        margin-top: rem(-30);
        text-align: center;
        font-weight: 700;
        @include font-dpr(26);
        background-color: #f9e04b;
        -webkit-border-radius: rem(4);
        -moz-border-radius: rem(4);
        border-radius: rem(4);
    }
    .download-app-bottom-tips-close {
        position: absolute;
        top: 0;
        right: 0;
        padding: rem(18);
        width: rem(16);
        height: rem(16);

        img {
            width: 100%;
            vertical-align: top;
        }
    }
}