$textGrayColor: #888;

.list-item {
    display: block;
    padding: rem(42) 0;
    margin: 0 rem(30);
    color: $baseBlack;
    border-bottom: 1px solid $borderLineColor;
    @include box-sizing;
    
    
    .clear {
        zoom: 1;
        
        &:after {
            visibility: hidden;
            display: block;
            clear: both;
            content: '';
            height: 0;
            font-size: 0;
        }
    }
    
    .list-item-img-box {
        float: left;
        width: rem(230);
        height: rem(172);
        
        img {
            width: 100%;
            height: 100%;
        }
    }
    
    .list-item-cont {
        position: relative;
        float: left;
        width: rem(430);
        height: rem(172);
        padding-left: rem(30);
        
        .cont-block-1 {
            height: rem(33);
            line-height: 1.2;
            @include font-dpr(28);
            @include text-ellipses;
            
            em {
                position: relative;
                top: rem(-2);
                display: inline-block;
                height: rem(28);
                line-height: rem(28);
                @include font-dpr(20);
                padding: 0 rem(12);
                border: 1px solid $borderRadiusColor;
                -webkit-border-radius: rem(4);
                -moz-border-radius: rem(4);
                border-radius: rem(4);
            }
        }
        
        .cont-block-2 {
            margin-top: rem(20);
            color: $baseGray;
        }
        
        .cont-block-3 {
            position: relative;
            margin-top: rem(16);
            color: $baseGray;
            
            .icon {
                position: absolute;
                top: 0;
                left: 0;
                display: block;
                width: rem(21);
                height: rem(28);
                @include bg-image('../images/esf/esf_list_icon_wz');
                -webkit-background-size: rem(21) auto;
                background-size: rem(21) auto;
            }
            
            &.distance {
                padding-left: rem(31);
            }
        }
        
        .cont-block-4 {
            position: absolute;
            width: rem(430);
            bottom: 0;
            white-space: nowrap;
            overflow-x: scroll;
            
            span {
                color: $baseWhite;
                height: rem(28);
                line-height: rem(28);
                padding: 0 rem(11);
                margin-left: rem(5);
                @include font-dpr(20);
                background-color: $baseGray;
                border-radius: rem(4);
                
                &:first-child {
                    margin-left: 0;
                }
            }
        }
        
        .cont-block-price {
            position: absolute;
            right: 0;
            bottom: 0;
            line-height: 1.2;
            text-align: right;
            
            em {
                display: block;
                @include font-dpr(28);
                color: $baseRed;
            }
            
            span {
                display: block;
                margin-top: rem(14);
                @include font-dpr(18);
                color: $textGrayColor;
            }
            
            &.plot {
                top: rem(50);
                bottom: auto;
            }
        }
    }
    
    &.new {
        .new-active {
            clear: both;
            height: rem(48);
            line-height: rem(48);
            margin-top: rem(26);
            padding: 0 rem(10);
            @include font-dpr(22);
            color: #adadad;
            background-color: #f8f8f8;
            @include text-ellipses;
            @include box-sizing;
            
            .icon {
                position: relative;
                top: rem(10);
                display: inline-block;
                width: rem(25);
                height: rem(30);
                margin-right: rem(10);
                @include bg-image('../images/newhouse/xf_list_icon_hd');
                -webkit-background-size: rem(25) auto;
                background-size: rem(25) auto;
            }
            
            em {
                color: $baseRed;
            }
        }
        
        .cont-block-sale {
            position: absolute;
            right: 0;
            top: 0;
            height: rem(30);
            line-height: rem(30);
            padding: 0 rem(14) 0 rem(20);
            @include font-dpr(20);
            color: $baseWhite;
            background-color: $baseGreen;
            -webkit-border-radius: rem(20) 0 0 rem(20);
            -moz-border-radius: rem(20) 0 0 rem(20);
            border-radius: rem(20) 0 0 rem(20);
        }
    }
}