html {
    background-color: #f4f4f4;
}
section {
    margin-top: rem(20);
    padding: 0 rem(30) rem(50);
    background-color: #fff;

    .title {
        padding-top: rem(50);
        padding-bottom: rem(34);
        line-height: 1;
        font-weight: 700;
        @include font-dpr(36);
    }
    .card-info {
        position: relative;

        .img-box {
            position: relative;
            width: rem(240);
            padding-bottom: 26.088%;
            overflow: hidden;

            img {
                position: absolute;
                min-width: 100%;
                height: 100%;
            }
        }
        .info-content {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            padding-left: rem(272);
            box-sizing: border-box;

            p {
                position: absolute;
                @include font-dpr(36);
            }
            .content-title {
                top: 0;
            }
            .content-price {
                bottom: 0;
                right: 0;
                line-height: 1;
                color: #ff4848;

                span {
                    @include font-dpr(24);
                }
            }
        }
    }
    .readed {
        height: rem(50);
        line-height: rem(50);

        i, span {
            display: inline-block;
            vertical-align: middle;
        }
        i {
            width: rem(24);
            height: rem(24);
            margin-right: rem(20);
            @include bg-image('/static/images/payment/checkbox_icon');
            -webkit-background-size: auto 100%;
            background-size: auto 100%;
        }
    }
    .payment-text {
        margin-top: rem(74);
        @include font-dpr(26);

        span {
            float: right;

            em {
                display: inline-block;
                margin-top: rem(-3);
                color: #ff4848;
                vertical-align: middle;
                @include font-dpr(36);
            }
        }
    }
    button {
        width: 100%;
        height: rem(80);
        line-height: rem(80);
        margin-top: rem(45);
        text-align: center;
        color: #fff;
        background-color: #ff4848;
        -webkit-border-radius: rem(5);
        -moz-border-radius: rem(5);
        border-radius: rem(5);
        @include font-dpr(36);
    }
    .current-balance {
        margin-top: rem(30);
        margin-bottom: rem(10);
        text-align: center;
        @include font-dpr(26);
    }
}