@import "../base/header";

.searchpage-header {
    position: relative;
    height: rem(118);
    line-height: rem(118);
    padding: rem(27) rem(30);
    background: #0a0724;
    @include box-sizing;
    @include font-dpr(26);
    z-index: 99;

    .searchpage-search-box {
        float: left;
        position: relative;
        width: 88.4%;
        height: rem(64);
        line-height: rem(64);
        background-color: $baseWhite;
        -webkit-border-radius: rem(4);
        border-radius: rem(4);

        .type-tab-box {
            float: left;
            position: relative;
            display: inline-block;
            padding-left: rem(30);

            .searchpage-current-item {
                position: relative;
                display: inline-block;
                width: 3em;
                line-height: 1;
                padding-right: rem(48);
                text-align: center;
                border-right: rem(1) solid $baseBorderColor;

                &:after {
                    content: '';
                    position: absolute;
                    top: 50%;
                    right: rem(22);
                    width: 0;
                    height: 0;
                    margin-top: rem(-4);
                    border-top: rem(9) solid $baseBorderColor;
                    border-left: rem(9) solid transparent;
                    border-right: rem(9) solid transparent;
                }
            }
            .type-menu-box {
                display: none;
                position: absolute;
                left: 0;
                top: rem(70);
                width: rem(190);
                text-align: center;

                .triangle-top {
                    position: relative;
                    display: block;
                    width: 0;
                    height: 0;
                    margin: 0 auto;
                    border-bottom: rem(14) solid $baseWhite;
                    border-left: rem(14) solid transparent;
                    border-right: rem(14) solid transparent;
                }

                .type-menu {
                    margin-top: rem(-1);
                    width: 100%;
                    background-color: $baseWhite;
                    -webkit-box-shadow: 0 rem(3) rem(16) 0 rgba(0, 0, 0, 0.35);
                    box-shadow: 0 rem(3) rem(16) 0 rgba(0, 0, 0, 0.35);
                    -webkit-border-radius: rem(4);
                    border-radius: rem(4);

                    span {
                        display: block;
                        line-height: rem(80);
                        border-bottom: rem(1) solid $baseBorderColor;

                        &.current {
                            color: $baseRed;
                        }

                        &:last-child {
                            border-bottom: none;
                        }
                    }

                }
            }
        }

        .searchpage-search-content {
            position: relative;
            float: left;
            display: inline-block;
            margin-left: rem(25);
            width: 95%;

            .icon {
                display: inline-block;
                width: rem(24);
                height: rem(25);
                vertical-align: middle;
                @include bg-image('../images/global/sy_search_icon');
                -webkit-background-size: contain;
                background-size: contain;
            }

            form {
                position: absolute;
                top: 0;
                right: 0;
                width: 100%;
                height: 100%;
                padding-left: rem(40);
                @include box-sizing;

                input {
                    position: absolute;
                    top: 0;
                    right: 0;
                    padding-left: rem(40);
                    width: 100%;
                    height: 100%;
                    @include font-dpr(26);
                    background-color: transparent;
                    @include box-sizing;

                    &::-webkit-input-placeholder {
                        color: #999;
                    }
                }
            }


            &.only {
                width: 96%;

            }
        }
    }

    .searchpage-search-btn {
        float: right;
        height:rem(64);
        line-height: rem(64);
        color: $baseWhite;
        background-color: transparent;
    }
}

.searchpage-content-header {
    position: relative;
    height: rem(90);
    line-height: rem(90);
    padding: 0 rem(30);
    @include font-dpr(30);
    border-bottom: rem(1) solid $baseBorderColor;

    a {
        position: absolute;
        right: rem(30);
        top: 0;
        width: rem(30);
        height: rem(90);
        @include bg-image('/static/images/global/refresh-clear-icon');
        -webkit-background-size: auto rem(29);
        background-size: auto rem(29);

        &.refresh-icon {
            background-position: left center;
        }

        &.clear-icon {
            background-position: right center;
        }
    }
}
.searchpage-hot-recommend {
    padding: rem(30);

    a {
        float: left;
        display: block;
        color:  #666;
        line-height: 1;
        padding: 13px 30px;
        margin: 0 20px 20px 0;
        -webkit-border-radius: rem(4);
        border-radius: rem(4);
        background-color:  #f2f2f2;

        &:last-child {
            margin-right: 0;
        }
    }
}

.searchpage-history {
    padding: rem(10) rem(30) 0;

    a {
        display: block;
        padding: rem(18) 0;
        @include font-dpr(26);
        color: #999;
    }
}

.automated-word {
    padding: rem(10) rem(30) 0;

    li {
        display: block;
        padding: rem(18) 0;
        @include font-dpr(26);
        color: #999;
    }
}

.search-page-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: rem(750);
    height: 100%;
    background-color: $baseWhite;
    /*-webkit-transition: transform 0.5s ease;
    transition: transform 0.5s ease;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);*/
    z-index: 9999;

    &.active {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}