.tilelist {
    width: 100%;
    padding: rem(40) rem(30);
    zoom: 1;
    overflow-x: auto;
    white-space: nowrap;
    @include box-sizing;
    
    li {
        display: inline-block;
        width: rem(221);
        margin-right: rem(30);
        
        .picture-box {
            width: rem(221);
            height: rem(166);
            
            img {
                height: 100%;
            }
        }
        .tilelist-content {
            width: rem(221);
            @include font-dpr(24);
            color: $baseBlack;
            
            h4,p {
                @include text-ellipses;
            }
            
            .cont-first {
                margin-top: rem(25);
            }
            
            .cont-last {
                margin-top: rem(20);
            }
            
            em {
                color: $baseRed;
            }
        }
    }
    
    &.row {
        padding-top: rem(30);
        
        li {
            width: 100%;
            @include font-dpr(26);
            zoom: 1;
            
            .picture-box {
                float: left;
            }
            
            .tilelist-content {
                position: relative;
                float: left;
                width: rem(444);
                height: rem(166);
                margin-left: rem(25);
                
                
                h4 {
                    @include font-dpr(28);
                }
                
                p {
                    position: absolute;
                    width: 100%;
                    color: #666;
                    @include text-ellipses;
                    
                    em {
                        color: $baseRed;
                    }
                    
                    &:nth-of-type(1) {
                        top: 50%;
                        margin-top: rem(-14);
                    }
                    
                    &:last-child {
                        bottom: 0;
                    }
                }
            }
            
            &:after {
                visibility: hidden;
                display: block;
                clear: both;
                content: '';
                height: 0;
                font-size: 0;
            }
        }
    }
    
    &:after {
        visibility: hidden;
        display: block;
        clear: both;
        content: '';
        height: 0;
        font-size: 0;
    }
}