@import "../base/normalize";
@import "../base/mixin";
@import "../pages/detail-primary";
@import "../pages/tilelist-piece";
@import "../pages/detail-header-banner";

.describe-box {
    padding: rem(40) rem(30);
    
    .describe-header {
        margin-bottom: rem(28);
        
        .source-icon {
            display: inline-block;
            width: rem(80);
            height: rem(80);
            vertical-align: top;
        }
        
        p {
            position: relative;
            display: inline-block;
            height: rem(80);
            margin-left: rem(20);
            white-space: nowrap;
            
            em {
                position: absolute;
                display: block;
                bottom: 0;
                color: #999;
                @include font-dpr(22);
            }
            
            span {
                display: block;
                position: absolute;
                left: rem(-10);
                @include font-dpr(32);
            }
        }
        
        .issuer-tel-icon {
            display: block;
            float: right;
            width: rem(60);
            height: rem(80);
            @include bg-image('../images/global/red_icon_phone');
            -webkit-background-size: contain;
            background-size: contain;
            background-position: center;
        }
    }
    
    .describe-cont {
        position: relative;
        @include font-dpr(26);
        line-height: rem(40);
        text-align: justify;
        
        .describe-show-btn {
            position: absolute;
            right: 0;
            bottom: 0;
            color: #999;
            margin-left: rem(20);
            white-space: nowrap;
        }
    }
}

.map-content {
    width: 100%;
    padding: rem(40) 0;
    
    #map {
        height: 100%;
        width: 100%;
        overflow: hidden;
        
        img {
            width: 100%;
            vertical-align: middle;
        }
    }
}