@import "../base/_normalize";
@import "../base/_mixin";
@import "../base/_header";
@import "../base/_category";
@import "../pages/_office-list";

.tip-box {
    text-align: center;
    color: #999;
    height: rem(78);
    line-height: rem(78);
    @include font-dpr(24);
    background-color: #f2f2f2;
}