@import "../base/normalize";
@import "../base/mixin";
@import "../pages/search";
@import "../pages/office-list";
@import "../pages/banner-item";
@import "../pages/hot-topic";

.banner-index-box {
    padding: 0 rem(30) rem(31);

    .carousel-swiper {
        margin: 0 rem(-30);
    }
}

.index-module-header {
    position: relative;
    height: rem(112);
    margin: 0 rem(30);
    line-height: rem(112);
    @include font-dpr(32);
    text-align: center;
    border-bottom: 1px solid $baseBorderColor;
}


.new-index-pull-down {
    line-height: 1;
    padding-top: rem(19);
    padding-bottom: rem(10);
    @include font-dpr(20);
    color: $baseGray9;
    text-align: center;
    background-color: $baseModuleFillColor;
    @include box-sizing;

    img {
        display: inline-block;
        width: rem(25);
        margin-top: rem(10);
        vertical-align: top;
    }
}

.markets-quotations {
    padding: 0 rem(30);

    .row {
        padding: rem(30);
        border-top: rem(1) solid $baseBorderColor;

        .cloumn {

            div {
                color: $baseBlack;
            }

            &:first-child {
                float: left;
                width: rem(315);
            }
            &:last-child {
                float: right;
                width: rem(254);
            }

            h6 {
                margin-bottom: rem(30);
                @include font-dpr(22);
                color: #999;
            }

            em {
                color: $baseRed;
                @include font-dpr(38);
            }

            span {
                margin-left: rem(15);
                @include font-dpr(18);
            }
        }
    }
}

.index-word {
    padding: rem(10) rem(30) 0;

    li {
        display: block;
        padding: rem(18) 0;
        color: $baseBlack;
        @include font-dpr(26);
    }
}
