@import "../base/normalize";
@import "../base/mixin";
@import "../pages/search";
@import "../pages/office-list";
@import "../pages/banner-item";
@import "../pages/hot-topic";

.banner-index-box {
    padding: 0 rem(30) rem(31);

    .carousel-swiper {
        margin: 0 rem(-30);

        .swiper-slide {
            width: 100% !important;
        }

        .index-slide-overflow {
            max-width: rem(750);
            overflow: hidden;
        }
    }
}

.index-module-header {
    position: relative;
    height: rem(112);
    margin: 0 rem(30);
    line-height: rem(112);
    @include font-dpr(32);
    text-align: center;
    border-bottom: 1px solid $baseBorderColor;
}


.new-index-pull-down {
    line-height: 1;
    padding-top: rem(19);
    padding-bottom: rem(10);
    @include font-dpr(20);
    color: $baseGray9;
    text-align: center;
    background-color: $baseModuleFillColor;
    @include box-sizing;

    img {
        display: inline-block;
        width: rem(25);
        margin-top: rem(10);
        vertical-align: top;
    }
}

.markets-quotations {
    padding: 0 rem(30);

    .row {
        padding: rem(30);
        border-top: rem(1) solid $baseBorderColor;

        .cloumn {

            div {
                color: $baseBlack;
            }

            &:first-child {
                float: left;
                width: rem(315);
            }
            &:last-child {
                float: right;
                width: rem(254);
            }

            h6 {
                margin-bottom: rem(30);
                @include font-dpr(22);
                color: #999;
            }

            em {
                color: $baseRed;
                @include font-dpr(38);
            }

            span {
                margin-left: rem(15);
                @include font-dpr(18);
            }
        }
    }
}
.primary-item {
    .download-app {
        display: block;
        padding: rem(20) rem(30);
        line-height: rem(47);
        @include font-dpr(30);
        border-bottom: 1px solid $baseBorderColor;

        p {
            position: relative;
            color: #3a3a3a;

            .arrows-right {
                position: absolute;
                top: 0;
                right: rem(-15);
                display: block;
                width: rem(47);
                height: rem(47);
                @include bg-image('/static/images/global/arrows_right_icon');
                background-position: center;
                -webkit-background-size: 40%;
                background-size: 40%;
            }
            .primary-app-logo {
                display: inline-block;
                width: rem(48);
                height: rem(48);
                margin-right: rem(10);
                vertical-align: top;
                background: url('http://wap-qn.toutiaofangchan.com/ic_launcher.png') no-repeat center;
                -webkit-background-size: contain;
                background-size: contain;
                border-radius: rem(5);
            }
        }
    }
}
.company-bottom {
    position: relative;
    padding-top: rem(30);
    padding-bottom: rem(29);
    text-align: center;
    background-color: #f1f1f1;

    p {
        display: block;
        line-height: 1;
        color: #888;
        font-weight: 500;
        @include font-dpr(22);

        &:nth-child(2) {
            margin-top: rem(15);
        }
    }
}