@import "../base/normalize";
@import "../base/mixin";

.map-container {
    position: fixed !important;
    top: 0;
    width: rem(750);
    height: 100%;
}
.map-type-nav {
    position: fixed;
    top: 0;
    width: rem(750);
    white-space: nowrap;
    background-color: $baseWhite;
    overflow-x: auto;
    z-index: 1;
    border-bottom: rem(1) solid $baseBorderColor;

    li {
        position: relative;
        display: inline-block;
        padding: rem(32) rem(30) rem(34);
        margin-left: rem(10);
        @include font-dpr(30);
        text-align: center;

        &:after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: rem(4);
            background-color: $baseWhite;
        }
        &.current {
            &:after {
                background-color: $baseRed;
            }
        }

    }
}

.type-result-box {
    position: fixed;
    bottom: 0;
    width: rem(750);
    background-color: #f2f2f2;

    .type-item-sel-box {
        padding: rem(25) rem(30);
        overflow-x: auto;
        background-color: $baseWhite;

        .type-item-sel {
            width: 100%;
            @include box-sizing;
            white-space: nowrap;
            overflow-y: hidden;

            li {
                display: inline-block;
                padding: rem(17) rem(28);
                @include font-dpr(26);
                color: #666;
                border-right: rem(1) solid $baseBorderColor;
                background-color: #f2f2f2;

                &.currenttype {
                    color: $baseWhite;
                    background-color: #0a0724;
                }
            }
        }
    }

    .results-panel-box {
        max-height: rem(409);
        margin-bottom: rem(10);
        padding: rem(10) rem(30) 0;
        background-color: $baseWhite;
        overflow: hidden;
        @include box-sizing;
        border-top: rem(1) solid $baseBorderColor;
        border-bottom: rem(1) solid $baseBorderColor;
        -webkit-box-shadow: 0 0 rem(29) 0 rgba(0, 0, 0, 0.24);
        box-shadow: 0 0 rem(29) 0 rgba(0, 0, 0, 0.24);

        .results-panel-btn {
            text-align: center;
            line-height: 0;
            margin-bottom: rem(10);

            p {
                display: inline-block;
                width: rem(60);
                height: rem(4);
                background-color: #e1e1e1;
            }
        }

        .results-title {
            position: relative;
            height: rem(82);
            line-height: rem(82);

            p {
                @include font-dpr(30);

                i {
                    display: inline-block;
                    width: rem(56);
                    height: rem(80);
                    line-height: 1;
                    margin-right: rem(20);
                    vertical-align: middle;
                    @include bg-image('/static/images/map/map-type-icon');
                    -webkit-background-size: rem(56) auto;
                    background-size: rem(56) auto;
                    
                    &.traffic {
                        background-position: center top;
                    }
                    &.education {
                        background-position: center rem(-160);
                    }
                    &.medical {
                        background-position: center rem(-320);
                    }
                    &.shopping {
                        background-position: center rem(-480);
                    }
                    &.gastronomy {
                        background-position: center rem(-640);
                    }
                    &.fallow {
                        background-position: center rem(-800);
                    }
                    &.fitness {
                        background-position: center bottom;
                    }
                }
            }

            span {
                position: absolute;
                right: 0;
                top: 0;
                color: #666;
                @include font-dpr(24);
            }
        }

        .results-panel {
            max-height: rem(304);
            overflow-y: auto;

            li {
                position: relative;
                height: rem(120);
                line-height: rem(120);
                border-top: rem(1) solid $baseBorderColor;
                @include font-dpr(24);

                i, p {
                    display: inline-block;
                }

                i {
                    width: rem(44);
                    height: rem(120);
                    padding-bottom: rem(12);
                    margin-right: rem(26);
                    text-align: center;
                    color: $baseWhite;
                    @include bg-image('/static/images/map/zbpt_icon_zb_black1');
                    -webkit-background-size: contain;
                    background-size: contain;
                    background-position: center;
                }

                p {
                    max-width: rem(460);
                    vertical-align: middle;

                    .content {
                        display: block;
                        line-height: 1;
                        @include font-dpr(30);
                        @include text-ellipses;
                    }
                    .line {
                        display: block;
                        line-height: 1;
                        margin-top: rem(15);
                        color: #666;
                    }
                }

                .distance {
                    position: absolute;
                    right: 0;
                    top: 0;
                }
            }
        }
    }
}


