@import "../base/normalize";
@import "../base/mixin";
@import "../base/header";
@import "../pages/office-list";
@import "../base/side-nav";
@import "../pages/banner-item";
@import "../pages/hot-topic";


.banner-index-box {
    padding: rem(14) rem(30) rem(31);

    .carousel-swiper {
        img {
            width: 100%;
        }
    }
}

.index-module-header {
    position: relative;
    margin: 0 rem(30);
    height: rem(90);
    line-height: rem(90);
    @include font-dpr(32);
    border-bottom: 1px solid $borderLineColor;

    .more-arrows {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        color: #999;

        .arrows-right {
            display: inline-block;
            width: rem(45);
            height: rem(90);
            @include bg-image('/static/images/global/arrows_right_icon');
            background-position: right center;
        }
    }
}

.new-index-pull-down {
    line-height: 1;
    padding-top: rem(19);
    padding-bottom: rem(10);
    @include font-dpr(20);
    color: $baseGray9;
    text-align: center;
    background-color: $baseModuleFillColor;
    @include box-sizing;

    img {
        display: inline-block;
        width: rem(25);
        margin-top: rem(10);
        vertical-align: top;
    }
}

