@import "../base/normalize";
@import "../base/mixin";
@import "../pages/search";
@import "../pages/office-list";
@import "../base/side-nav";
@import "../pages/banner-item";
@import "../pages/hot-topic";


.banner-index-box {
    padding: rem(14) rem(30) rem(31);

    .carousel-swiper {

        .swiper-slide {
            width: 100% !important;
        }

        img {
            width: 100%;
        }
    }
}

.index-module-header {
    position: relative;
    margin: 0 rem(30);
    height: rem(90);
    line-height: rem(90);
    @include font-dpr(32);
    border-bottom: 1px solid $baseBorderColor;

    .more-arrows {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        color: #999;

        .arrows-right {
            display: inline-block;
            width: rem(45);
            height: rem(90);
            @include bg-image('/static/images/global/arrows_right_icon');
            background-position: right center;
            background-size: 40%;
        }
    }
}

.new-index-pull-down {
    display: block;
    line-height: 1;
    padding-top: rem(19);
    padding-bottom: rem(10);
    @include font-dpr(20);
    color: $baseGray9;
    text-align: center;
    background-color: $baseModuleFillColor;
    @include box-sizing;

    img {
        display: inline-block;
        width: rem(25);
        margin-top: rem(10);
        vertical-align: top;
    }
}
.primary-item {
    .download-app {
        padding: rem(20) rem(30);
        line-height: rem(47);
        @include font-dpr(30);
        border-bottom: 1px solid $baseBorderColor;

        p {
            position: relative;

            .arrows-right {
                position: absolute;
                top: 0;
                right: rem(-15);
                display: block;
                width: rem(47);
                height: rem(47);
                @include bg-image('/static/images/global/arrows_right_icon');
                background-position: center;
                -webkit-background-size: 40%;
                background-size: 40%;
            }
            .primary-app-logo {
                display: inline-block;
                width: rem(48);
                height: rem(48);
                margin-right: rem(10);
                vertical-align: top;
                background: url('http://wap-qn.toutiaofangchan.com/ic_launcher.png') no-repeat center;
                -webkit-background-size: contain;
                background-size: contain;
                border-radius: rem(5);
            }
        }
    }
}