@import "../base/normalize";
@import "../base/mixin";
@import "../pages/detail-primary";
@import "../base/detail-contact";

.primary-table {
    width: 100%;
    @include font-dpr(26);
    text-align: center;

    th {
        padding: rem(35) rem(30);
        white-space: nowrap;
        border-bottom: 1px solid $detailBorderColor;
    }


    tr {

        td {
            padding: rem(15) rem(30);
            vertical-align: top;

            &:first-child {
                text-align: left;
            }
        }

        &:nth-child(2) {
            td {
                padding-top: rem(30);
            }
        }
        &:nth-last-child(1) {
            td {
                padding-bottom: rem(30);
            }
        }
    }

}