@import "../base/normalize";
@import "../base/mixin";

html {
    background-color: #f4f4f4;
}
.process-box {
    margin: rem(15) rem(61) 0 rem(44);

    img {
        width: 100%;
    }
}
.btn-box {
    padding: rem(90) 0 rem(110);
    text-align: center;

    .btn {
        display: inline-block;
        width: rem(320);
        height: rem(76);
        line-height: rem(70);
        color: #fff;
        @include bg-image('/static/images/payment/activity-btn-bg');
        @include font-dpr(36);
    }
}