@import "../base/normalize";
@import "../base/mixin";
@import "../pages/detail-header-banner";
@import "../pages/detail-primary";
@import "../pages/tilelist-piece";
@import "../base/detail-contact";


.basic-information {
    padding: rem(25) rem(15);

    .column {
        display: -webkit-flex;
        display: flex;

        .info-card-item {
            -webkit-flex: 1;
            flex: 1;

            margin: rem(15) rem(15);
            @include font-dpr(28);
            border: rem(1) solid #ccc;
            -webkit-border-radius: rem(4);
                    border-radius: rem(4);
            -webkit-box-shadow: 0 rem(7) rem(12) 0 rgba(85, 33, 33, 0.1);
                    box-shadow: 0 rem(7) rem(12) 0 rgba(85, 33, 33, 0.1);

        }

        &.item-only-one {
            margin-bottom: rem(10);

            .info-card-item {
                line-height: rem(40);
                padding: rem(26) rem(37) rem(28);
            }
        }

        &.item-column-two {
            .info-card-item {
                padding: rem(26) rem(37) rem(29);

                i {
                    position: relative;
                    top: rem(26);
                    display: inline-block;
                    width: rem(52);
                    height: rem(52);
                    margin-right: rem(25);
                    vertical-align: top;
                    background-position: center;

                    &.item-two-1 {
                        @include bg-image('/static/images/plot/xfxq_jbxx_icon_lh');
                    }
                    &.item-two-2 {
                        @include bg-image('/static/images/plot/xfxq_jbxx_icon_cw');
                    }
                    &.item-two-3 {
                        @include bg-image('/static/images/plot/xfxq_jbxx_icon_dt');
                    }
                    &.item-two-4 {
                        @include bg-image('/static/images/plot/xfxq_jbxx_icon_kq');
                    }
                }

                .info-item-text {
                    display: inline-block;

                    p {
                        margin-top: rem(11);
                        margin-bottom: rem(28);
                        @include font-dpr(24);
                        color: #777;
                    }
                }
            }
        }

        &.item-column-three {
            text-align: center;

            .info-card-item {
                padding: rem(20) rem(30) rem(24);
                @include font-dpr(24);

                i {
                    position: relative;
                    top: 0;
                    display: inline-block;
                    width: rem(40);
                    height: rem(40);
                    margin-bottom: rem(20);
                    vertical-align: top;
                    background-position: center;

                    &.item-three-1 {
                        @include bg-image('/static/images/plot/xfxq_jtxx_icon_bus');
                    }
                    &.item-three-2 {
                        @include bg-image('/static/images/plot/xfxq_jtxx_icon_subway');
                    }
                    &.item-three-3 {
                        @include bg-image('/static/images/plot/xfxq_jtxx_icon_car');
                    }
                }

                em, span {
                    display: block;
                }

                em {
                    margin-bottom: rem(36);
                    color: #666;
                }

                span {
                    margin-top: rem(15);
                    color: #999;
                }
            }
        }
    }
}