@import "../base/normalize";
@import "../base/mixin";
@import "../pages/detail-header-banner";
@import "../pages/detail-primary";
@import "../pages/tilelist-piece";
@import "../base/detail-contact";
@import "../pages/office-list";


.carousel-swiper {
    position: relative;
    height: rem(470);

    .banner-title {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: rem(50);
        padding: 0 rem(30);
        z-index: 99;
        @include box-sizing;
        color: $baseWhite;

        div {
            display: inline-block;
            height: rem(33);
            line-height: rem(33);
            @include font-dpr(20);
            padding: 0 rem(16);
            background-color: rgba(95,103,137,0.8);

            &.banner-house-number {
                -webkit-border-radius: rem(6);
                -moz-border-radius: rem(6);
                border-radius: rem(6);
            }

            &.pictrue-index {
                position: relative;
                bottom: 0;
                width: auto;
                float: right;
                -webkit-border-radius: rem(16);
                -moz-border-radius: rem(16);
                border-radius: rem(16);
            }
        }

    }

    img {
        width: 100%;
    }
}

.describe-box {
    padding: 0 rem(30) rem(40);

    .describe-header {
        height: rem(70);
        margin-bottom: rem(46);

        .source-icon {
            display: inline-block;
            width: auto;
            height: rem(70);
            vertical-align: top;
        }

        p {
            position: relative;
            display: inline-block;
            height: rem(70);
            margin-left: rem(20);
            white-space: nowrap;

            em {
                position: absolute;
                display: block;
                bottom: 0;
                color: #666;
                @include font-dpr(24);
            }

            span {
                display: block;
                position: absolute;
                @include font-dpr(32);
            }
        }

        .issuer-tel-icon {
            display: block;
            float: right;
            width: rem(70);
            height: rem(70);
            @include bg-image('../images/rent/rent_gray_icon_phone');
            -webkit-background-size: contain;
            background-size: contain;
            background-position: center;
        }
    }

    .describe-cont {
        position: relative;
        @include font-dpr(28);
        line-height: rem(42);
        color: #999;
        text-align: justify;

        .describe-show-btn {
            position: absolute;
            right: 0;
            bottom: 0;
            color: #999;
            margin-left: rem(20);
            white-space: nowrap;
        }
    }
}

.primary-message {
    .primary-header {
        padding: rem(50) 0;
        margin-left: rem(30);
        margin-right: rem(30);

        h2, p {
            line-height: 1;
            @include font-dpr(36);
        }

        h2 {
            font-weight: 700;

        }

        p {
            color: $baseBlack;
            margin-top: rem(26);
        }
    }
}

.primary-header-rent-tag {
    margin-top: rem(50);
    white-space: inherit;

    &.house-labelling {
        margin-bottom: rem(-15);

        span {
            height: rem(54);
            line-height: rem(54);
            padding-left: rem(20);
            padding-right: rem(20);
            margin-right: rem(20);
            margin-bottom: rem(15);
            box-sizing: border-box;
            border: rem(1) solid $baseBorderColor;
        }
    }
}

.house-labelling {
    span {
        &.rent-style {
            color: $baseWhite;
            background-color: #aaa;
        }
    }
}


.module-header-message {
    padding: 0;
    margin: 0 rem(30);
    border-bottom: none;

    h3 {
        @include font-dpr(32);
    }

    .more-arrows {
        right: 0;
    }
}

.tilelist {
    &.row {
        padding-top: 0;
        li {
            .tilelist-content {
                @include font-dpr(24);
                h4 {
                    @include font-dpr(24);
                }
                em {
                    color: #888;
                }

                p {
                    em {
                        color: #888;

                        &.link {
                            color: #2a8ad5;
                        }
                    }
                }
            }
        }
    }
}
.border-box {
    margin-left: rem(30);
    margin-right: rem(30);
    border-bottom: rem(1) solid #e8e8e8;

    > section {
        margin-left: rem(-30);
        margin-right: rem(-30);
    }
}

.map-distance {
    position: relative;
    margin-left: rem(30);
    margin-right: rem(30);
    padding-bottom: rem(45);
    padding-left: rem(34);

    .rent-traffic-icon {
        position: absolute;
        display: block;
        left: 0;
        top: rem(3);
        width: rem(14);
        height: rem(22);
        @include bg-image('../images/rent/rent-traffic-icon');
        -webkit-background-size: contain;
        background-size: contain;
    }
}

.list-item {
    &:first-child {
        padding-top: 0;
    }
    &:last-child {
        border-bottom: none;
    }
}

.detail-contact-box {
    .detail-contact-content {
        padding: 0;
        background-color: transparent;
        border-top: rem(1) solid #e8e8e8;

        a {
            float: left;
            height: rem(98);
            line-height: rem(98);

            &.contact-telephone-counseling {
                width: rem(300);
                height: rem(98);
                line-height: rem(98);
                -webkit-border-radius: 0;
                -moz-border-radius: 0;
                border-radius: 0;
            }
            &.contact-like, &.contact-next {
                background-color: #fff;
                color: #333;
                text-align: center;
                @include font-dpr(32);
            }
            &.contact-like {
                width: rem(199);
                border-right: rem(1) solid #e8e8e8;
            }
            &.contact-next {
                width: rem(250);
            }
        }
    }
}

.rent-support-nav {
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    margin: 0 rem(15) rem(35);


    .support-item {
        width: rem(74);
        margin: rem(20) rem(35);
        color: #666;
        @include font-dpr(20);

        i {
            display: inline-block;
            width: rem(36);
            height: rem(36);
            margin-bottom: rem(10);
            @include bg-image('../images/rent/rent-support-icon-gray');
            -webkit-background-size: rem(276) rem(156);
            background-size: rem(278) rem(156);

            &.kongtiao {
                background-position: 0 0;
            }
            &.dianshi {
                background-position: rem(-60) 0;
            }
            &.xiyiji {
                background-position: rem(-120) 0;
            }
            &.reshuiqi {
                background-position: rem(-180) 0;
            }
            &.bingxiang {
                background-position: rem(-240) 0;
            }
            &.weibolu {
                background-position: 0 rem(-60);
            }
            &.chuang {
                background-position: rem(-60) rem(-60);
            }
            &.yigui {
                background-position: rem(-120) rem(-60);
            }
            &.shafa {
                background-position: rem(-180) rem(-60);
            }
            &.zhuozi {
                background-position: rem(-240) rem(-60);
            }
            &.yizi {
                background-position: 0 rem(-120);
            }
            &.nuanqi {
                background-position: rem(-60) rem(-120);
            }
            &.meiqi {
                background-position: rem(-120) rem(-120);
            }
            &.wangluo {
                background-position: rem(-180) rem(-120);
            }
            &.zhinengsuo {
                background-position: rem(-240) rem(-120);
            }
        }

        span {
            display: block;
            width: rem(74);
            white-space: nowrap;
        }

        &.support {
            color: $baseBlack;

            i {
                @include bg-image('../images/rent/rent-support-icon-black');

                &.kongtiao {
                    background-position: 0 0;
                }
                &.dianshi {
                    background-position: rem(-60) 0;
                }
                &.xiyiji {
                    background-position: rem(-120) 0;
                }
                &.reshuiqi {
                    background-position: rem(-180) 0;
                }
                &.bingxiang {
                    background-position: rem(-240) 0;
                }
                &.weibolu {
                    background-position: 0 rem(-60);
                }
                &.chuang {
                    background-position: rem(-60) rem(-60);
                }
                &.yigui {
                    background-position: rem(-120) rem(-60);
                }
                &.shafa {
                    background-position: rem(-180) rem(-60);
                }
                &.zhuozi {
                    background-position: rem(-240) rem(-60);
                }
                &.yizi {
                    background-position: 0 rem(-120);
                }
                &.nuanqi {
                    background-position: rem(-60) rem(-120);
                }
                &.meiqi {
                    background-position: rem(-120) rem(-120);
                }
                &.wangluo {
                    background-position: rem(-180) rem(-120);
                }
                &.zhinengsuo {
                    background-position: rem(-240) rem(-120);
                }
            }
        }
    }
}