<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.toutiao.web.dao.mapper.version.VersionDao">
    <resultMap id="VersionResultMap" type="com.toutiao.web.dao.entity.version.VersionVO">
        <result column="version" property="isNew" jdbcType="INTEGER"/>
        <result column="url" property="url" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="getIsNewAppVersion" resultMap="VersionResultMap">
        SELECT version, url FROM version WHERE type = #{type} order by id desc limit 1
    </select>
</mapper>