<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.toutiao.web.dao.mapper.report.ReportNewPreferentialMapper">
    <resultMap id="BaseResultMap" type="com.toutiao.app.dao.report.ReportNewPreferential">
        <result column="newcode" property="newcode" jdbcType="INTEGER"/>
        <result column="projname" property="projname" jdbcType="VARCHAR"/>
        <result column="city_id" property="cityId" jdbcType="INTEGER"/>
        <result column="preferential_price" property="preferentialPrice" jdbcType="NUMERIC"/>
        <result column="average_price" property="averagePrice" jdbcType="NUMERIC"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="total_price" property="totalPrice" jdbcType="NUMERIC" />
    </resultMap>
    <sql id="Base_Column_List">
        newcode, projname, city_id, preferential_price, average_price, create_time, total_price
    </sql>
    <select id="selectAll" resultMap="BaseResultMap" parameterType="map">
        select
        <include refid="Base_Column_List"/>
        from report_new_preferential
        where city_id = #{cityId,jdbcType=INTEGER}
        order by create_time asc
    </select>
</mapper>