<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.toutiao.web.dao.mapper.officeweb.BuildTagsMapper" >
    <resultMap id="BaseResultMap" type="com.toutiao.web.dao.entity.officeweb.BuildTags" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="type" property="type" jdbcType="INTEGER" />
        <result column="city_id" property="cityId" jdbcType="INTEGER" />
        <result column="district_id" property="districtId" jdbcType="INTEGER" />
        <result column="park_name" property="parkName" jdbcType="VARCHAR" />
        <result column="amount" property="amount" jdbcType="INTEGER" />
    </resultMap>
    <sql id="Base_Column_List" >
        id, type, city_id, district_id, park_name,amount
    </sql>
    <select id="buildTagsList" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
        select
        <include refid="Base_Column_List" />
        from build_tags
        where city_id = #{cityId,jdbcType=INTEGER}
    </select>
</mapper>