<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.toutiao.web.dao.mapper.officeweb.IntelligenceFhPricetrendMapper" >
  <resultMap id="BaseResultMap" type="com.toutiao.web.dao.entity.officeweb.IntelligenceFhPricetrend" >
    <result column="min_total_price" property="minTotalPrice" jdbcType="INTEGER" />
    <result column="price" property="price" jdbcType="NUMERIC" />
    <result column="periodic_time" property="periodicTime" jdbcType="TIMESTAMP" />
    <result column="total_price" property="totalPrice" jdbcType="NUMERIC" />
    <result column="max_total_price" property="maxTotalPrice" jdbcType="INTEGER" />
  </resultMap>
  <insert id="insert" parameterType="com.toutiao.web.dao.entity.officeweb.IntelligenceFhPricetrend" >
    insert into intelligence_fh_pricetrend (min_total_price, price, periodic_time, 
      total_price, max_total_price)
    values (#{minTotalPrice,jdbcType=INTEGER}, #{price,jdbcType=NUMERIC}, #{periodicTime,jdbcType=TIMESTAMP}, 
      #{totalPrice,jdbcType=NUMERIC}, #{maxTotalPrice,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.toutiao.web.dao.entity.officeweb.IntelligenceFhPricetrend" >
    insert into intelligence_fh_pricetrend
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="minTotalPrice != null" >
        min_total_price,
      </if>
      <if test="price != null" >
        price,
      </if>
      <if test="periodicTime != null" >
        periodic_time,
      </if>
      <if test="totalPrice != null" >
        total_price,
      </if>
      <if test="maxTotalPrice != null" >
        max_total_price,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="minTotalPrice != null" >
        #{minTotalPrice,jdbcType=INTEGER},
      </if>
      <if test="price != null" >
        #{price,jdbcType=NUMERIC},
      </if>
      <if test="periodicTime != null" >
        #{periodicTime,jdbcType=TIMESTAMP},
      </if>
      <if test="totalPrice != null" >
        #{totalPrice,jdbcType=NUMERIC},
      </if>
      <if test="maxTotalPrice != null" >
        #{maxTotalPrice,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>

  <select id="queryPriceTrend" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    SELECT * FROM intelligence_fh_pricetrend
    WHERE 1=1
    <if test="totalPrice!=null">
      AND <![CDATA[ #{totalPrice}>= min_total_price AND #{totalPrice}< max_total_price]]>
    </if>
  </select>
</mapper>