<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.toutiao.web.dao.mapper.officeweb.IntelligenceFhTdMapper" >
  <resultMap id="BaseResultMap" type="com.toutiao.web.dao.entity.officeweb.IntelligenceFhTd" >
    <result column="total_price_range" property="totalPriceRange" jdbcType="INTEGER" />
    <result column="target_sd" property="targetSd" jdbcType="NUMERIC" />
    <result column="periodic_time" property="periodicTime" jdbcType="TIMESTAMP" />
    <result column="all_sd" property="allSd" jdbcType="NUMERIC" />
  </resultMap>
  <insert id="insert" parameterType="com.toutiao.web.dao.entity.officeweb.IntelligenceFhTd" >
    insert into intelligence_fh_td (total_price_range, target_sd, periodic_time, 
      all_sd)
    values (#{totalPriceRange,jdbcType=INTEGER}, #{targetSd,jdbcType=NUMERIC}, #{periodicTime,jdbcType=TIMESTAMP}, 
      #{allSd,jdbcType=NUMERIC})
  </insert>
  <insert id="insertSelective" parameterType="com.toutiao.web.dao.entity.officeweb.IntelligenceFhTd" >
    insert into intelligence_fh_td
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="totalPriceRange != null" >
        total_price_range,
      </if>
      <if test="targetSd != null" >
        target_sd,
      </if>
      <if test="periodicTime != null" >
        periodic_time,
      </if>
      <if test="allSd != null" >
        all_sd,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="totalPriceRange != null" >
        #{totalPriceRange,jdbcType=INTEGER},
      </if>
      <if test="targetSd != null" >
        #{targetSd,jdbcType=NUMERIC},
      </if>
      <if test="periodicTime != null" >
        #{periodicTime,jdbcType=TIMESTAMP},
      </if>
      <if test="allSd != null" >
        #{allSd,jdbcType=NUMERIC},
      </if>
    </trim>
  </insert>
</mapper>