<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.toutiao.web.dao.mapper.officeweb.IntelligenceFhResMapper" >
  <resultMap id="BaseResultMap" type="com.toutiao.web.dao.entity.officeweb.IntelligenceFhRes" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
    <result column="fh_result" property="fhResult" jdbcType="OTHER"/>
    <result column="down_payment" property="downPayment" jdbcType="INTEGER" />
    <result column="month_payment" property="monthPayment" jdbcType="INTEGER" />
    <result column="user_type" property="userType" jdbcType="INTEGER" />
    <result column="total_price" property="totalPrice" jdbcType="INTEGER" />
    <result column="layout" property="layout" jdbcType="INTEGER" />
    <result column="has_child" property="hasChild" jdbcType="VARCHAR" />
    <result column="has_oldman" property="hasOldman" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="VARCHAR"/>
    <result column="user_portrait" property="userPortrait" jdbcType="INTEGER" />
    <result column="collect_status" property="collectStatus" jdbcType="INTEGER" />
    <result column="district_id" property="districtId" jdbcType="VARCHAR" />
    <result column="layout_array" property="layoutArray" typeHandler="com.toutiao.web.common.extension.mybatis.typehandler.ArrayStringTypeHandler"/>
    <result column="district_array" property="districtArray" typeHandler="com.toutiao.web.common.extension.mybatis.typehandler.ArrayStringTypeHandler"/>
  </resultMap>
  <sql id="Base_Column_List" >
    id, phone, fh_result, down_payment, month_payment, user_type, total_price, layout,layout_array,district_array,
    has_child, has_oldman,create_time,user_portrait,district_id,collect_status
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from intelligence_fh_res
    where id = #{id,jdbcType=INTEGER}
  </select>
  <!--List<IntelligenceFhRes> selectByUserPhone(String userPhone);-->
  <select id="selectByUserPhone" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <!--<include refid="Base_Column_List" />-->
    <include refid="Base_Column_List" />
    from intelligence_fh_res
    where phone = #{userPhone}  and collect_status=1 ORDER by id DESC
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from intelligence_fh_res
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.toutiao.web.dao.entity.officeweb.IntelligenceFhRes" >
    insert into intelligence_fh_res (id, phone, fh_result, 
      down_payment, month_payment, user_type, 
      total_price, layout, has_child, 
      has_oldman,create_time,user_portrait,district_id)
    values (#{id,jdbcType=INTEGER}, #{phone,jdbcType=VARCHAR}, #{fhResult,jdbcType=OTHER}, 
      #{downPayment,jdbcType=INTEGER}, #{monthPayment,jdbcType=INTEGER}, #{userType,jdbcType=INTEGER}, 
      #{totalPrice,jdbcType=INTEGER}, #{layout,jdbcType=INTEGER}, #{hasChild,jdbcType=VARCHAR},
      #{hasOldman,jdbcType=VARCHAR},#{createTime},jdbcType=VARCHAR),#{userPortrait,jdbcType=INTEGER},#{districtId,jdbcType=VARCHAR})
  </insert>

  <insert id="saveData" parameterType="com.toutiao.web.dao.entity.officeweb.IntelligenceFhRes" useGeneratedKeys="true" keyProperty="id">
    <!--<selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER">-->
      <!--SELECT currval('id') AS id-->
    <!--</selectKey>-->
    insert into intelligence_fh_res
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="phone != null" >
        phone,
      </if>
      <if test="fhResult != null" >
        fh_result,
      </if>
      <if test="downPayment != null" >
        down_payment,
      </if>
      <if test="monthPayment != null" >
        month_payment,
      </if>
      <if test="userType != null" >
        user_type,
      </if>
      <if test="totalPrice != null" >
        total_price,
      </if>
      <if test="layout != null" >
        layout,
      </if>
      <if test="hasChild != null" >
        has_child,
      </if>
      <if test="hasOldman != null" >
        has_oldman,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="userPortrait != null" >
        user_portrait,
      </if>
      <if test="districtId != null" >
        district_id,
      </if>
      <if test="layoutArray != null" >
        layout_array,
      </if>
      <if test="districtArray != null" >
        district_array,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="phone != null" >
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="fhResult != null" >
        #{fhResult}::jsonb,
      </if>
      <if test="downPayment != null" >
        #{downPayment,jdbcType=INTEGER},
      </if>
      <if test="monthPayment != null" >
        #{monthPayment,jdbcType=INTEGER},
      </if>
      <if test="userType != null" >
        #{userType,jdbcType=INTEGER},
      </if>
      <if test="totalPrice != null" >
        #{totalPrice,jdbcType=INTEGER},
      </if>
      <if test="layout != null" >
        #{layout,jdbcType=INTEGER},
      </if>
      <if test="hasChild != null" >
        #{hasChild,jdbcType=VARCHAR},
      </if>
      <if test="hasOldman != null" >
        #{hasOldman,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="userPortrait != null" >
        #{userPortrait,jdbcType=INTEGER},
      </if>
      <if test="districtId != null" >
        #{districtId,jdbcType=VARCHAR},
      </if>
      <if test="layoutArray != null" >
        string_to_array(#{layoutArray}, ',')::INT [],
      </if>
     <if test="districtArray != null" >
       string_to_array(#{districtArray}, ',')::INT [],
    </if>
    </trim>
  </insert>

  <insert id="insertSelective" parameterType="com.toutiao.web.dao.entity.officeweb.IntelligenceFhRes" >
    insert into intelligence_fh_res
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="phone != null" >
        phone,
      </if>
      <if test="fhResult != null" >
        fh_result,
      </if>
      <if test="downPayment != null" >
        down_payment,
      </if>
      <if test="monthPayment != null" >
        month_payment,
      </if>
      <if test="userType != null" >
        user_type,
      </if>
      <if test="totalPrice != null" >
        total_price,
      </if>
      <if test="layout != null" >
        layout,
      </if>
      <if test="hasChild != null" >
        has_child,
      </if>
      <if test="hasOldman != null" >
        has_oldman,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="userPortrait != null" >
        user_portrait,
      </if>
      <if test="districtId != null" >
        district_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="phone != null" >
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="fhResult != null" >
        #{fhResult,jdbcType=OTHER},
      </if>
      <if test="downPayment != null" >
        #{downPayment,jdbcType=INTEGER},
      </if>
      <if test="monthPayment != null" >
        #{monthPayment,jdbcType=INTEGER},
      </if>
      <if test="userType != null" >
        #{userType,jdbcType=INTEGER},
      </if>
      <if test="totalPrice != null" >
        #{totalPrice,jdbcType=INTEGER},
      </if>
      <if test="layout != null" >
        #{layout,jdbcType=INTEGER},
      </if>
      <if test="hasChild != null" >
        #{hasChild,jdbcType=VARCHAR},
      </if>
      <if test="hasOldman != null" >
        #{hasOldman,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="userPortrait != null" >
        #{userPortrait,jdbcType=INTEGER},
      </if>
      <if test="districtId != null" >
        #{districtId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.toutiao.web.dao.entity.officeweb.IntelligenceFhRes" >
    update intelligence_fh_res
    <set >
      <if test="phone != null" >
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="fhResult != null" >
        fh_result = #{fhResult,jdbcType=OTHER},
      </if>
      <if test="downPayment != null" >
        down_payment = #{downPayment,jdbcType=INTEGER},
      </if>
      <if test="monthPayment != null" >
        month_payment = #{monthPayment,jdbcType=INTEGER},
      </if>
      <if test="userType != null" >
        user_type = #{userType,jdbcType=INTEGER},
      </if>
      <if test="totalPrice != null" >
        total_price = #{totalPrice,jdbcType=INTEGER},
      </if>
      <if test="layout != null" >
        layout = #{layout,jdbcType=INTEGER},
      </if>
      <if test="hasChild != null" >
        has_child = #{hasChild,jdbcType=VARCHAR},
      </if>
      <if test="hasOldman != null" >
        has_oldman = #{hasOldman,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="userPortrait != null" >
        user_portrait = #{userPortrait,jdbcType=INTEGER},
      </if>
      <if test="districtId != null" >
        district_id= #{districtId,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.toutiao.web.dao.entity.officeweb.IntelligenceFhRes" >
    update intelligence_fh_res
    set phone = #{phone,jdbcType=VARCHAR},
      fh_result = #{fhResult,jdbcType=OTHER},
      down_payment = #{downPayment,jdbcType=INTEGER},
      month_payment = #{monthPayment,jdbcType=INTEGER},
      user_type = #{userType,jdbcType=INTEGER},
      total_price = #{totalPrice,jdbcType=INTEGER},
      layout = #{layout,jdbcType=INTEGER},
      has_child = #{hasChild,jdbcType=VARCHAR},
      has_oldman = #{hasOldman,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=VARCHAR},
      user_portrait = #{userPortrait,jdbcType=INTEGER},
      district_id= #{districtId,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <!--int  deleteMyReport(@Param("reportId") Integer reportId,@Param("phone") String phone);-->
  <update id="deleteMyReport">
    UPDATE intelligence_fh_res set collect_status=0 where id=#{reportId} and collect_status=1
  </update>
  <!--int updateMyReportCollectStatus(@Param("reportId") Integer integer,@Param("usePhone") String usePhone);-->
  <update id="updateMyReportCollectStatus">
    UPDATE intelligence_fh_res set collect_status=1,phone = #{usePhone} where id=#{reportId}
  </update>
</mapper>