<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.toutiao.web.dao.mapper.officeweb.PlotsMarketMapper">
    <resultMap id="PlotsMarketResultMap" type="com.toutiao.app.domain.plot.PlotMarketDo">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="city_id" property="cityId" jdbcType="INTEGER"/>
        <result column="district_id" property="districtId" jdbcType="INTEGER"/>
        <result column="newcode" property="newCode" jdbcType="INTEGER"/>
        <result column="visit_30_sort" property="visit30Sort" jdbcType="INTEGER"/>
        <result column="visit_30" property="visit30" jdbcType="INTEGER"/>
        <result column="avg_deal" property="avgDeal" jdbcType="INTEGER"/>
        <result column="rent_sell_30" property="rentSell30" jdbcType="NUMERIC"/>
        <result column="time" property="time" jdbcType="INTEGER"/>
        <result column="avg_deal_sort" property="avgDealSort" jdbcType="INTEGER"/>
        <result column="rent_sell_30_sort" property="rentSell30Sort" jdbcType="INTEGER"/>
        <result column="total_sort" property="totalSort" jdbcType="INTEGER"/>
        <result column="total_score" property="totalScore" jdbcType="INTEGER"/>
    </resultMap>


    <select id="queryPlotMarketByPlotId" resultMap="PlotsMarketResultMap">
        SELECT r.* FROM "report_district_hot_20" AS r WHERE r.newcode = #{plotId}
    </select>
</mapper>