<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.toutiao.web.dao.mapper.officeweb.PriceTrendMapper">
  <resultMap id="BaseResultMap" type="com.toutiao.web.dao.entity.officeweb.PriceTrend">
    <result column="building_id" jdbcType="INTEGER" property="buildingId" />
    <result column="property_type" jdbcType="SMALLINT" property="propertyType" />
    <result column="contrast_d_a" jdbcType="SMALLINT" property="contrastDA" />
    <result column="price" jdbcType="NUMERIC" property="price" />
    <result column="month" jdbcType="TIMESTAMP" property="month" />
    <result column="building_name" jdbcType="VARCHAR" property="buildingName" />
  </resultMap>
  <select id="newhouseTrendList" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    SELECT * FROM ( SELECT * FROM price_trend  where "month" BETWEEN  now() - interval '13 month' AND now() )as temp
    <where>
    <if test="buildingId != null">
       OR building_id  =#{buildingId}
    </if>
    <if test="districtId != null">
      OR building_id  =#{districtId}
    </if>
      <if test="areaId != null">
        OR building_id  =#{areaId}
      </if>
    </where>
     ORDER BY "month"
  </select>
</mapper>
