$baseBlack: #3a3a3a;
$baseWhite: #fff;
$baseRed: #fb3939;
$baseGreen: #3bbc6c;
$baseGray: #747788;
$baseModuleFillColor: #f2f2f2;
$baseGray9: #999;
$borderRadiusColor: #999;
$borderLineColor: #ccc;
$baseBorderColor: #e8e8e8;

.high-light-red {
    color: $baseRed !important;
}
.high-light-green {
    color: #3bbc6c !important;
}

.none {
    display: none !important;
}

.pr {
    position: relative !important;
}

.pt0 {
    padding-top: 0 !important;
}
.pb0 {
    padding-bottom: 0!important;
}
.pl0 {
    padding-left: 0 !important;
}
.pr0 {
    padding-right: 0 !important;
}
.pa0 {
    padding: 0 !important;
}
.mt0 {
    margin-top: 0 !important;
}
.ml0 {
    margin-left: 0 !important;
}
.mr0 {
    margin-right: 0 !important;
}
.mb0 {
    margin-bottom: 0 !important;
}
.ma0 {
    margin: 0 !important;
}
.border-none {
    border: none !important;
}
.border-bot-none {
    border-bottom: none !important;
}
.border-top-none {
    border-bottom: none !important;
}

.text-center {
    text-align: center !important;
}

.clear {
    zoom: 1;

    &:after {
        visibility: hidden;
        display: block;
        clear: both;
        content: '';
        height: 0;
        font-size: 0;
    }
}

.content-visible {
    display: block !important;
}

@mixin font-dpr($font-size) {
    [data-dpr="1"] & {
        font-size: #{$font-size / 2}px;
    }
    
    [data-dpr="2"] & {
        font-size: #{$font-size}px;
    }
    
    [data-dpr="3"] & {
        font-size: #{$font-size * 1.5}px;
    }
}


$baseFontSize: 75;
$FontSize: 16;
@mixin px2rem($name, $px1) {
    #{$name}: ($px1 / $baseFontSize) * 1rem;
}


@mixin bg-image($url) {
    background-image: url($url + ".png");
    background-repeat: no-repeat;
    @media (-webkit-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2) {
        background-image: url($url + "@2x.png");
    }
    @media (-webkit-min-device-pixel-ratio: 3), (min-device-pixel-ratio: 3) {
        background-image: url($url + "@3x.png");
    }
}

@mixin box-sizing {
    box-sizing: border-box;
}

@mixin text-ellipses {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@function rem($values) {
    $list: ();
    @each $value in $values {
        $list: #{$value/75}rem;
    }
    @return $list;
}

body, input, button, textarea, select {
    @include font-dpr(24);
}

body {
    position: relative;
    width: rem(750);
    margin: 0 auto !important;
}

.module-bottom-fill {
    padding-bottom: rem(16);
    background-color: $baseModuleFillColor;
    
    > section {
        background-color: $baseWhite;
    }
}

.house-labelling {
    @include text-ellipses;

    &.normal, &.gray {
        span {
            padding-left: rem(20);
            padding-right: rem(20);
            margin-right: rem(2);
        }
    }

    &.middle {
        span {
            padding-left: rem(12);
            padding-right: rem(12);
        }
    }

    &.gray {
        span {
            color: $baseWhite;
            background-color: $baseGray;
        }
    }

    &.normal {
        span {
            color: $baseGray9;
            border-color: $baseGray9;
            border: 1px solid $baseGray9;
        }
    }

    &.small {
        span {
            padding-left: rem(10);
            padding-right: rem(10);
            margin-right: rem(2);
        }
    }

    span {
        display: inline-block;
        height: rem(28);
        line-height: rem(28);
        @include font-dpr(20);
        -webkit-border-radius: rem(4);
        border-radius: rem(4);

        &:last-child {
            margin-right: 0;
        }
    }

    &.big {
        height: rem(32);
        span {
            height: rem(32);
            line-height: rem(30);
            @include box-sizing;
        }
    }

    span {
        &.company {
            background-color: #aaa;
            color: $baseWhite;
            border-color: #aaa;
        }
    }

}
.hidden {
    overflow: hidden;
}

.fixed-scroll {
    position: fixed;
    left: 50%;
    width: rem(750);
    height: 100%;
    margin-left: rem(-375) !important;
    overflow: hidden;
}
.shareTopImg {
    position: absolute;
}
