.side-nav-cont {
    position: fixed;
    top: 0;
    right: 0;
    width: rem(450);
    height: 100%;
    background-color: $baseWhite;
    z-index: 999;
    -webkit-transition: transform .5s ease;
            transition: transform .5s ease;
    -webkit-transform: translate3d(100%,0,0);
            transform: translate3d(100%,0,0);

    a {
        color: $baseBlack;
    }

    .side-user {
        padding: rem(50) 0 rem(80);
        text-align: center;
        @include font-dpr(26);
        color: #666;
        @include box-sizing;

        img {
            width: rem(120);
            margin-bottom: rem(20);
        }
        p {
            line-height: 1;
        }
    }

    .side-nav-item-wrapper {
        ul {

            li {
                position: relative;
                padding-left: rem(40);
                @include font-dpr(26);

                > a {
                    display: block;
                }

                i {
                    position: absolute;
                    top: 0;
                    left: rem(43);
                    display: block;
                    width: rem(46);
                    height: 100%;
                    background-position: center;
                    -webkit-background-size: contain;
                    background-size: contain;

                    &.icon-index {
                        @include bg-image('../images/global/grcl_icon_sy');
                    }
                    &.icon-esf {
                        @include bg-image('../images/global/grcl_icon_zes');
                    }
                    &.icon-plot {
                        @include bg-image('../images/global/grcl_icon_zxq');
                    }
                    &.icon-new {
                        @include bg-image('../images/global/grcl_icon_zxf');
                    }
                    &.icon-collect {
                        @include bg-image('../images/global/grcl_icon_sc');
                    }
                    &.icon-report {
                        @include bg-image('../images/global/grcl_icon_wdbg');
                    }
                    &.icon-exit {
                        @include bg-image('../images/global/grcl_icon_exit');
                    }
                }

                &.current, &:hover {
                    background-color: #f8f8f8;
                }
            }

            &.item-link {
                margin-bottom: rem(9);

                li {
                    height: rem(86);
                    line-height: rem(86);
                }
            }

            &.item-my {
                padding-top: rem(9);
                border-top: 1px solid $baseBorderColor;

                li {
                    line-height: 1;
                    padding-top: rem(31);
                    padding-bottom: rem(31);
                }
            }

        }
    }

    .side-house-intelligent {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        padding-top: rem(33);
        padding-bottom: rem(38);
        text-align: center;
        background-color: $baseModuleFillColor;

        a {
            position: relative;
            display: inline-block;
            width: rem(182);
            height: rem(69);
            line-height: rem(63);
            border: rem(3) solid $baseRed;
            @include font-dpr(30);
            @include box-sizing;

            em {
                display: block;
                position: relative;
                z-index:  1;
            }

            &:before , &:after {
                content: '';
                position: absolute;
                border: rem(3) solid $baseModuleFillColor;
                background-color: $baseModuleFillColor;
            }

            &:before {
                top: rem(-6);
                left: rem(10);
                right: rem(10);
                bottom: rem(-6);

            }
            &:after {
                top: rem(10);
                left: rem(-6);
                right: rem(-6);
                bottom: rem(10);

            }
        }
    }

    &.active {
        -webkit-transform: translate3d(0,0,0);
                transform: translate3d(0,0,0);
    }
}
.scroll-mask {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    content: '';
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
    z-index: 240;
}