html {
  background-color: #fff;
  -webkit-text-size-adjust: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

body, p, h1, h2, h3, h4, h5, h6, ul, ol, dl, dd, fieldset, legend, input, button, textarea, option, hr {
  margin: 0;
  padding: 0; }

body {
  line-height: 1.2;
  margin: 0 auto;
  -webkit-overflow-scrolling: touch;
  color: #3a3a3a; }

input, button, select, textarea {
  line-height: 1.2;
  font-size: 100%;
  vertical-align: middle;
  outline: none;
  color: #3a3a3a; }

input, button {
  border: none;
  border-radius: 0; }

textarea {
  resize: none; }

button, input[type='button'], input[type='reset'], input[type='submit'] {
  cursor: pointer;
  -webkit-appearance: button;
  -moz-appearance: button; }

input:focus::-moz-placeholder, input:focus::-webkit-input-placeholder {
  color: transparent; }

a {
  color: #999;
  text-decoration: none; }

a:focus {
  outline: none; }

a, input, button, select, textarea {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

em, i {
  font-style: normal; }

ul, ol {
  list-style: none; }

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal; }

fieldset, img {
  border: none; }

img {
  vertical-align: middle; }

a, img {
  -webkit-touch-callout: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

hr {
  border-style: solid;
  border-width: 1px 0 0 0; }

.high-light-red {
  color: #fb3939 !important; }

.high-light-green {
  color: #3bbc6c !important; }

.none {
  display: none !important; }

.pr {
  position: relative !important; }

.pt0 {
  padding-top: 0 !important; }

.pb0 {
  padding-bottom: 0 !important; }

.pl0 {
  padding-left: 0 !important; }

.pr0 {
  padding-right: 0 !important; }

.pa0 {
  padding: 0 !important; }

.mt0 {
  margin-top: 0 !important; }

.ml0 {
  margin-left: 0 !important; }

.mr0 {
  margin-right: 0 !important; }

.mb0 {
  margin-bottom: 0 !important; }

.ma0 {
  margin: 0 !important; }

.border-none {
  border: none !important; }

.border-bot-none {
  border-bottom: none !important; }

.border-top-none {
  border-bottom: none !important; }

.text-center {
  text-align: center !important; }

.clear {
  zoom: 1; }
  .clear:after {
    visibility: hidden;
    display: block;
    clear: both;
    content: '';
    height: 0;
    font-size: 0; }

.content-visible {
  display: block !important; }

.module-bottom-fill {
  padding-bottom: 0.2133333333rem;
  background-color: #f2f2f2; }
  .module-bottom-fill > section {
    background-color: #fff; }

.house-labelling {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }
  .house-labelling.normal span, .house-labelling.gray span {
    height: 0.4266666667rem;
    line-height: 0.4266666667rem;
    padding-left: 0.2666666667rem;
    padding-right: 0.2666666667rem;
    margin-right: 0.08rem; }
    [data-dpr="1"] .house-labelling.normal span, [data-dpr="1"] .house-labelling.gray span {
      font-size: 10px; }
    [data-dpr="2"] .house-labelling.normal span, [data-dpr="2"] .house-labelling.gray span {
      font-size: 20px; }
    [data-dpr="3"] .house-labelling.normal span, [data-dpr="3"] .house-labelling.gray span {
      font-size: 30px; }
  .house-labelling.middle span {
    height: 0.4rem;
    line-height: 0.4rem;
    padding-left: 0.16rem;
    padding-right: 0.16rem; }
  .house-labelling.gray span {
    color: #fff;
    background-color: #747788; }
  .house-labelling.normal span {
    color: #999;
    border-color: #999;
    border: 1px solid #999; }
  .house-labelling.small span {
    height: 0.3333333333rem;
    line-height: 0.3333333333rem;
    padding-left: 0.1333333333rem;
    padding-right: 0.1333333333rem;
    margin-right: 0.0266666667rem; }
    [data-dpr="1"] .house-labelling.small span {
      font-size: 9px; }
    [data-dpr="2"] .house-labelling.small span {
      font-size: 18px; }
    [data-dpr="3"] .house-labelling.small span {
      font-size: 27px; }
  .house-labelling span {
    display: inline-block;
    -webkit-border-radius: 0.08rem;
    -moz-border-radius: 0.08rem;
    border-radius: 0.08rem; }
    .house-labelling span:last-child {
      margin-right: 0; }

.hidden {
  overflow: hidden; }

.fixed-scroll {
  position: fixed;
  width: 100%;
  height: 100%;
  overflow: hidden; }

.page-empty {
  position: absolute;
  top: 40%;
  left: 0;
  width: 100%;
  margin-top: -2.72rem;
  text-align: center; }
  .page-empty img {
    width: 2.2rem;
    height: 2.4133333333rem; }
  .page-empty p {
    margin-top: 0.6666666667rem;
    color: #666; }
    [data-dpr="1"] .page-empty p {
      font-size: 14px; }
    [data-dpr="2"] .page-empty p {
      font-size: 28px; }
    [data-dpr="3"] .page-empty p {
      font-size: 42px; }
  .page-empty a {
    display: block;
    width: 2.08rem;
    height: 0.6933333333rem;
    line-height: 0.6666666667rem;
    margin: 1.2rem auto 0;
    color: #0a0724;
    border: 0.0133333333rem solid #0a0724;
    -webkit-border-radius: 0.3466666667rem;
    border-radius: 0.3466666667rem; }
    [data-dpr="1"] .page-empty a {
      font-size: 13px; }
    [data-dpr="2"] .page-empty a {
      font-size: 26px; }
    [data-dpr="3"] .page-empty a {
      font-size: 39px; }

/*# sourceMappingURL=404.css.map */
