html {
  background-color: #fff;
  -webkit-text-size-adjust: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

body, p, h1, h2, h3, h4, h5, h6, ul, ol, dl, dd, fieldset, legend, input, button, textarea, option, hr {
  margin: 0;
  padding: 0; }

body {
  line-height: 1.2;
  margin: 0 auto;
  -webkit-overflow-scrolling: touch;
  color: #3a3a3a; }

input, button, select, textarea {
  line-height: 1.2;
  font-size: 100%;
  vertical-align: middle;
  outline: none;
  color: #3a3a3a; }

input, button {
  border: none;
  border-radius: 0; }

textarea {
  resize: none; }

button, input[type='button'], input[type='reset'], input[type='submit'] {
  cursor: pointer;
  -webkit-appearance: button;
  -moz-appearance: button; }

input:focus::-moz-placeholder, input:focus::-webkit-input-placeholder {
  color: transparent; }

a {
  color: #999;
  text-decoration: none; }

a:focus {
  outline: none; }

a, input, button, select, textarea {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

em, i {
  font-style: normal; }

ul, ol {
  list-style: none; }

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal; }

fieldset, img {
  border: none; }

img {
  vertical-align: middle; }

a, img {
  -webkit-touch-callout: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

hr {
  border-style: solid;
  border-width: 1px 0 0 0; }

.high-light-red {
  color: #fb3939 !important; }

.high-light-green {
  color: #3bbc6c !important; }

.none {
  display: none !important; }

.pr {
  position: relative !important; }

.pt0 {
  padding-top: 0 !important; }

.pb0 {
  padding-bottom: 0 !important; }

.pl0 {
  padding-left: 0 !important; }

.pr0 {
  padding-right: 0 !important; }

.pa0 {
  padding: 0 !important; }

.mt0 {
  margin-top: 0 !important; }

.ml0 {
  margin-left: 0 !important; }

.mr0 {
  margin-right: 0 !important; }

.mb0 {
  margin-bottom: 0 !important; }

.ma0 {
  margin: 0 !important; }

.border-none {
  border: none !important; }

.border-bot-none {
  border-bottom: none !important; }

.border-top-none {
  border-bottom: none !important; }

.text-center {
  text-align: center !important; }

.clear {
  zoom: 1; }
  .clear:after {
    visibility: hidden;
    display: block;
    clear: both;
    content: '';
    height: 0;
    font-size: 0; }

.content-visible {
  display: block !important; }

.module-bottom-fill {
  padding-bottom: 0.2133333333rem;
  background-color: #f2f2f2; }
  .module-bottom-fill > section {
    background-color: #fff; }

.house-labelling {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }
  .house-labelling.normal span, .house-labelling.gray span {
    padding-left: 0.2666666667rem;
    padding-right: 0.2666666667rem;
    margin-right: 0.0266666667rem; }
  .house-labelling.middle span {
    padding-left: 0.16rem;
    padding-right: 0.16rem; }
  .house-labelling.gray span {
    color: #fff;
    background-color: #747788; }
  .house-labelling.normal span {
    color: #999;
    border-color: #999;
    border: 1px solid #999; }
  .house-labelling.small span {
    padding-left: 0.1333333333rem;
    padding-right: 0.1333333333rem;
    margin-right: 0.0266666667rem; }
  .house-labelling span {
    display: inline-block;
    height: 0.3733333333rem;
    line-height: 0.3733333333rem;
    -webkit-border-radius: 0.0533333333rem;
    border-radius: 0.0533333333rem; }
    [data-dpr="1"] .house-labelling span {
      font-size: 10px; }
    [data-dpr="2"] .house-labelling span {
      font-size: 20px; }
    [data-dpr="3"] .house-labelling span {
      font-size: 30px; }
    .house-labelling span:last-child {
      margin-right: 0; }

.hidden {
  overflow: hidden; }

.fixed-scroll {
  position: fixed;
  width: 100%;
  height: 100%;
  overflow: hidden; }

.bgbox {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #f0f0f0; }

.button {
  color: #fff;
  text-align: center;
  background-color: #0a0724;
  -webkit-border-radius: 0.0533333333rem;
  border-radius: 0.0533333333rem; }

.page1 .bg1 {
  background-image: url("/static/images/intelligent/znzf_user_bg.png");
  background-repeat: no-repeat;
  background-repeat: repeat-y;
  background-position: center;
  -webkit-background-size: contain;
  background-size: contain; }
  @media (-webkit-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2) {
    .page1 .bg1 {
      background-image: url("/static/images/intelligent/znzf_user_bg@2x.png"); } }
  @media (-webkit-min-device-pixel-ratio: 3), (min-device-pixel-ratio: 3) {
    .page1 .bg1 {
      background-image: url("/static/images/intelligent/znzf_user_bg@3x.png"); } }
.page1 .page-content .user-header-box {
  position: relative;
  width: 4.6533333333rem;
  height: 4.6533333333rem;
  padding: 0.1866666667rem;
  margin: 1.2rem auto 0;
  box-sizing: border-box; }
  .page1 .page-content .user-header-box:before, .page1 .page-content .user-header-box:after {
    content: '';
    position: absolute;
    left: 0;
    width: 0.2933333333rem;
    height: 0.2933333333rem;
    border-left: 0.0266666667rem solid #fb3939;
    box-sizing: border-box; }
  .page1 .page-content .user-header-box:before {
    top: 0;
    border-top: 0.0266666667rem solid #fb3939; }
  .page1 .page-content .user-header-box:after {
    bottom: 0;
    border-bottom: 0.0266666667rem solid #fb3939; }
  .page1 .page-content .user-header-box .user-line-triangle:before, .page1 .page-content .user-header-box .user-line-triangle:after {
    content: '';
    position: absolute;
    right: 0;
    width: 0.2933333333rem;
    height: 0.2933333333rem;
    border-right: 0.0266666667rem solid #fb3939;
    box-sizing: border-box; }
  .page1 .page-content .user-header-box .user-line-triangle:before {
    top: 0;
    border-top: 0.0266666667rem solid #fb3939; }
  .page1 .page-content .user-header-box .user-line-triangle:after {
    bottom: 0;
    border-bottom: 0.0266666667rem solid #fb3939; }
  .page1 .page-content .user-header-box img {
    width: 4.2666666667rem;
    height: 4.2666666667rem; }
.page1 .page-content .word-cont {
  width: 5.76rem;
  margin: 0.9866666667rem auto 0;
  line-height: 0.64rem;
  text-align: justify; }
  .page1 .page-content .word-cont ol {
    margin-top: 0.4rem; }
.page1 .page-content .down-triangle {
  position: absolute;
  left: 50%;
  bottom: 1.0666666667rem;
  width: 0.88rem;
  height: 0.7466666667rem;
  margin: 0 -0.44rem;
  background-image: url("/static/images/intelligent/intelligent-down-link.png");
  background-repeat: no-repeat;
  -webkit-background-size: contain;
  background-size: contain;
  -webkit-animation: upDown 1s infinite alternate;
  animation: upDown 1s infinite alternate; }
  @media (-webkit-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2) {
    .page1 .page-content .down-triangle {
      background-image: url("/static/images/intelligent/intelligent-down-link@2x.png"); } }
  @media (-webkit-min-device-pixel-ratio: 3), (min-device-pixel-ratio: 3) {
    .page1 .page-content .down-triangle {
      background-image: url("/static/images/intelligent/intelligent-down-link@3x.png"); } }
@keyframes upDown {
  from {
    bottom: 1.0666666667rem; }
  to {
    bottom: 0.8rem; } }
@-webkit-keyframes upDown {
  from {
    bottom: 1.0666666667rem; }
  to {
    bottom: 0.8rem; } }
.page2 .inte-color-red {
  color: #f25a5a !important; }
.page2 .page-content {
  position: relative;
  height: 100%;
  overflow-y: auto; }
  .page2 .page-content .module-item {
    position: relative;
    padding: 0.9333333333rem 0.4rem 0.9333333333rem; }
    .page2 .page-content .module-item:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 1.4666666667rem;
      opacity: 0.4;
      background-image: -moz-linear-gradient(-90deg, #eaeaea 0%, rgba(234, 234, 234, 0.02) 98%, #eaeaea 100%);
      background-image: -webkit-linear-gradient(-90deg, #eaeaea 0%, rgba(234, 234, 234, 0.02) 98%, #eaeaea 100%);
      background-image: -ms-linear-gradient(-90deg, #eaeaea 0%, rgba(234, 234, 234, 0.02) 98%, #eaeaea 100%); }
    .page2 .page-content .module-item .report-title-type1 {
      position: relative;
      margin-bottom: 0.6666666667rem;
      text-align: center; }
      .page2 .page-content .module-item .report-title-type1:before {
        content: '';
        position: absolute;
        top: 50%;
        left: 0;
        width: 100%;
        height: 0.0133333333rem;
        background-color: #0a0724; }
      .page2 .page-content .module-item .report-title-type1 p {
        position: relative;
        display: inline-block;
        padding-left: 0.8rem;
        padding-right: 0.8rem;
        background-color: #fdfdfd; }
        [data-dpr="1"] .page2 .page-content .module-item .report-title-type1 p {
          font-size: 16px; }
        [data-dpr="2"] .page2 .page-content .module-item .report-title-type1 p {
          font-size: 32px; }
        [data-dpr="3"] .page2 .page-content .module-item .report-title-type1 p {
          font-size: 48px; }
        .page2 .page-content .module-item .report-title-type1 p:before, .page2 .page-content .module-item .report-title-type1 p:after {
          content: '';
          position: absolute;
          top: 50%;
          width: 0.3066666667rem;
          height: 0.4266666667rem;
          margin-top: -0.2133333333rem;
          background-position: center;
          -webkit-background-size: contain;
          background-size: contain; }
        .page2 .page-content .module-item .report-title-type1 p:before {
          left: 0.1066666667rem;
          background-image: url("/static/images/intelligent/bgy_ys_l.png");
          background-repeat: no-repeat; }
          @media (-webkit-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2) {
            .page2 .page-content .module-item .report-title-type1 p:before {
              background-image: url("/static/images/intelligent/bgy_ys_l@2x.png"); } }
          @media (-webkit-min-device-pixel-ratio: 3), (min-device-pixel-ratio: 3) {
            .page2 .page-content .module-item .report-title-type1 p:before {
              background-image: url("/static/images/intelligent/bgy_ys_l@3x.png"); } }
        .page2 .page-content .module-item .report-title-type1 p:after {
          right: 0.1066666667rem;
          background-image: url("/static/images/intelligent/bgy_ys_r.png");
          background-repeat: no-repeat; }
          @media (-webkit-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2) {
            .page2 .page-content .module-item .report-title-type1 p:after {
              background-image: url("/static/images/intelligent/bgy_ys_r@2x.png"); } }
          @media (-webkit-min-device-pixel-ratio: 3), (min-device-pixel-ratio: 3) {
            .page2 .page-content .module-item .report-title-type1 p:after {
              background-image: url("/static/images/intelligent/bgy_ys_r@3x.png"); } }
    .page2 .page-content .module-item .report-title-type2 {
      position: absolute;
      top: 0;
      left: 0.4rem;
      right: 0.4rem;
      border-top: 0.0133333333rem solid #f25a5a;
      text-align: center; }
      .page2 .page-content .module-item .report-title-type2 p {
        position: relative;
        top: -0.1466666667rem;
        left: 50%;
        width: 4.4rem;
        height: 0.9733333333rem;
        line-height: 0.9733333333rem;
        margin-left: -2.2rem;
        color: #fff;
        background-image: url("/static/images/intelligent/report-type2-bg.png");
        background-repeat: no-repeat; }
        [data-dpr="1"] .page2 .page-content .module-item .report-title-type2 p {
          font-size: 16px; }
        [data-dpr="2"] .page2 .page-content .module-item .report-title-type2 p {
          font-size: 32px; }
        [data-dpr="3"] .page2 .page-content .module-item .report-title-type2 p {
          font-size: 48px; }
        @media (-webkit-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2) {
          .page2 .page-content .module-item .report-title-type2 p {
            background-image: url("/static/images/intelligent/report-type2-bg@2x.png"); } }
        @media (-webkit-min-device-pixel-ratio: 3), (min-device-pixel-ratio: 3) {
          .page2 .page-content .module-item .report-title-type2 p {
            background-image: url("/static/images/intelligent/report-type2-bg@3x.png"); } }
      .page2 .page-content .module-item .report-title-type2 span {
        color: #888; }
        [data-dpr="1"] .page2 .page-content .module-item .report-title-type2 span {
          font-size: 11px; }
        [data-dpr="2"] .page2 .page-content .module-item .report-title-type2 span {
          font-size: 22px; }
        [data-dpr="3"] .page2 .page-content .module-item .report-title-type2 span {
          font-size: 33px; }
    .page2 .page-content .module-item .report-caption {
      position: relative;
      padding-left: 0.36rem; }
      .page2 .page-content .module-item .report-caption:before {
        content: '';
        position: absolute;
        top: 0.08rem;
        left: 0;
        width: 0.08rem;
        height: 0.3466666667rem;
        background-color: #f25a5a; }
      .page2 .page-content .module-item .report-caption p {
        line-height: 0.5333333333rem; }
    .page2 .page-content .module-item .results-contrast li {
      position: relative;
      padding-left: 0.64rem;
      margin-bottom: 0.1866666667rem;
      line-height: 0.4rem; }
      [data-dpr="1"] .page2 .page-content .module-item .results-contrast li {
        font-size: 11px; }
      [data-dpr="2"] .page2 .page-content .module-item .results-contrast li {
        font-size: 22px; }
      [data-dpr="3"] .page2 .page-content .module-item .results-contrast li {
        font-size: 33px; }
      .page2 .page-content .module-item .results-contrast li:last-child {
        margin-bottom: 0; }
      .page2 .page-content .module-item .results-contrast li .contrast-mark {
        display: block;
        position: absolute;
        left: 0;
        width: 0.4rem;
        height: 0.4rem;
        line-height: 0.4rem;
        text-align: center;
        color: #fff;
        -webkit-border-radius: 50%;
        border-radius: 50%; }
        .page2 .page-content .module-item .results-contrast li .contrast-mark.type-red {
          background-color: #f25a5a; }
        .page2 .page-content .module-item .results-contrast li .contrast-mark.type-dark-green {
          background-color: #455765; }
        .page2 .page-content .module-item .results-contrast li .contrast-mark.type-yellow {
          background-color: #fece6c; }
      .page2 .page-content .module-item .results-contrast li p {
        color: #666; }
    .page2 .page-content .module-item table {
      width: 100%;
      margin-top: 1.08rem; }
      .page2 .page-content .module-item table tr:nth-child(even) {
        background-color: #f6f6f6; }
      .page2 .page-content .module-item table tr td {
        width: 1.5733333333rem;
        height: 1.4666666667rem;
        padding: 0 0.1333333333rem;
        text-align: center;
        color: #666;
        border: 0.0133333333rem solid #e8e8e8; }
        .page2 .page-content .module-item table tr td em {
          display: block; }
        .page2 .page-content .module-item table tr td span {
          display: block;
          padding: 0.2666666667rem 0; }
        .page2 .page-content .module-item table tr td:nth-child(1) {
          width: 1.3333333333rem; }
          .page2 .page-content .module-item table tr td:nth-child(1) em {
            white-space: nowrap; }
  .page2 .page-content .echart-box {
    height: 3.7333333333rem; }

.elastics-stack-box {
  padding-left: 0.4rem;
  padding-right: 0.4rem; }
  .elastics-stack-box .elastics-stack-content {
    padding-top: 0.4rem;
    padding-bottom: 0.5333333333rem;
    border-bottom: 0.0133333333rem solid #e8e8e8; }
    .elastics-stack-box .elastics-stack-content .elastics-stack {
      position: relative;
      width: 9.2rem;
      height: 2.5333333333rem;
      margin: 0 auto;
      -webkit-perspective: 9.2rem;
      perspective: 9.2rem;
      -webkit-perspective-origin: 150% 50%;
      perspective-origin: 150% 50%;
      box-sizing: border-box; }
      .elastics-stack-box .elastics-stack-content .elastics-stack li {
        position: absolute;
        z-index: 1;
        width: 8.4rem;
        height: 2.5333333333rem;
        padding: 0.2rem 0.2rem 0.2rem 0.4rem;
        cursor: pointer;
        opacity: 0;
        overflow: hidden;
        -webkit-border-radius: 0.1333333333rem;
        border-radius: 0.1333333333rem;
        -webkit-box-shadow: 0 0.2133333333rem 0.2133333333rem 0 rgba(137, 136, 136, 0.24);
        box-shadow: 0 0.2133333333rem 0.2133333333rem 0 rgba(137, 136, 136, 0.24);
        -webkit-transform: translate3d(0, 0, -2.4rem);
        transform: translate3d(0, 0, -2.4rem);
        -webkit-transform-style: preserve-3d;
        transform-style: preserve-3d;
        box-sizing: border-box; }
        .elastics-stack-box .elastics-stack-content .elastics-stack li.bgtype-1 {
          background-color: #f4f0e5;
          color: #99622d; }
          .elastics-stack-box .elastics-stack-content .elastics-stack li.bgtype-1 a {
            display: block;
            color: #99622d; }
        .elastics-stack-box .elastics-stack-content .elastics-stack li.bgtype-2 {
          background-color: #d1e2e1;
          color: #4c8477; }
          .elastics-stack-box .elastics-stack-content .elastics-stack li.bgtype-2 a {
            display: block;
            color: #4c8477; }
        .elastics-stack-box .elastics-stack-content .elastics-stack li.bgtype-3 {
          background-color: #e5dde7;
          color: #704b70; }
          .elastics-stack-box .elastics-stack-content .elastics-stack li.bgtype-3 a {
            display: block;
            color: #704b70; }
        .elastics-stack-box .elastics-stack-content .elastics-stack li.animate {
          -webkit-transition: all 0.3s ease-out;
          transition: all 0.3s ease-out; }
        .elastics-stack-box .elastics-stack-content .elastics-stack li.move-back {
          -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.47, 1);
          -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.47, 1.515);
          transition-timing-function: cubic-bezier(0.175, 0.885, 0.47, 1.515); }
        .elastics-stack-box .elastics-stack-content .elastics-stack li div {
          float: left; }
          .elastics-stack-box .elastics-stack-content .elastics-stack li div h4 {
            margin-top: 0.48rem; }
            [data-dpr="1"] .elastics-stack-box .elastics-stack-content .elastics-stack li div h4 {
              font-size: 17px; }
            [data-dpr="2"] .elastics-stack-box .elastics-stack-content .elastics-stack li div h4 {
              font-size: 34px; }
            [data-dpr="3"] .elastics-stack-box .elastics-stack-content .elastics-stack li div h4 {
              font-size: 51px; }
          .elastics-stack-box .elastics-stack-content .elastics-stack li div p {
            margin-top: 0.2266666667rem; }
            [data-dpr="1"] .elastics-stack-box .elastics-stack-content .elastics-stack li div p {
              font-size: 11.5px; }
            [data-dpr="2"] .elastics-stack-box .elastics-stack-content .elastics-stack li div p {
              font-size: 23px; }
            [data-dpr="3"] .elastics-stack-box .elastics-stack-content .elastics-stack li div p {
              font-size: 34.5px; }
        .elastics-stack-box .elastics-stack-content .elastics-stack li img {
          float: right;
          width: 3.7333333333rem;
          height: 2.1333333333rem;
          padding: 0.0666666667rem;
          background-color: #fff;
          box-sizing: border-box; }

.no-js .elastics-stack li {
  position: relative;
  display: inline-block;
  opacity: 1 !important;
  margin: 10px;
  cursor: default;
  -webkit-transform: translate3d(0, 0, 0) !important;
  transform: translate3d(0, 0, 0) !important; }

[data-drp='3'].elastics-stack {
  -webkit-perspective-origin: 180% 50%;
  perspective-origin: 180% 50%; }

@media screen and (-webkit-min-device-pixel-ratio: 3) {
  .elastics-stack-box .elastics-stack-content .elastics-stack {
    -webkit-perspective-origin: 180% 50%;
    perspective-origin: 180% 50%; } }
.elastics-stack-box {
  padding-left: 0;
  padding-right: 0; }

/*# sourceMappingURL=intelligent-report.css.map */
