html {
  background-color: #fff;
  -webkit-text-size-adjust: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

body, p, h1, h2, h3, h4, h5, h6, ul, ol, dl, dd, fieldset, legend, input, button, textarea, option, hr {
  margin: 0;
  padding: 0; }

body {
  line-height: 1.2;
  margin: 0 auto;
  -webkit-overflow-scrolling: touch;
  color: #3a3a3a; }

input, button, select, textarea {
  line-height: 1.2;
  font-size: 100%;
  vertical-align: middle;
  outline: none;
  color: #3a3a3a; }

input, button {
  border: none;
  border-radius: 0; }

textarea {
  resize: none; }

button, input[type='button'], input[type='reset'], input[type='submit'] {
  cursor: pointer;
  -webkit-appearance: button;
  -moz-appearance: button; }

input:focus::-moz-placeholder, input:focus::-webkit-input-placeholder {
  color: transparent; }

a {
  color: #999;
  text-decoration: none; }

a:focus {
  outline: none; }

a, input, button, select, textarea {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

em, i {
  font-style: normal; }

ul, ol {
  list-style: none; }

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal; }

fieldset, img {
  border: none; }

img {
  vertical-align: middle; }

a, img {
  -webkit-touch-callout: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

hr {
  border-style: solid;
  border-width: 1px 0 0 0; }

.high-light-red {
  color: #fb3939 !important; }

.high-light-green {
  color: #3bbc6c !important; }

.none {
  display: none !important; }

.pr {
  position: relative !important; }

.pt0 {
  padding-top: 0 !important; }

.pb0 {
  padding-bottom: 0 !important; }

.pl0 {
  padding-left: 0 !important; }

.pr0 {
  padding-right: 0 !important; }

.pa0 {
  padding: 0 !important; }

.mt0 {
  margin-top: 0 !important; }

.ml0 {
  margin-left: 0 !important; }

.mr0 {
  margin-right: 0 !important; }

.mb0 {
  margin-bottom: 0 !important; }

.ma0 {
  margin: 0 !important; }

.border-none {
  border: none !important; }

.border-bot-none {
  border-bottom: none !important; }

.border-top-none {
  border-bottom: none !important; }

.text-center {
  text-align: center !important; }

.clear {
  zoom: 1; }
  .clear:after {
    visibility: hidden;
    display: block;
    clear: both;
    content: '';
    height: 0;
    font-size: 0; }

.content-visible {
  display: block !important; }

.module-bottom-fill {
  padding-bottom: 0.2133333333rem;
  background-color: #f2f2f2; }
  .module-bottom-fill > section {
    background-color: #fff; }

.house-labelling {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }
  .house-labelling.normal span, .house-labelling.gray span {
    height: 0.4266666667rem;
    line-height: 0.4266666667rem;
    padding-left: 0.2666666667rem;
    padding-right: 0.2666666667rem;
    margin-right: 0.08rem; }
    [data-dpr="1"] .house-labelling.normal span, [data-dpr="1"] .house-labelling.gray span {
      font-size: 10px; }
    [data-dpr="2"] .house-labelling.normal span, [data-dpr="2"] .house-labelling.gray span {
      font-size: 20px; }
    [data-dpr="3"] .house-labelling.normal span, [data-dpr="3"] .house-labelling.gray span {
      font-size: 30px; }
  .house-labelling.middle span {
    height: 0.4rem;
    line-height: 0.4rem;
    padding-left: 0.16rem;
    padding-right: 0.16rem; }
  .house-labelling.gray span {
    color: #fff;
    background-color: #747788; }
  .house-labelling.normal span {
    color: #999;
    border-color: #999;
    border: 1px solid #999; }
  .house-labelling.small span {
    height: 0.3333333333rem;
    line-height: 0.3333333333rem;
    padding-left: 0.1333333333rem;
    padding-right: 0.1333333333rem;
    margin-right: 0.0266666667rem; }
    [data-dpr="1"] .house-labelling.small span {
      font-size: 9px; }
    [data-dpr="2"] .house-labelling.small span {
      font-size: 18px; }
    [data-dpr="3"] .house-labelling.small span {
      font-size: 27px; }
  .house-labelling span {
    display: inline-block;
    -webkit-border-radius: 0.08rem;
    -moz-border-radius: 0.08rem;
    border-radius: 0.08rem; }
    .house-labelling span:last-child {
      margin-right: 0; }

.hidden {
  overflow: hidden; }

.fixed-scroll {
  position: fixed;
  width: 100%;
  height: 100%;
  overflow: hidden; }

.bgbox {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #f0f0f0; }

.button {
  color: #fff;
  text-align: center;
  background-color: #0a0724;
  -webkit-border-radius: 0.0533333333rem;
  border-radius: 0.0533333333rem; }

.page1 .bg1 {
  background-image: url("/static/images/intelligent/znzf_image.png");
  background-repeat: no-repeat;
  background-position: center bottom;
  -webkit-background-size: contain;
  background-size: contain; }
  @media (-webkit-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2) {
    .page1 .bg1 {
      background-image: url("/static/images/intelligent/znzf_image@2x.png"); } }
  @media (-webkit-min-device-pixel-ratio: 3), (min-device-pixel-ratio: 3) {
    .page1 .bg1 {
      background-image: url("/static/images/intelligent/znzf_image@3x.png"); } }
.page1 .page-content {
  margin-top: 1.9466666667rem;
  text-align: center; }
  .page1 .page-content h1 {
    color: #0a0724; }
    [data-dpr="1"] .page1 .page-content h1 {
      font-size: 33px; }
    [data-dpr="2"] .page1 .page-content h1 {
      font-size: 66px; }
    [data-dpr="3"] .page1 .page-content h1 {
      font-size: 99px; }
  .page1 .page-content p {
    margin-top: 0.5333333333rem;
    line-height: 0.5866666667rem;
    color: #3a3a3a; }
    [data-dpr="1"] .page1 .page-content p {
      font-size: 15px; }
    [data-dpr="2"] .page1 .page-content p {
      font-size: 30px; }
    [data-dpr="3"] .page1 .page-content p {
      font-size: 45px; }
  .page1 .page-content button {
    width: 6.8266666667rem;
    height: 1.3333333333rem;
    line-height: 1.3333333333rem;
    margin-top: 1.9733333333rem; }
    [data-dpr="1"] .page1 .page-content button {
      font-size: 18px; }
    [data-dpr="2"] .page1 .page-content button {
      font-size: 36px; }
    [data-dpr="3"] .page1 .page-content button {
      font-size: 54px; }

.page2 .bg2 {
  background-image: url("/static/images/intelligent/znzf_gjcy_bg.png");
  background-repeat: no-repeat;
  background-repeat: repeat-y;
  background-position: center;
  -webkit-background-size: contain;
  background-size: contain; }
  @media (-webkit-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2) {
    .page2 .bg2 {
      background-image: url("/static/images/intelligent/znzf_gjcy_bg@2x.png"); } }
  @media (-webkit-min-device-pixel-ratio: 3), (min-device-pixel-ratio: 3) {
    .page2 .bg2 {
      background-image: url("/static/images/intelligent/znzf_gjcy_bg@3x.png"); } }
.page2 .page-content {
  margin-top: 1.0933333333rem;
  text-align: center; }
  [data-dpr="1"] .page2 .page-content h2 {
    font-size: 18px; }
  [data-dpr="2"] .page2 .page-content h2 {
    font-size: 36px; }
  [data-dpr="3"] .page2 .page-content h2 {
    font-size: 54px; }
  .page2 .page-content p {
    margin-top: 0.4rem;
    color: #999; }
    [data-dpr="1"] .page2 .page-content p {
      font-size: 14px; }
    [data-dpr="2"] .page2 .page-content p {
      font-size: 28px; }
    [data-dpr="3"] .page2 .page-content p {
      font-size: 42px; }
  .page2 .page-content .choose-wrapper {
    width: 8.88rem;
    margin: 1.2933333333rem auto 1.68rem; }
    .page2 .page-content .choose-wrapper .clear {
      margin-top: 1.72rem; }
      .page2 .page-content .choose-wrapper .clear .choose-item-box:first-child {
        float: left; }
      .page2 .page-content .choose-wrapper .clear .choose-item-box:last-child {
        float: right; }
  .page2 .page-content .choose-item-box {
    position: relative;
    width: 3.2rem;
    height: 3.2rem;
    padding: 0.04rem;
    margin: 0 auto;
    box-sizing: border-box; }
    .page2 .page-content .choose-item-box .choose-item-cont, .page2 .page-content .choose-item-box p {
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-border-radius: 50%;
      border-radius: 50%;
      box-sizing: border-box; }
    .page2 .page-content .choose-item-box .choose-item-cont {
      width: 3.12rem;
      height: 3.12rem;
      margin: -1.56rem;
      background-color: rgba(10, 7, 36, 0.05); }
      .page2 .page-content .choose-item-box .choose-item-cont p {
        width: 2.48rem;
        height: 2.48rem;
        margin: -1.24rem;
        padding: 0.4rem;
        background-color: #f7f6f6;
        border: 0.0133333333rem solid #000;
        z-index: 1; }
        .page2 .page-content .choose-item-box .choose-item-cont p span {
          display: block;
          margin-top: 0.1866666667rem;
          color: #3a3a3a;
          white-space: nowrap; }
          .page2 .page-content .choose-item-box .choose-item-cont p span:first-child {
            margin-top: 0; }
      .page2 .page-content .choose-item-box .choose-item-cont .dashed-line {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 5.7333333333rem;
        height: 0;
        border-bottom: 0.0133333333rem dashed #000;
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
        z-index: 0; }
        .page2 .page-content .choose-item-box .choose-item-cont .dashed-line.one {
          -webkit-transform: rotate(60deg);
          transform: rotate(60deg); }
        .page2 .page-content .choose-item-box .choose-item-cont .dashed-line.two {
          -webkit-transform: rotate(-60deg);
          transform: rotate(-60deg); }
        .page2 .page-content .choose-item-box .choose-item-cont .dashed-line.three {
          -webkit-transform: rotate(180deg);
          transform: rotate(180deg); }
    .page2 .page-content .choose-item-box.current:before, .page2 .page-content .choose-item-box.current:after {
      content: '';
      position: absolute;
      right: 0;
      width: 0.4266666667rem;
      height: 0.4266666667rem;
      border-right: 0.0133333333rem solid #fb3939; }
    .page2 .page-content .choose-item-box.current:before {
      top: 0;
      border-top: 0.0133333333rem solid #fb3939; }
    .page2 .page-content .choose-item-box.current:after {
      bottom: 0;
      border-bottom: 0.0133333333rem solid #fb3939; }
    .page2 .page-content .choose-item-box.current .box-line-triangle:before, .page2 .page-content .choose-item-box.current .box-line-triangle:after {
      content: '';
      position: absolute;
      left: 0;
      width: 0.4266666667rem;
      height: 0.4266666667rem;
      border-left: 0.0133333333rem solid #fb3939; }
    .page2 .page-content .choose-item-box.current .box-line-triangle:before {
      top: 0;
      border-top: 0.0133333333rem solid #fb3939; }
    .page2 .page-content .choose-item-box.current .box-line-triangle:after {
      bottom: 0;
      border-bottom: 0.0133333333rem solid #fb3939; }
    .page2 .page-content .choose-item-box.current .choose-item-cont {
      background-color: rgba(251, 57, 57, 0.1); }
      .page2 .page-content .choose-item-box.current .choose-item-cont p {
        border: 0.0133333333rem solid #fb3939; }
        .page2 .page-content .choose-item-box.current .choose-item-cont p span {
          color: #fb3939; }
  .page2 .page-content button {
    position: absolute;
    left: 50%;
    bottom: 1.3333333333rem;
    width: 6.1333333333rem;
    height: 1.2rem;
    line-height: 1.2rem;
    margin-left: -3.0666666667rem; }
    [data-dpr="1"] .page2 .page-content button {
      font-size: 15px; }
    [data-dpr="2"] .page2 .page-content button {
      font-size: 30px; }
    [data-dpr="3"] .page2 .page-content button {
      font-size: 45px; }

@media (max-device-width: 325px) {
  [data-dpr="1"] .page2 .page-content p {
    font-size: 12px; }
  [data-dpr="2"] .page2 .page-content p {
    font-size: 24px; }
  [data-dpr="3"] .page2 .page-content p {
    font-size: 36px; }
  .page2 .page-content button {
    bottom: 0.6666666667rem; } }
.page3 .bg3 {
  background-image: url("/static/images/intelligent/znzf_bg.png");
  background-repeat: no-repeat;
  background-repeat: repeat-y;
  background-position: center bottom;
  -webkit-background-size: contain;
  background-size: contain; }
  @media (-webkit-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2) {
    .page3 .bg3 {
      background-image: url("/static/images/intelligent/znzf_bg@2x.png"); } }
  @media (-webkit-min-device-pixel-ratio: 3), (min-device-pixel-ratio: 3) {
    .page3 .bg3 {
      background-image: url("/static/images/intelligent/znzf_bg@3x.png"); } }
.page3 .page-content .result-text {
  height: 2.3866666667rem;
  padding: 0.56rem 0;
  text-align: center;
  background-color: #f7f6f6;
  color: #0a0724;
  box-sizing: border-box; }

.page4 .bg4 {
  background-image: url("/static/images/intelligent/znzf_user_bg.png");
  background-repeat: no-repeat;
  background-repeat: repeat-y;
  background-position: center;
  -webkit-background-size: contain;
  background-size: contain; }
  @media (-webkit-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2) {
    .page4 .bg4 {
      background-image: url("/static/images/intelligent/znzf_user_bg@2x.png"); } }
  @media (-webkit-min-device-pixel-ratio: 3), (min-device-pixel-ratio: 3) {
    .page4 .bg4 {
      background-image: url("/static/images/intelligent/znzf_user_bg@3x.png"); } }
.page4 .user-header-box {
  position: relative;
  width: 4.6533333333rem;
  height: 4.6533333333rem;
  padding: 0.1866666667rem;
  margin: 1.2rem auto 0;
  box-sizing: border-box; }
  .page4 .user-header-box:before, .page4 .user-header-box:after {
    content: '';
    position: absolute;
    left: 0;
    width: 0.2933333333rem;
    height: 0.2933333333rem;
    border-left: 0.0266666667rem solid #fb3939;
    box-sizing: border-box; }
  .page4 .user-header-box:before {
    top: 0;
    border-top: 0.0266666667rem solid #fb3939; }
  .page4 .user-header-box:after {
    bottom: 0;
    border-bottom: 0.0266666667rem solid #fb3939; }
  .page4 .user-header-box .user-line-triangle:before, .page4 .user-header-box .user-line-triangle:after {
    content: '';
    position: absolute;
    right: 0;
    width: 0.2933333333rem;
    height: 0.2933333333rem;
    border-right: 0.0266666667rem solid #fb3939;
    box-sizing: border-box; }
  .page4 .user-header-box .user-line-triangle:before {
    top: 0;
    border-top: 0.0266666667rem solid #fb3939; }
  .page4 .user-header-box .user-line-triangle:after {
    bottom: 0;
    border-bottom: 0.0266666667rem solid #fb3939; }
  .page4 .user-header-box img {
    width: 4.2666666667rem;
    height: 4.2666666667rem; }
.page4 .word-cont {
  width: 5.76rem;
  margin: 0.9866666667rem auto 0;
  line-height: 0.64rem;
  text-align: justify; }
  .page4 .word-cont ol {
    margin-top: 0.4rem; }

/*# sourceMappingURL=intelligent.css.map */
