html {
  background-color: #fff;
  -webkit-text-size-adjust: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

html, body {
  font-size: 100%;
  max-height: 100%; }

body, p, h1, h2, h3, h4, h5, h6, ul, ol, dl, dd, fieldset, legend, input, button, textarea, option, hr {
  margin: 0;
  padding: 0; }

body {
  line-height: 1.2;
  margin: 0 auto;
  -webkit-overflow-scrolling: touch;
  color: #3a3a3a; }

input, button, select, textarea {
  line-height: 1.2;
  font-size: 100%;
  vertical-align: middle;
  outline: none;
  color: #3a3a3a; }

input, button {
  border: none;
  border-radius: 0; }

textarea {
  resize: none; }

button, input[type='button'], input[type='reset'], input[type='submit'] {
  cursor: pointer;
  -webkit-appearance: button;
  -moz-appearance: button; }

input:focus::-moz-placeholder, input:focus::-webkit-input-placeholder {
  color: transparent; }

a {
  color: #999;
  text-decoration: none; }

a:focus {
  outline: none; }

a, input, button, select, textarea {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

em, i {
  font-style: normal; }

ul, ol {
  list-style: none; }

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal; }

fieldset, img {
  border: none; }

img {
  vertical-align: middle; }

a, img {
  -webkit-touch-callout: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

hr {
  border-style: solid;
  border-width: 1px 0 0 0; }

.high-light-red {
  color: #fb3939 !important; }

.high-light-green {
  color: #3bbc6c !important; }

.none {
  display: none !important; }

.pr {
  position: relative !important; }

.pt0 {
  padding-top: 0 !important; }

.pb0 {
  padding-bottom: 0 !important; }

.pl0 {
  padding-left: 0 !important; }

.pr0 {
  padding-right: 0 !important; }

.pa0 {
  padding: 0 !important; }

.mt0 {
  margin-top: 0 !important; }

.ml0 {
  margin-left: 0 !important; }

.mr0 {
  margin-right: 0 !important; }

.mb0 {
  margin-bottom: 0 !important; }

.ma0 {
  margin: 0 !important; }

.border-none {
  border: none !important; }

.border-bot-none {
  border-bottom: none !important; }

.border-top-none {
  border-bottom: none !important; }

.text-center {
  text-align: center !important; }

.clear {
  zoom: 1; }
  .clear:after {
    visibility: hidden;
    display: block;
    clear: both;
    content: '';
    height: 0;
    font-size: 0; }

.content-visible {
  display: block !important; }

[data-dpr="1"] body, [data-dpr="1"] input, [data-dpr="1"] button, [data-dpr="1"] textarea, [data-dpr="1"] select {
  font-size: 12px; }
[data-dpr="2"] body, [data-dpr="2"] input, [data-dpr="2"] button, [data-dpr="2"] textarea, [data-dpr="2"] select {
  font-size: 24px; }
[data-dpr="3"] body, [data-dpr="3"] input, [data-dpr="3"] button, [data-dpr="3"] textarea, [data-dpr="3"] select {
  font-size: 36px; }

body {
  position: relative;
  width: 10rem;
  margin: 0 auto !important; }

.module-bottom-fill {
  padding-bottom: 0.2133333333rem;
  background-color: #f2f2f2; }
  .module-bottom-fill > section {
    background-color: #fff; }

.house-labelling {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }
  .house-labelling.normal span, .house-labelling.gray span {
    padding-left: 0.2666666667rem;
    padding-right: 0.2666666667rem;
    margin-right: 0.0266666667rem; }
  .house-labelling.middle span {
    padding-left: 0.16rem;
    padding-right: 0.16rem; }
  .house-labelling.gray span {
    color: #fff;
    background-color: #747788; }
  .house-labelling.normal span {
    color: #999;
    border-color: #999;
    border: 1px solid #999; }
  .house-labelling.small span {
    padding-left: 0.1333333333rem;
    padding-right: 0.1333333333rem;
    margin-right: 0.0266666667rem; }
  .house-labelling span {
    display: inline-block;
    height: 0.3733333333rem;
    line-height: 0.3733333333rem;
    -webkit-border-radius: 0.0533333333rem;
    border-radius: 0.0533333333rem; }
    [data-dpr="1"] .house-labelling span {
      font-size: 10px; }
    [data-dpr="2"] .house-labelling span {
      font-size: 20px; }
    [data-dpr="3"] .house-labelling span {
      font-size: 30px; }
    .house-labelling span:last-child {
      margin-right: 0; }

.hidden {
  overflow: hidden; }

.fixed-scroll {
  position: fixed;
  width: 100%;
  height: 100%;
  overflow: hidden; }

.shareTopImg {
  position: absolute; }

.bgbox {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #f0f0f0; }

.button {
  color: #fff;
  text-align: center;
  background-color: #0a0724;
  -webkit-border-radius: 0.0533333333rem;
  border-radius: 0.0533333333rem; }

.page1 .fp-scroller {
  height: 100%; }
.page1 .bg1 {
  background-image: url("/static/images/intelligent/znzf_user_bg.png");
  background-repeat: no-repeat;
  background-repeat: repeat-y;
  background-position: center;
  -webkit-background-size: cover;
  background-size: cover; }
  @media (-webkit-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2) {
    .page1 .bg1 {
      background-image: url("/static/images/intelligent/znzf_user_bg@2x.png"); } }
  @media (-webkit-min-device-pixel-ratio: 3), (min-device-pixel-ratio: 3) {
    .page1 .bg1 {
      background-image: url("/static/images/intelligent/znzf_user_bg@3x.png"); } }
.page1 .page-content {
  position: relative;
  top: 0;
  height: 100%; }
  [data-dpr="1"] .page1 .page-content {
    font-size: 12px; }
  [data-dpr="2"] .page1 .page-content {
    font-size: 24px; }
  [data-dpr="3"] .page1 .page-content {
    font-size: 36px; }
  .page1 .page-content .user-header-title {
    padding-top: 5%;
    padding-bottom: 10%;
    line-height: 0.48rem;
    text-align: center; }
  .page1 .page-content .user-header-box {
    position: relative;
    width: 3.7066666667rem;
    height: 3.7066666667rem;
    padding: 0.1866666667rem;
    margin: 0 auto;
    box-sizing: border-box; }
    .page1 .page-content .user-header-box:before, .page1 .page-content .user-header-box:after {
      content: '';
      position: absolute;
      left: 0;
      width: 0.24rem;
      height: 0.24rem;
      border-left: 0.0266666667rem solid #fb3939;
      box-sizing: border-box; }
    .page1 .page-content .user-header-box:before {
      top: 0;
      border-top: 0.0266666667rem solid #fb3939; }
    .page1 .page-content .user-header-box:after {
      bottom: 0;
      border-bottom: 0.0266666667rem solid #fb3939; }
    .page1 .page-content .user-header-box .user-line-triangle:before, .page1 .page-content .user-header-box .user-line-triangle:after {
      content: '';
      position: absolute;
      right: 0;
      width: 0.24rem;
      height: 0.24rem;
      border-right: 0.0266666667rem solid #fb3939;
      box-sizing: border-box; }
    .page1 .page-content .user-header-box .user-line-triangle:before {
      top: 0;
      border-top: 0.0266666667rem solid #fb3939; }
    .page1 .page-content .user-header-box .user-line-triangle:after {
      bottom: 0;
      border-bottom: 0.0266666667rem solid #fb3939; }
    .page1 .page-content .user-header-box img {
      width: 3.3866666667rem;
      height: 3.3866666667rem; }
  .page1 .page-content .word-cont {
    width: 64%;
    margin: 0 auto;
    padding: 0.9866666667rem 0;
    line-height: 0.64rem;
    text-align: justify; }
    .page1 .page-content .word-cont p {
      text-indent: 2em; }
    .page1 .page-content .word-cont ol {
      margin-top: 0.4rem; }
  .page1 .page-content .down-triangle {
    position: absolute;
    left: 50%;
    bottom: 1.0666666667rem;
    width: 0.88rem;
    height: 0.7466666667rem;
    margin: 0 -0.44rem;
    background-image: url("/static/images/intelligent/intelligent-down-link.png");
    background-repeat: no-repeat;
    -webkit-background-size: contain;
    background-size: contain;
    -webkit-animation: upDown 1s infinite alternate;
    animation: upDown 1s infinite alternate; }
    @media (-webkit-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2) {
      .page1 .page-content .down-triangle {
        background-image: url("/static/images/intelligent/intelligent-down-link@2x.png"); } }
    @media (-webkit-min-device-pixel-ratio: 3), (min-device-pixel-ratio: 3) {
      .page1 .page-content .down-triangle {
        background-image: url("/static/images/intelligent/intelligent-down-link@3x.png"); } }
@keyframes upDown {
  from {
    bottom: 1.0666666667rem; }
  to {
    bottom: 0.8rem; } }
@-webkit-keyframes upDown {
  from {
    bottom: 1.0666666667rem; }
  to {
    bottom: 0.8rem; } }
.page2 .inte-color-red {
  color: #f25a5a !important; }
.page2 .page-content {
  position: relative;
  height: 100%; }
  [data-dpr="1"] .page2 .page-content {
    font-size: 12px; }
  [data-dpr="2"] .page2 .page-content {
    font-size: 24px; }
  [data-dpr="3"] .page2 .page-content {
    font-size: 36px; }
  .page2 .page-content .module-item {
    position: relative;
    padding: 0.9333333333rem 0.4rem 0.9333333333rem; }
    .page2 .page-content .module-item.type2 {
      padding-top: 1.3333333333rem; }
    .page2 .page-content .module-item:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 1.4666666667rem;
      opacity: 0.4;
      background-image: -moz-linear-gradient(-90deg, #eaeaea 0%, rgba(234, 234, 234, 0.02) 98%, #eaeaea 100%);
      background-image: -webkit-linear-gradient(-90deg, #eaeaea 0%, rgba(234, 234, 234, 0.02) 98%, #eaeaea 100%);
      background-image: -ms-linear-gradient(-90deg, #eaeaea 0%, rgba(234, 234, 234, 0.02) 98%, #eaeaea 100%); }
    .page2 .page-content .module-item .report-title-type1 {
      position: relative;
      margin-bottom: 0.6666666667rem;
      text-align: center; }
      .page2 .page-content .module-item .report-title-type1:before {
        content: '';
        position: absolute;
        top: 50%;
        left: 0;
        width: 100%;
        height: 0.0133333333rem;
        background-color: #0a0724; }
      .page2 .page-content .module-item .report-title-type1 p {
        position: relative;
        display: inline-block;
        padding-left: 0.8rem;
        padding-right: 0.8rem;
        background-color: #fdfdfd; }
        [data-dpr="1"] .page2 .page-content .module-item .report-title-type1 p {
          font-size: 16px; }
        [data-dpr="2"] .page2 .page-content .module-item .report-title-type1 p {
          font-size: 32px; }
        [data-dpr="3"] .page2 .page-content .module-item .report-title-type1 p {
          font-size: 48px; }
        .page2 .page-content .module-item .report-title-type1 p:before, .page2 .page-content .module-item .report-title-type1 p:after {
          content: '';
          position: absolute;
          top: 50%;
          width: 0.3066666667rem;
          height: 0.4266666667rem;
          margin-top: -0.2133333333rem;
          background-position: center;
          -webkit-background-size: contain;
          background-size: contain; }
        .page2 .page-content .module-item .report-title-type1 p:before {
          left: 0.1066666667rem;
          background-image: url("/static/images/intelligent/bgy_ys_l.png");
          background-repeat: no-repeat; }
          @media (-webkit-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2) {
            .page2 .page-content .module-item .report-title-type1 p:before {
              background-image: url("/static/images/intelligent/bgy_ys_l@2x.png"); } }
          @media (-webkit-min-device-pixel-ratio: 3), (min-device-pixel-ratio: 3) {
            .page2 .page-content .module-item .report-title-type1 p:before {
              background-image: url("/static/images/intelligent/bgy_ys_l@3x.png"); } }
        .page2 .page-content .module-item .report-title-type1 p:after {
          right: 0.1066666667rem;
          background-image: url("/static/images/intelligent/bgy_ys_r.png");
          background-repeat: no-repeat; }
          @media (-webkit-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2) {
            .page2 .page-content .module-item .report-title-type1 p:after {
              background-image: url("/static/images/intelligent/bgy_ys_r@2x.png"); } }
          @media (-webkit-min-device-pixel-ratio: 3), (min-device-pixel-ratio: 3) {
            .page2 .page-content .module-item .report-title-type1 p:after {
              background-image: url("/static/images/intelligent/bgy_ys_r@3x.png"); } }
    .page2 .page-content .module-item .plot-title-box {
      position: relative;
      width: 100%;
      height: 0.9333333333rem;
      margin-bottom: 0.4266666667rem;
      margin-top: 1.1333333333rem; }
      .page2 .page-content .module-item .plot-title-box .plot-title-block {
        position: absolute;
        top: 0;
        width: 100%;
        height: 0.9333333333rem; }
        .page2 .page-content .module-item .plot-title-box .plot-title-block div {
          float: left;
          width: 14.5%;
          height: 0.9333333333rem;
          line-height: 0.9333333333rem;
          text-align: center;
          background-color: #e0e0e0; }
        .page2 .page-content .module-item .plot-title-box .plot-title-block ul {
          display: table-row;
          float: right;
          width: 85.5%;
          text-align: center; }
          .page2 .page-content .module-item .plot-title-box .plot-title-block ul li {
            position: relative;
            display: table-cell;
            width: 20%;
            height: 0.9333333333rem;
            padding: 0.0933333333rem;
            color: #fff;
            vertical-align: middle;
            box-sizing: border-box; }
            [data-dpr="1"] .page2 .page-content .module-item .plot-title-box .plot-title-block ul li {
              font-size: 10px; }
            [data-dpr="2"] .page2 .page-content .module-item .plot-title-box .plot-title-block ul li {
              font-size: 20px; }
            [data-dpr="3"] .page2 .page-content .module-item .plot-title-box .plot-title-block ul li {
              font-size: 30px; }
            .page2 .page-content .module-item .plot-title-box .plot-title-block ul li:after {
              content: '';
              position: absolute;
              bottom: -0.2133333333rem;
              left: 0;
              width: 0;
              height: 0;
              border-left: 0.7866666667rem solid transparent;
              border-right: 0.7866666667rem solid transparent; }
            .page2 .page-content .module-item .plot-title-box .plot-title-block ul li:nth-child(1) {
              background-color: #455765; }
              .page2 .page-content .module-item .plot-title-box .plot-title-block ul li:nth-child(1):after {
                border-top: 0.2266666667rem solid #455765; }
            .page2 .page-content .module-item .plot-title-box .plot-title-block ul li:nth-child(2) {
              background-color: #f25a5a; }
              .page2 .page-content .module-item .plot-title-box .plot-title-block ul li:nth-child(2):after {
                border-top: 0.2266666667rem solid #f25a5a; }
            .page2 .page-content .module-item .plot-title-box .plot-title-block ul li:nth-child(3) {
              background-color: #fece6c; }
              .page2 .page-content .module-item .plot-title-box .plot-title-block ul li:nth-child(3):after {
                border-top: 0.2266666667rem solid #fece6c; }
            .page2 .page-content .module-item .plot-title-box .plot-title-block ul li:nth-child(4) {
              background-color: #7f7f7f; }
              .page2 .page-content .module-item .plot-title-box .plot-title-block ul li:nth-child(4):after {
                border-top: 0.2266666667rem solid #7f7f7f; }
            .page2 .page-content .module-item .plot-title-box .plot-title-block ul li:nth-child(5) {
              background-color: #4a7aa3; }
              .page2 .page-content .module-item .plot-title-box .plot-title-block ul li:nth-child(5):after {
                border-top: 0.2266666667rem solid #4a7aa3; }
    .page2 .page-content .module-item .report-title-type2 {
      position: absolute;
      top: 0;
      left: 0.4rem;
      right: 0.4rem;
      border-top: 0.0133333333rem solid #f25a5a;
      text-align: center; }
      .page2 .page-content .module-item .report-title-type2 p {
        position: relative;
        top: -0.1466666667rem;
        left: 50%;
        width: 4.4rem;
        height: 0.9733333333rem;
        line-height: 0.9733333333rem;
        margin-left: -2.2rem;
        color: #fff;
        background-image: url("/static/images/intelligent/report-type2-bg.png");
        background-repeat: no-repeat;
        -webkit-background-size: contain;
        background-size: contain; }
        [data-dpr="1"] .page2 .page-content .module-item .report-title-type2 p {
          font-size: 16px; }
        [data-dpr="2"] .page2 .page-content .module-item .report-title-type2 p {
          font-size: 32px; }
        [data-dpr="3"] .page2 .page-content .module-item .report-title-type2 p {
          font-size: 48px; }
        @media (-webkit-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2) {
          .page2 .page-content .module-item .report-title-type2 p {
            background-image: url("/static/images/intelligent/report-type2-bg@2x.png"); } }
        @media (-webkit-min-device-pixel-ratio: 3), (min-device-pixel-ratio: 3) {
          .page2 .page-content .module-item .report-title-type2 p {
            background-image: url("/static/images/intelligent/report-type2-bg@3x.png"); } }
      .page2 .page-content .module-item .report-title-type2 span {
        display: block;
        color: #888; }
        [data-dpr="1"] .page2 .page-content .module-item .report-title-type2 span {
          font-size: 11px; }
        [data-dpr="2"] .page2 .page-content .module-item .report-title-type2 span {
          font-size: 22px; }
        [data-dpr="3"] .page2 .page-content .module-item .report-title-type2 span {
          font-size: 33px; }
    .page2 .page-content .module-item .show-echart-detail {
      display: block;
      width: 0.5866666667rem;
      height: 0.5866666667rem;
      margin: 0.8rem auto -0.4rem;
      background-image: url("/static/images/intelligent/show-echart-detail.png");
      background-repeat: no-repeat;
      background-position: right center;
      -webkit-background-size: auto 100%;
      background-size: auto 100%; }
      @media (-webkit-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2) {
        .page2 .page-content .module-item .show-echart-detail {
          background-image: url("/static/images/intelligent/show-echart-detail@2x.png"); } }
      @media (-webkit-min-device-pixel-ratio: 3), (min-device-pixel-ratio: 3) {
        .page2 .page-content .module-item .show-echart-detail {
          background-image: url("/static/images/intelligent/show-echart-detail@3x.png"); } }
      .page2 .page-content .module-item .show-echart-detail.down {
        background-position: left center; }
    .page2 .page-content .module-item .report-caption {
      position: relative;
      padding-left: 0.36rem; }
      .page2 .page-content .module-item .report-caption:before {
        content: '';
        position: absolute;
        top: 0.08rem;
        left: 0;
        width: 0.08rem;
        height: 0.3466666667rem;
        background-color: #f25a5a; }
      .page2 .page-content .module-item .report-caption p {
        line-height: 0.5333333333rem; }
    .page2 .page-content .module-item .results-contrast li {
      position: relative;
      padding-left: 0.64rem;
      margin-bottom: 0.1866666667rem;
      line-height: 0.4rem; }
      [data-dpr="1"] .page2 .page-content .module-item .results-contrast li {
        font-size: 11px; }
      [data-dpr="2"] .page2 .page-content .module-item .results-contrast li {
        font-size: 22px; }
      [data-dpr="3"] .page2 .page-content .module-item .results-contrast li {
        font-size: 33px; }
      .page2 .page-content .module-item .results-contrast li:last-child {
        margin-bottom: 0; }
      .page2 .page-content .module-item .results-contrast li .contrast-mark {
        display: block;
        position: absolute;
        left: 0;
        width: 0.4rem;
        height: 0.4rem;
        line-height: 0.4rem;
        text-align: center;
        color: #fff;
        -webkit-border-radius: 50%;
        border-radius: 50%; }
        .page2 .page-content .module-item .results-contrast li .contrast-mark.type-red {
          background-color: #f25a5a; }
        .page2 .page-content .module-item .results-contrast li .contrast-mark.type-dark-green {
          background-color: #455765; }
        .page2 .page-content .module-item .results-contrast li .contrast-mark.type-yellow {
          background-color: #fece6c; }
      .page2 .page-content .module-item .results-contrast li p {
        color: #666; }
    .page2 .page-content .module-item table {
      width: 100%;
      margin-top: 0.6666666667rem; }
      .page2 .page-content .module-item table tr:nth-child(even) {
        background-color: #f6f6f6; }
      .page2 .page-content .module-item table tr td {
        width: 1.5733333333rem;
        height: 1.4666666667rem;
        padding: 0 0.1333333333rem;
        text-align: center;
        color: #666;
        border: 0.0133333333rem solid #e8e8e8; }
        [data-dpr="1"] .page2 .page-content .module-item table tr td {
          font-size: 12px; }
        [data-dpr="2"] .page2 .page-content .module-item table tr td {
          font-size: 24px; }
        [data-dpr="3"] .page2 .page-content .module-item table tr td {
          font-size: 36px; }
        .page2 .page-content .module-item table tr td em {
          display: block; }
        .page2 .page-content .module-item table tr td span {
          display: block;
          padding: 0.2666666667rem 0; }
        .page2 .page-content .module-item table tr td:nth-child(1) {
          width: 1.3333333333rem; }
          .page2 .page-content .module-item table tr td:nth-child(1) em {
            white-space: nowrap; }
    .page2 .page-content .module-item .water-wrapper {
      position: relative;
      width: 100%;
      padding-top: 2.8rem;
      text-align: center; }
      .page2 .page-content .module-item .water-wrapper #collieContainer {
        position: absolute;
        top: 0;
        left: 50%;
        width: 6.6933333333rem;
        height: 3.16rem;
        margin: 0 -3.3466666667rem;
        overflow: hidden;
        z-index: 2; }
      .page2 .page-content .module-item .water-wrapper .water-bg {
        position: relative;
        width: 7.68rem;
        height: 7.0933333333rem;
        margin: 0 auto;
        background-image: url("/static/images/intelligent/report-water-bg.png");
        background-repeat: no-repeat;
        -webkit-background-size: contain;
        background-size: contain;
        z-index: 1; }
        @media (-webkit-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2) {
          .page2 .page-content .module-item .water-wrapper .water-bg {
            background-image: url("/static/images/intelligent/report-water-bg@2x.png"); } }
        @media (-webkit-min-device-pixel-ratio: 3), (min-device-pixel-ratio: 3) {
          .page2 .page-content .module-item .water-wrapper .water-bg {
            background-image: url("/static/images/intelligent/report-water-bg@3x.png"); } }
        .page2 .page-content .module-item .water-wrapper .water-bg .water-text-item {
          position: absolute;
          top: 0.8rem;
          left: 50%;
          width: 6.6933333333rem;
          height: 2.4rem;
          margin-left: -3.3466666667rem;
          color: #fff; }
          [data-dpr="1"] .page2 .page-content .module-item .water-wrapper .water-bg .water-text-item {
            font-size: 9px; }
          [data-dpr="2"] .page2 .page-content .module-item .water-wrapper .water-bg .water-text-item {
            font-size: 18px; }
          [data-dpr="3"] .page2 .page-content .module-item .water-wrapper .water-bg .water-text-item {
            font-size: 27px; }
          .page2 .page-content .module-item .water-wrapper .water-bg .water-text-item ul {
            height: 0.8533333333rem;
            line-height: 0.8533333333rem; }
            .page2 .page-content .module-item .water-wrapper .water-bg .water-text-item ul li {
              float: left;
              display: block; }
              .page2 .page-content .module-item .water-wrapper .water-bg .water-text-item ul li:nth-child(1) {
                padding-left: 3%;
                width: 29%; }
              .page2 .page-content .module-item .water-wrapper .water-bg .water-text-item ul li:nth-child(2) {
                width: 41%; }
              .page2 .page-content .module-item .water-wrapper .water-bg .water-text-item ul li:nth-child(3) {
                width: 27%; }
          .page2 .page-content .module-item .water-wrapper .water-bg .water-text-item .tip-text {
            width: 80%;
            padding: 1% 5%;
            height: 60%;
            margin: 0 auto;
            box-sizing: border-box; }
            .page2 .page-content .module-item .water-wrapper .water-bg .water-text-item .tip-text span {
              display: inline-block;
              margin: 2% 5%; }
              .page2 .page-content .module-item .water-wrapper .water-bg .water-text-item .tip-text span:nth-child(1) {
                margin-left: 0; }
              .page2 .page-content .module-item .water-wrapper .water-bg .water-text-item .tip-text span:nth-child(2) {
                margin-left: 18%;
                margin-right: 18%; }
              .page2 .page-content .module-item .water-wrapper .water-bg .water-text-item .tip-text span:nth-child(3) {
                margin-right: 0; }
      .page2 .page-content .module-item .water-wrapper .water-item {
        display: table;
        width: 100%;
        margin: auto; }
        .page2 .page-content .module-item .water-wrapper .water-item li {
          display: inline-table;
          width: 20%;
          min-height: 0.9333333333rem;
          padding: 0 0.1733333333rem;
          color: #fff;
          vertical-align: middle;
          box-sizing: border-box; }
          [data-dpr="1"] .page2 .page-content .module-item .water-wrapper .water-item li {
            font-size: 11px; }
          [data-dpr="2"] .page2 .page-content .module-item .water-wrapper .water-item li {
            font-size: 22px; }
          [data-dpr="3"] .page2 .page-content .module-item .water-wrapper .water-item li {
            font-size: 33px; }
          .page2 .page-content .module-item .water-wrapper .water-item li p {
            display: table-cell;
            padding: 0.0933333333rem;
            vertical-align: middle;
            -webkit-border-radius: 0.0533333333rem;
            border-radius: 0.0533333333rem; }
          .page2 .page-content .module-item .water-wrapper .water-item li:nth-child(1) p {
            background-color: #455765; }
          .page2 .page-content .module-item .water-wrapper .water-item li:nth-child(2) p {
            background-color: #f25a5a; }
          .page2 .page-content .module-item .water-wrapper .water-item li:nth-child(3) p {
            background-color: #fece6c; }
          .page2 .page-content .module-item .water-wrapper .water-item li:nth-child(4) p {
            background-color: #7f7f7f; }
          .page2 .page-content .module-item .water-wrapper .water-item li:nth-child(5) p {
            background-color: #4a7aa3; }
  .page2 .page-content .report-title-type3 {
    margin-top: 0.9333333333rem;
    margin-bottom: 0.9333333333rem;
    text-align: center; }
    .page2 .page-content .report-title-type3 p {
      position: relative;
      display: inline-block;
      height: 0.8rem;
      line-height: 0.8rem;
      color: #666;
      border-top: 0.0133333333rem solid #455765;
      border-bottom: 0.0133333333rem solid #455765; }
      [data-dpr="1"] .page2 .page-content .report-title-type3 p {
        font-size: 12px; }
      [data-dpr="2"] .page2 .page-content .report-title-type3 p {
        font-size: 24px; }
      [data-dpr="3"] .page2 .page-content .report-title-type3 p {
        font-size: 36px; }
      .page2 .page-content .report-title-type3 p:before, .page2 .page-content .report-title-type3 p:after {
        content: '';
        position: absolute;
        left: 50%;
        margin-left: -0.1466666667rem;
        border-left: 0.1466666667rem solid transparent;
        border-right: 0.1466666667rem solid transparent; }
      .page2 .page-content .report-title-type3 p:before {
        top: -0.1466666667rem;
        border-bottom: 0.1466666667rem solid #455765; }
      .page2 .page-content .report-title-type3 p:after {
        bottom: -0.1466666667rem;
        border-top: 0.1466666667rem solid #455765; }
  .page2 .page-content .echart-box {
    width: 100%;
    height: 3.7333333333rem;
    margin: 0.6533333333rem 0 0.4rem;
    background-color: #fbfbfb; }
    .page2 .page-content .echart-box.nearby {
      height: 5.6rem;
      background-color: transparent; }
    .page2 .page-content .echart-box #priceChart, .page2 .page-content .echart-box #marketChart, .page2 .page-content .echart-box #shoppingChart, .page2 .page-content .echart-box #educationChart, .page2 .page-content .echart-box #medicalChart {
      width: 100%;
      height: 100%;
      padding: 0.2666666667rem 0;
      box-sizing: border-box; }
  .page2 .page-content .traffic-box {
    position: relative;
    margin-top: 0.6666666667rem;
    padding-left: 0.3733333333rem; }
    .page2 .page-content .traffic-box .left-line {
      position: absolute;
      top: 0.9333333333rem;
      bottom: 0;
      width: 0;
      border-left: 1px dashed #fb3939; }
    .page2 .page-content .traffic-box .vertical-line {
      border-top: 1px dashed #fb3939; }
    .page2 .page-content .traffic-box .traffic-title {
      height: 1.6rem;
      padding-top: 0.7333333333rem;
      box-sizing: border-box; }
      .page2 .page-content .traffic-box .traffic-title h5 {
        position: relative;
        padding-left: 0.2666666667rem; }
        [data-dpr="1"] .page2 .page-content .traffic-box .traffic-title h5 {
          font-size: 12px; }
        [data-dpr="2"] .page2 .page-content .traffic-box .traffic-title h5 {
          font-size: 24px; }
        [data-dpr="3"] .page2 .page-content .traffic-box .traffic-title h5 {
          font-size: 36px; }
        .page2 .page-content .traffic-box .traffic-title h5:before {
          content: '';
          position: absolute;
          top: 50%;
          left: -0.08rem;
          width: 0.16rem;
          height: 0.16rem;
          margin-top: -0.08rem;
          background-color: #fb3939;
          -webkit-border-radius: 50%;
          border-radius: 50%; }
    .page2 .page-content .traffic-box .echart-wrapper {
      position: relative;
      padding-left: 0.9733333333rem;
      border-top: 0.0133333333rem solid #e8e8e8;
      border-bottom: 0.0133333333rem solid #e8e8e8; }
      .page2 .page-content .traffic-box .echart-wrapper:before, .page2 .page-content .traffic-box .echart-wrapper:after {
        content: '';
        position: absolute;
        left: 0;
        width: 0.64rem;
        height: 0.64rem;
        margin: -0.32rem;
        -webkit-background-size: contain;
        background-size: contain; }
      .page2 .page-content .traffic-box .echart-wrapper:before {
        top: 0;
        background-image: url("/static/images/intelligent/bgy_icon_xq.png");
        background-repeat: no-repeat; }
        @media (-webkit-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2) {
          .page2 .page-content .traffic-box .echart-wrapper:before {
            background-image: url("/static/images/intelligent/bgy_icon_xq@2x.png"); } }
        @media (-webkit-min-device-pixel-ratio: 3), (min-device-pixel-ratio: 3) {
          .page2 .page-content .traffic-box .echart-wrapper:before {
            background-image: url("/static/images/intelligent/bgy_icon_xq@3x.png"); } }
      .page2 .page-content .traffic-box .echart-wrapper.subway:after {
        bottom: 0;
        background-image: url("/static/images/intelligent/bgy_icon_dt.png");
        background-repeat: no-repeat; }
        @media (-webkit-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2) {
          .page2 .page-content .traffic-box .echart-wrapper.subway:after {
            background-image: url("/static/images/intelligent/bgy_icon_dt@2x.png"); } }
        @media (-webkit-min-device-pixel-ratio: 3), (min-device-pixel-ratio: 3) {
          .page2 .page-content .traffic-box .echart-wrapper.subway:after {
            background-image: url("/static/images/intelligent/bgy_icon_dt@3x.png"); } }
      .page2 .page-content .traffic-box .echart-wrapper.rond:after {
        bottom: 0;
        background-image: url("/static/images/intelligent/bgy_icon_ld.png");
        background-repeat: no-repeat; }
        @media (-webkit-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2) {
          .page2 .page-content .traffic-box .echart-wrapper.rond:after {
            background-image: url("/static/images/intelligent/bgy_icon_ld@2x.png"); } }
        @media (-webkit-min-device-pixel-ratio: 3), (min-device-pixel-ratio: 3) {
          .page2 .page-content .traffic-box .echart-wrapper.rond:after {
            background-image: url("/static/images/intelligent/bgy_icon_ld@3x.png"); } }
      .page2 .page-content .traffic-box .echart-wrapper .echart-box {
        width: 100%;
        height: 3.7333333333rem;
        margin: 0;
        background-color: #fbfbfb; }
        .page2 .page-content .traffic-box .echart-wrapper .echart-box #trafficSubwayChart, .page2 .page-content .traffic-box .echart-wrapper .echart-box #trafficRondChart {
          width: 7.8666666667rem;
          height: 100%;
          box-sizing: border-box; }
    .page2 .page-content .traffic-box .traffic-text-box {
      margin-top: 0.7466666667rem;
      margin-bottom: 1rem; }
      .page2 .page-content .traffic-box .traffic-text-box .traffic-text {
        position: relative;
        padding-left: 0.5333333333rem;
        margin-bottom: 0.6rem;
        color: #888; }
        [data-dpr="1"] .page2 .page-content .traffic-box .traffic-text-box .traffic-text {
          font-size: 11px; }
        [data-dpr="2"] .page2 .page-content .traffic-box .traffic-text-box .traffic-text {
          font-size: 22px; }
        [data-dpr="3"] .page2 .page-content .traffic-box .traffic-text-box .traffic-text {
          font-size: 33px; }
        .page2 .page-content .traffic-box .traffic-text-box .traffic-text span {
          position: absolute;
          top: -0.08rem;
          left: 0;
          width: 0.6666666667rem;
          height: 0.6266666667rem;
          margin-left: -0.3333333333rem;
          padding-top: 0.0933333333rem;
          text-align: center;
          color: #fff;
          -webkit-background-size: contain;
          background-size: contain; }
          [data-dpr="1"] .page2 .page-content .traffic-box .traffic-text-box .traffic-text span {
            font-size: 10px; }
          [data-dpr="2"] .page2 .page-content .traffic-box .traffic-text-box .traffic-text span {
            font-size: 20px; }
          [data-dpr="3"] .page2 .page-content .traffic-box .traffic-text-box .traffic-text span {
            font-size: 30px; }
          .page2 .page-content .traffic-box .traffic-text-box .traffic-text span.type1 {
            background-image: url("/static/images/intelligent/bgy_icon_px_q1.png");
            background-repeat: no-repeat; }
            @media (-webkit-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2) {
              .page2 .page-content .traffic-box .traffic-text-box .traffic-text span.type1 {
                background-image: url("/static/images/intelligent/bgy_icon_px_q1@2x.png"); } }
            @media (-webkit-min-device-pixel-ratio: 3), (min-device-pixel-ratio: 3) {
              .page2 .page-content .traffic-box .traffic-text-box .traffic-text span.type1 {
                background-image: url("/static/images/intelligent/bgy_icon_px_q1@3x.png"); } }
          .page2 .page-content .traffic-box .traffic-text-box .traffic-text span.type2 {
            background-image: url("/static/images/intelligent/bgy_icon_px_q2.png");
            background-repeat: no-repeat; }
            @media (-webkit-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2) {
              .page2 .page-content .traffic-box .traffic-text-box .traffic-text span.type2 {
                background-image: url("/static/images/intelligent/bgy_icon_px_q2@2x.png"); } }
            @media (-webkit-min-device-pixel-ratio: 3), (min-device-pixel-ratio: 3) {
              .page2 .page-content .traffic-box .traffic-text-box .traffic-text span.type2 {
                background-image: url("/static/images/intelligent/bgy_icon_px_q2@3x.png"); } }
          .page2 .page-content .traffic-box .traffic-text-box .traffic-text span.type3 {
            background-image: url("/static/images/intelligent/bgy_icon_px_q3.png");
            background-repeat: no-repeat; }
            @media (-webkit-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2) {
              .page2 .page-content .traffic-box .traffic-text-box .traffic-text span.type3 {
                background-image: url("/static/images/intelligent/bgy_icon_px_q3@2x.png"); } }
            @media (-webkit-min-device-pixel-ratio: 3), (min-device-pixel-ratio: 3) {
              .page2 .page-content .traffic-box .traffic-text-box .traffic-text span.type3 {
                background-image: url("/static/images/intelligent/bgy_icon_px_q3@3x.png"); } }
          .page2 .page-content .traffic-box .traffic-text-box .traffic-text span.type4 {
            background-image: url("/static/images/intelligent/bgy_icon_px_q4.png");
            background-repeat: no-repeat; }
            @media (-webkit-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2) {
              .page2 .page-content .traffic-box .traffic-text-box .traffic-text span.type4 {
                background-image: url("/static/images/intelligent/bgy_icon_px_q4@2x.png"); } }
            @media (-webkit-min-device-pixel-ratio: 3), (min-device-pixel-ratio: 3) {
              .page2 .page-content .traffic-box .traffic-text-box .traffic-text span.type4 {
                background-image: url("/static/images/intelligent/bgy_icon_px_q4@3x.png"); } }
          .page2 .page-content .traffic-box .traffic-text-box .traffic-text span.type5 {
            background-image: url("/static/images/intelligent/bgy_icon_px_q5.png");
            background-repeat: no-repeat; }
            @media (-webkit-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2) {
              .page2 .page-content .traffic-box .traffic-text-box .traffic-text span.type5 {
                background-image: url("/static/images/intelligent/bgy_icon_px_q5@2x.png"); } }
            @media (-webkit-min-device-pixel-ratio: 3), (min-device-pixel-ratio: 3) {
              .page2 .page-content .traffic-box .traffic-text-box .traffic-text span.type5 {
                background-image: url("/static/images/intelligent/bgy_icon_px_q5@3x.png"); } }
  .page2 .page-content .end-bottom {
    color: #888;
    text-align: center; }
    .page2 .page-content .end-bottom .end-text {
      position: relative;
      display: inline-block;
      width: 1.3333333333rem;
      height: 0.4rem;
      padding-top: 0.2533333333rem;
      line-height: 0.4rem;
      color: #fff; }
      .page2 .page-content .end-bottom .end-text:before {
        content: '';
        position: absolute;
        bottom: -0.0133333333rem;
        left: 0;
        width: 0;
        height: 0;
        border-bottom: 0.6533333333rem solid #ccc;
        border-left: 0.6666666667rem solid transparent;
        border-right: 0.6666666667rem solid transparent;
        z-index: -1; }
    .page2 .page-content .end-bottom .end-bottom-content {
      width: 100%;
      height: 7.52rem;
      border-top: 0.0133333333rem solid #e8e8e8;
      background-color: #f8f7f7;
      background-image: url("/static/images/intelligent/bgy_building.png");
      background-repeat: no-repeat;
      background-position: bottom center;
      -webkit-background-size: 85%;
      background-size: 85%; }
      @media (-webkit-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2) {
        .page2 .page-content .end-bottom .end-bottom-content {
          background-image: url("/static/images/intelligent/bgy_building@2x.png"); } }
      @media (-webkit-min-device-pixel-ratio: 3), (min-device-pixel-ratio: 3) {
        .page2 .page-content .end-bottom .end-bottom-content {
          background-image: url("/static/images/intelligent/bgy_building@3x.png"); } }
      .page2 .page-content .end-bottom .end-bottom-content .collect-tips {
        position: relative;
        width: 8.4rem;
        margin: 0.7066666667rem auto 0.56rem; }
        .page2 .page-content .end-bottom .end-bottom-content .collect-tips:before {
          content: '';
          position: absolute;
          left: 0;
          top: 50%;
          width: 100%;
          border-top: 0.0133333333rem solid #e8e8e8; }
        .page2 .page-content .end-bottom .end-bottom-content .collect-tips p {
          position: relative;
          display: inline-block;
          padding-left: 0.5066666667rem;
          padding-right: 0.5066666667rem;
          background-color: #f8f7f7; }
          [data-dpr="1"] .page2 .page-content .end-bottom .end-bottom-content .collect-tips p {
            font-size: 13px; }
          [data-dpr="2"] .page2 .page-content .end-bottom .end-bottom-content .collect-tips p {
            font-size: 26px; }
          [data-dpr="3"] .page2 .page-content .end-bottom .end-bottom-content .collect-tips p {
            font-size: 39px; }
          .page2 .page-content .end-bottom .end-bottom-content .collect-tips p:before, .page2 .page-content .end-bottom .end-bottom-content .collect-tips p:after {
            content: '';
            position: absolute;
            top: 50%;
            width: 0.1333333333rem;
            height: 0.1333333333rem;
            margin-top: -0.0666666667rem;
            -webkit-border-radius: 50%;
            border-radius: 50%;
            border: 0.0133333333rem solid #e8e8e8;
            box-sizing: border-box; }
          .page2 .page-content .end-bottom .end-bottom-content .collect-tips p:before {
            left: 0.0266666667rem; }
          .page2 .page-content .end-bottom .end-bottom-content .collect-tips p:after {
            right: 0.0266666667rem; }
      .page2 .page-content .end-bottom .end-bottom-content .collect-button .collect {
        display: inline-block;
        width: 0.5333333333rem;
        height: 0.5333333333rem;
        background-image: url("/static/images/intelligent/bgy_icon_sca.png");
        background-repeat: no-repeat;
        background-position: left center;
        -webkit-background-size: auto 100%;
        background-size: auto 100%; }
        @media (-webkit-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2) {
          .page2 .page-content .end-bottom .end-bottom-content .collect-button .collect {
            background-image: url("/static/images/intelligent/bgy_icon_sca@2x.png"); } }
        @media (-webkit-min-device-pixel-ratio: 3), (min-device-pixel-ratio: 3) {
          .page2 .page-content .end-bottom .end-bottom-content .collect-button .collect {
            background-image: url("/static/images/intelligent/bgy_icon_sca@3x.png"); } }
        .page2 .page-content .end-bottom .end-bottom-content .collect-button .collect.active {
          background-position: right center; }
      .page2 .page-content .end-bottom .end-bottom-content .collect-button span {
        display: block;
        margin-top: 0.1733333333rem; }

.elastics-stack-box {
  padding-left: 0.4rem;
  padding-right: 0.4rem; }
  .elastics-stack-box .elastics-stack-content {
    padding-top: 0.4rem;
    padding-bottom: 0.5333333333rem;
    border-bottom: 0.0133333333rem solid #e8e8e8; }
    .elastics-stack-box .elastics-stack-content .elastics-stack {
      position: relative;
      width: 9.2rem;
      height: 2.5333333333rem;
      margin: 0 auto;
      -webkit-perspective: 9.2rem;
      perspective: 9.2rem;
      -webkit-perspective-origin: 150% 50%;
      perspective-origin: 150% 50%;
      box-sizing: border-box; }
      .elastics-stack-box .elastics-stack-content .elastics-stack li {
        position: absolute;
        z-index: 1;
        width: 8.4rem;
        height: 2.5333333333rem;
        padding: 0.2rem 0.2rem 0.2rem 0.4rem;
        cursor: pointer;
        opacity: 0;
        overflow: hidden;
        -webkit-border-radius: 0.1333333333rem;
        border-radius: 0.1333333333rem;
        -webkit-box-shadow: 0 0.2133333333rem 0.2133333333rem 0 rgba(137, 136, 136, 0.24);
        box-shadow: 0 0.2133333333rem 0.2133333333rem 0 rgba(137, 136, 136, 0.24);
        -webkit-transform: translate3d(0, 0, -2.4rem);
        transform: translate3d(0, 0, -2.4rem);
        -webkit-transform-style: preserve-3d;
        transform-style: preserve-3d;
        box-sizing: border-box; }
        .elastics-stack-box .elastics-stack-content .elastics-stack li.bgtype-1 {
          background-color: #f4f0e5;
          color: #99622d; }
          .elastics-stack-box .elastics-stack-content .elastics-stack li.bgtype-1 a {
            display: block;
            color: #99622d; }
        .elastics-stack-box .elastics-stack-content .elastics-stack li.bgtype-2 {
          background-color: #d1e2e1;
          color: #4c8477; }
          .elastics-stack-box .elastics-stack-content .elastics-stack li.bgtype-2 a {
            display: block;
            color: #4c8477; }
        .elastics-stack-box .elastics-stack-content .elastics-stack li.bgtype-3 {
          background-color: #e5dde7;
          color: #704b70; }
          .elastics-stack-box .elastics-stack-content .elastics-stack li.bgtype-3 a {
            display: block;
            color: #704b70; }
        .elastics-stack-box .elastics-stack-content .elastics-stack li.animate {
          -webkit-transition: all 0.3s ease-out;
          transition: all 0.3s ease-out; }
        .elastics-stack-box .elastics-stack-content .elastics-stack li.move-back {
          -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.47, 1);
          -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.47, 1.515);
          transition-timing-function: cubic-bezier(0.175, 0.885, 0.47, 1.515); }
        .elastics-stack-box .elastics-stack-content .elastics-stack li div {
          float: left; }
          .elastics-stack-box .elastics-stack-content .elastics-stack li div h4 {
            margin-top: 0.28rem;
            margin-bottom: 0.2666666667rem; }
            [data-dpr="1"] .elastics-stack-box .elastics-stack-content .elastics-stack li div h4 {
              font-size: 16px; }
            [data-dpr="2"] .elastics-stack-box .elastics-stack-content .elastics-stack li div h4 {
              font-size: 32px; }
            [data-dpr="3"] .elastics-stack-box .elastics-stack-content .elastics-stack li div h4 {
              font-size: 48px; }
          .elastics-stack-box .elastics-stack-content .elastics-stack li div p {
            margin-top: 0.2rem; }
            [data-dpr="1"] .elastics-stack-box .elastics-stack-content .elastics-stack li div p {
              font-size: 12px; }
            [data-dpr="2"] .elastics-stack-box .elastics-stack-content .elastics-stack li div p {
              font-size: 24px; }
            [data-dpr="3"] .elastics-stack-box .elastics-stack-content .elastics-stack li div p {
              font-size: 36px; }
        .elastics-stack-box .elastics-stack-content .elastics-stack li img {
          float: right;
          width: 3.7333333333rem;
          height: 2.1333333333rem;
          padding: 0.0666666667rem;
          background-color: #fff;
          box-sizing: border-box; }
      .elastics-stack-box .elastics-stack-content .elastics-stack.report li a {
        color: #fff; }
      .elastics-stack-box .elastics-stack-content .elastics-stack.report li.bgtype-1 {
        background-color: #8a98a4; }
      .elastics-stack-box .elastics-stack-content .elastics-stack.report li.bgtype-2 {
        background-color: #e9b8b8; }
      .elastics-stack-box .elastics-stack-content .elastics-stack.report li.bgtype-3 {
        background-color: #d6c093; }
      .elastics-stack-box .elastics-stack-content .elastics-stack.report li.bgtype-4 {
        background-color: #bcbcbc; }
      .elastics-stack-box .elastics-stack-content .elastics-stack.report li.bgtype-5 {
        background-color: #7f9cb5; }

.no-js .elastics-stack li {
  position: relative;
  display: inline-block;
  opacity: 1 !important;
  margin: 10px;
  cursor: default;
  -webkit-transform: translate3d(0, 0, 0) !important;
  transform: translate3d(0, 0, 0) !important; }

[data-drp='3'].elastics-stack {
  -webkit-perspective-origin: 180% 50%;
  perspective-origin: 180% 50%; }

@media screen and (-webkit-min-device-pixel-ratio: 3) {
  .elastics-stack-box .elastics-stack-content .elastics-stack {
    -webkit-perspective-origin: 180% 50%;
    perspective-origin: 180% 50%; } }
.elastics-stack-box {
  padding-left: 0;
  padding-right: 0; }

/*# sourceMappingURL=intelligent-report.css.map */
