html {
  background-color: #fff;
  -webkit-text-size-adjust: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

body, p, h1, h2, h3, h4, h5, h6, ul, ol, dl, dd, fieldset, legend, input, button, textarea, option, hr {
  margin: 0;
  padding: 0; }

body {
  line-height: 1.2;
  margin: 0 auto;
  -webkit-overflow-scrolling: touch;
  color: #3a3a3a; }

input, button, select, textarea {
  line-height: 1.2;
  font-size: 100%;
  vertical-align: middle;
  outline: none;
  color: #3a3a3a; }

input, button {
  border: none;
  border-radius: 0; }

textarea {
  resize: none; }

button, input[type='button'], input[type='reset'], input[type='submit'] {
  cursor: pointer;
  -webkit-appearance: button;
  -moz-appearance: button; }

input:focus::-moz-placeholder, input:focus::-webkit-input-placeholder {
  color: transparent; }

a {
  color: #999;
  text-decoration: none; }

a:focus {
  outline: none; }

a, input, button, select, textarea {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

em, i {
  font-style: normal; }

ul, ol {
  list-style: none; }

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal; }

fieldset, img {
  border: none; }

img {
  vertical-align: middle; }

a, img {
  -webkit-touch-callout: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

hr {
  border-style: solid;
  border-width: 1px 0 0 0; }

.high-light-red {
  color: #fb3939 !important; }

.module-bottom-fill {
  padding-bottom: 0.2133333333rem;
  background-color: #f2f2f2; }
  .module-bottom-fill > section {
    background-color: #fff; }

.house-labelling {
  white-space: nowrap;
  overflow: hidden; }
  .house-labelling.normal span, .house-labelling.gray span {
    height: 0.4266666667rem;
    line-height: 0.4266666667rem;
    padding-left: 0.2666666667rem;
    padding-right: 0.2666666667rem;
    margin-right: 0.08rem; }
    [data-dpr="1"] .house-labelling.normal span, [data-dpr="1"] .house-labelling.gray span {
      font-size: 10px; }
    [data-dpr="2"] .house-labelling.normal span, [data-dpr="2"] .house-labelling.gray span {
      font-size: 20px; }
    [data-dpr="3"] .house-labelling.normal span, [data-dpr="3"] .house-labelling.gray span {
      font-size: 30px; }
  .house-labelling.middle span {
    height: 0.4rem;
    line-height: 0.4rem;
    padding-left: 0.16rem;
    padding-right: 0.16rem; }
  .house-labelling.gray span {
    color: #fff;
    background-color: #747788; }
  .house-labelling.normal span {
    color: #999;
    border-color: #999;
    border: 1px solid #999; }
  .house-labelling.small span {
    height: 0.3333333333rem;
    line-height: 0.3333333333rem;
    padding-left: 0.1333333333rem;
    padding-right: 0.1333333333rem;
    margin-right: 0.0266666667rem; }
    [data-dpr="1"] .house-labelling.small span {
      font-size: 9px; }
    [data-dpr="2"] .house-labelling.small span {
      font-size: 18px; }
    [data-dpr="3"] .house-labelling.small span {
      font-size: 27px; }
  .house-labelling span {
    display: inline-block;
    -webkit-border-radius: 0.08rem;
    -moz-border-radius: 0.08rem;
    border-radius: 0.08rem; }
    .house-labelling span:last-child {
      margin-right: 0; }

.fixed-scroll {
  position: fixed;
  width: 100%;
  height: 100%;
  overflow: hidden; }

.side-nav-cont {
  position: fixed;
  top: 0;
  right: 0;
  width: 6rem;
  height: 100%;
  background-color: #fff;
  z-index: 999;
  -webkit-transition: transform .5s ease;
  transition: transform .5s ease;
  -webkit-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0); }
  .side-nav-cont a {
    color: #3a3a3a; }
  .side-nav-cont .side-user {
    padding: 0.6666666667rem 0 1.0666666667rem;
    text-align: center;
    color: #666;
    box-sizing: border-box; }
    [data-dpr="1"] .side-nav-cont .side-user {
      font-size: 13px; }
    [data-dpr="2"] .side-nav-cont .side-user {
      font-size: 26px; }
    [data-dpr="3"] .side-nav-cont .side-user {
      font-size: 39px; }
    .side-nav-cont .side-user img {
      width: 1.6rem;
      margin-bottom: 0.2666666667rem; }
    .side-nav-cont .side-user p {
      line-height: 1; }
  .side-nav-cont .side-nav-item-wrapper ul li {
    position: relative;
    padding-left: 1.56rem; }
    [data-dpr="1"] .side-nav-cont .side-nav-item-wrapper ul li {
      font-size: 13px; }
    [data-dpr="2"] .side-nav-cont .side-nav-item-wrapper ul li {
      font-size: 26px; }
    [data-dpr="3"] .side-nav-cont .side-nav-item-wrapper ul li {
      font-size: 39px; }
    .side-nav-cont .side-nav-item-wrapper ul li i {
      position: absolute;
      top: 0;
      left: 0.5733333333rem;
      display: block;
      width: 0.6133333333rem;
      height: 100%;
      background-position: center; }
      .side-nav-cont .side-nav-item-wrapper ul li i.icon-index {
        background-image: url("../images/global/grcl_icon_sy.png");
        background-repeat: no-repeat; }
        @media (-webkit-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2) {
          .side-nav-cont .side-nav-item-wrapper ul li i.icon-index {
            background-image: url("../images/global/grcl_icon_sy@2x.png"); } }
        @media (-webkit-min-device-pixel-ratio: 3), (min-device-pixel-ratio: 3) {
          .side-nav-cont .side-nav-item-wrapper ul li i.icon-index {
            background-image: url("../images/global/grcl_icon_sy@3x.png"); } }
      .side-nav-cont .side-nav-item-wrapper ul li i.icon-esf {
        background-image: url("../images/global/grcl_icon_zes.png");
        background-repeat: no-repeat; }
        @media (-webkit-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2) {
          .side-nav-cont .side-nav-item-wrapper ul li i.icon-esf {
            background-image: url("../images/global/grcl_icon_zes@2x.png"); } }
        @media (-webkit-min-device-pixel-ratio: 3), (min-device-pixel-ratio: 3) {
          .side-nav-cont .side-nav-item-wrapper ul li i.icon-esf {
            background-image: url("../images/global/grcl_icon_zes@3x.png"); } }
      .side-nav-cont .side-nav-item-wrapper ul li i.icon-plot {
        background-image: url("../images/global/grcl_icon_zxq.png");
        background-repeat: no-repeat; }
        @media (-webkit-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2) {
          .side-nav-cont .side-nav-item-wrapper ul li i.icon-plot {
            background-image: url("../images/global/grcl_icon_zxq@2x.png"); } }
        @media (-webkit-min-device-pixel-ratio: 3), (min-device-pixel-ratio: 3) {
          .side-nav-cont .side-nav-item-wrapper ul li i.icon-plot {
            background-image: url("../images/global/grcl_icon_zxq@3x.png"); } }
      .side-nav-cont .side-nav-item-wrapper ul li i.icon-new {
        background-image: url("../images/global/grcl_icon_zxf.png");
        background-repeat: no-repeat; }
        @media (-webkit-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2) {
          .side-nav-cont .side-nav-item-wrapper ul li i.icon-new {
            background-image: url("../images/global/grcl_icon_zxf@2x.png"); } }
        @media (-webkit-min-device-pixel-ratio: 3), (min-device-pixel-ratio: 3) {
          .side-nav-cont .side-nav-item-wrapper ul li i.icon-new {
            background-image: url("../images/global/grcl_icon_zxf@3x.png"); } }
      .side-nav-cont .side-nav-item-wrapper ul li i.icon-collect {
        background-image: url("../images/global/grcl_icon_sc.png");
        background-repeat: no-repeat; }
        @media (-webkit-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2) {
          .side-nav-cont .side-nav-item-wrapper ul li i.icon-collect {
            background-image: url("../images/global/grcl_icon_sc@2x.png"); } }
        @media (-webkit-min-device-pixel-ratio: 3), (min-device-pixel-ratio: 3) {
          .side-nav-cont .side-nav-item-wrapper ul li i.icon-collect {
            background-image: url("../images/global/grcl_icon_sc@3x.png"); } }
      .side-nav-cont .side-nav-item-wrapper ul li i.icon-report {
        background-image: url("../images/global/grcl_icon_wdbg.png");
        background-repeat: no-repeat; }
        @media (-webkit-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2) {
          .side-nav-cont .side-nav-item-wrapper ul li i.icon-report {
            background-image: url("../images/global/grcl_icon_wdbg@2x.png"); } }
        @media (-webkit-min-device-pixel-ratio: 3), (min-device-pixel-ratio: 3) {
          .side-nav-cont .side-nav-item-wrapper ul li i.icon-report {
            background-image: url("../images/global/grcl_icon_wdbg@3x.png"); } }
    .side-nav-cont .side-nav-item-wrapper ul li.current, .side-nav-cont .side-nav-item-wrapper ul li:hover {
      background-color: #f8f8f8; }
  .side-nav-cont .side-nav-item-wrapper ul.item-link {
    margin-bottom: 0.12rem; }
    .side-nav-cont .side-nav-item-wrapper ul.item-link li {
      height: 1.1466666667rem;
      line-height: 1.1466666667rem; }
  .side-nav-cont .side-nav-item-wrapper ul.item-my {
    padding-top: 0.12rem;
    border-top: 1px solid #ccc; }
    .side-nav-cont .side-nav-item-wrapper ul.item-my li {
      line-height: 1;
      padding-top: 0.4133333333rem;
      padding-bottom: 0.4133333333rem; }
  .side-nav-cont .side-house-intelligent {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding-top: 0.44rem;
    padding-bottom: 0.5066666667rem;
    text-align: center;
    background-color: #f2f2f2; }
    .side-nav-cont .side-house-intelligent a {
      position: relative;
      display: inline-block;
      width: 2.4266666667rem;
      height: 0.92rem;
      line-height: 0.84rem;
      border: 0.04rem solid #fb3939;
      box-sizing: border-box; }
      [data-dpr="1"] .side-nav-cont .side-house-intelligent a {
        font-size: 15px; }
      [data-dpr="2"] .side-nav-cont .side-house-intelligent a {
        font-size: 30px; }
      [data-dpr="3"] .side-nav-cont .side-house-intelligent a {
        font-size: 45px; }
      .side-nav-cont .side-house-intelligent a em {
        display: block;
        position: relative;
        z-index: 1; }
      .side-nav-cont .side-house-intelligent a:before, .side-nav-cont .side-house-intelligent a:after {
        content: '';
        position: absolute;
        border: 0.04rem solid #f2f2f2;
        background-color: #f2f2f2; }
      .side-nav-cont .side-house-intelligent a:before {
        top: -0.08rem;
        left: 0.1333333333rem;
        right: 0.1333333333rem;
        bottom: -0.08rem; }
      .side-nav-cont .side-house-intelligent a:after {
        top: 0.1333333333rem;
        left: -0.08rem;
        right: -0.08rem;
        bottom: 0.1333333333rem; }
  .side-nav-cont.active {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }

.scroll-mask {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  content: '';
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 99; }

header {
  height: 1.56rem;
  line-height: 0.84rem;
  padding: 0.36rem 0.4rem;
  vertical-align: middle;
  background-color: #0a0724;
  box-sizing: border-box;
  z-index: 200; }
  header .header-logo {
    float: left;
    display: block;
    width: 1.84rem; }
    header .header-logo img {
      width: 100%; }
  header .search-box {
    float: left;
    position: relative;
    width: 6.2133333333rem;
    height: 0.8533333333rem;
    margin-left: 0.3333333333rem;
    background-color: #fff;
    border-radius: 0.0533333333rem; }
    header .search-box .icon {
      position: absolute;
      top: 0.2666666667rem;
      left: 0.24rem;
      display: block;
      width: 0.32rem;
      height: 0.3333333333rem;
      background-image: url("../images/global/sy_search_icon.png");
      background-repeat: no-repeat;
      -webkit-background-size: 0.32rem auto;
      background-size: 0.32rem auto; }
      @media (-webkit-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2) {
        header .search-box .icon {
          background-image: url("../images/global/sy_search_icon@2x.png"); } }
      @media (-webkit-min-device-pixel-ratio: 3), (min-device-pixel-ratio: 3) {
        header .search-box .icon {
          background-image: url("../images/global/sy_search_icon@3x.png"); } }
    header .search-box input {
      position: absolute;
      right: 0;
      bottom: 0;
      width: 5.4666666667rem;
      height: 100%;
      padding-right: 0.2666666667rem;
      background-color: transparent;
      box-sizing: border-box; }
      [data-dpr="1"] header .search-box input {
        font-size: 13px; }
      [data-dpr="2"] header .search-box input {
        font-size: 26px; }
      [data-dpr="3"] header .search-box input {
        font-size: 39px; }
      header .search-box input::-webkit-input-placeholder {
        color: #999; }
  header .header-user {
    float: right;
    display: block;
    width: 0.4266666667rem; }
    header .header-user img {
      width: 100%; }

.none {
  display: none; }

.body-scroll {
  height: 100%;
  overflow: hidden; }

.category-box {
  position: relative;
  z-index: 1;
  height: 1.4666666667rem;
  background-color: #f2f2f2; }
  .category-box > ul {
    position: relative;
    overflow: hidden;
    display: flex;
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    z-index: 20; }
    .category-box > ul li {
      -webkit-flex: 1;
      flex: 1;
      width: 25%;
      height: 1.2533333333rem;
      line-height: 1.2533333333rem;
      text-align: center; }
      [data-dpr="1"] .category-box > ul li {
        font-size: 15px; }
      [data-dpr="2"] .category-box > ul li {
        font-size: 30px; }
      [data-dpr="3"] .category-box > ul li {
        font-size: 45px; }
      .category-box > ul li span {
        position: relative;
        display: inline-block;
        padding-right: 0.48rem;
        padding-left: 0.1333333333rem;
        max-width: 100%;
        box-sizing: border-box; }
        .category-box > ul li span em {
          display: block;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis; }
        .category-box > ul li span i {
          position: absolute;
          top: 0.5866666667rem;
          right: 0;
          display: block;
          width: 0;
          height: 0;
          border-left: 0.16rem solid transparent;
          border-right: 0.16rem solid transparent;
          border-top: 0.16rem solid #b1b1b1; }
      .category-box > ul li.current span {
        color: #fb3939; }
        .category-box > ul li.current span i {
          border-top: none;
          border-bottom: 0.16rem solid #fb3939; }
      .category-box > ul li.choose span {
        color: #fb3939; }
  .category-box .category-cont {
    position: relative; }
    .category-box .category-cont > div {
      position: absolute;
      top: -9rem;
      width: 100%;
      height: 9rem;
      z-index: 1;
      -webkit-box-shadow: 0 0.0533333333rem 0.28rem 0 rgba(56, 58, 64, 0.14);
      box-shadow: 0 0.0533333333rem 0.28rem 0 rgba(56, 58, 64, 0.14);
      -webkit-transition-duration: 0.4s;
      transition-duration: 0.4s;
      overflow: hidden; }
      .category-box .category-cont > div > ul {
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        -webkit-transition-duration: 0.4s;
        transition-duration: 0.4s; }
        .category-box .category-cont > div > ul li {
          padding: 0 0.4rem;
          line-height: 1.2rem;
          border-bottom: 1px solid #ccc; }
          [data-dpr="1"] .category-box .category-cont > div > ul li {
            font-size: 15px; }
          [data-dpr="2"] .category-box .category-cont > div > ul li {
            font-size: 30px; }
          [data-dpr="3"] .category-box .category-cont > div > ul li {
            font-size: 45px; }
          .category-box .category-cont > div > ul li.current {
            color: #fb3939; }
        .category-box .category-cont > div > ul.category-parent {
          position: absolute;
          background-color: #fff;
          z-index: 1; }
        .category-box .category-cont > div > ul.category-child {
          position: absolute;
          z-index: 2;
          left: 100%;
          background-color: #fff;
          border-left: 1px solid #ccc; }
        .category-box .category-cont > div > ul.category-children {
          position: absolute;
          z-index: 3;
          left: 100%;
          background-color: #fff;
          border-left: 1px solid #ccc; }
      .category-box .category-cont > div .button-group {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 1.8666666667rem;
        padding: 0.4266666667rem 0.4rem;
        background-color: #fff;
        z-index: 2;
        box-sizing: border-box;
        -webkit-box-shadow: 0 -0.0533333333rem 0.28rem 0 rgba(56, 58, 64, 0.14), 0 0.0533333333rem 0.28rem 0 rgba(56, 58, 64, 0.14);
        -moz-box-shadow: 0 0.0533333333rem 0.28rem 0 rgba(56, 58, 64, 0.14), 0 0.0533333333rem 0.28rem 0 rgba(56, 58, 64, 0.14);
        box-shadow: 0 0.0533333333rem 0.28rem 0 rgba(56, 58, 64, 0.14), 0 0.0533333333rem 0.28rem 0 rgba(56, 58, 64, 0.14); }
        .category-box .category-cont > div .button-group button {
          width: 4.3333333333rem;
          height: 1.04rem;
          line-height: 1.04rem;
          color: #fff;
          background-color: #fff;
          -webkit-border-radius: 0.0533333333rem;
          -moz-border-radius: 0.0533333333rem;
          border-radius: 0.0533333333rem; }
          [data-dpr="1"] .category-box .category-cont > div .button-group button {
            font-size: 15px; }
          [data-dpr="2"] .category-box .category-cont > div .button-group button {
            font-size: 30px; }
          [data-dpr="3"] .category-box .category-cont > div .button-group button {
            font-size: 45px; }
          .category-box .category-cont > div .button-group button.reset {
            float: left;
            background-color: #747788; }
          .category-box .category-cont > div .button-group button.confrim {
            float: right;
            background-color: #fb3939; }
      .category-box .category-cont > div.category-roll {
        top: 0; }
      .category-box .category-cont > div:nth-child(4) {
        height: 13.3333333333rem; }
        .category-box .category-cont > div:nth-child(4) ul {
          padding-bottom: 1.8666666667rem;
          box-sizing: border-box; }
          .category-box .category-cont > div:nth-child(4) ul li {
            padding-bottom: 0.1333333333rem;
            height: auto; }
            .category-box .category-cont > div:nth-child(4) ul li h4 {
              display: block;
              line-height: 1.2;
              padding-top: 0.3466666667rem;
              margin-bottom: 0.32rem;
              color: #666; }
              [data-dpr="1"] .category-box .category-cont > div:nth-child(4) ul li h4 {
                font-size: 14px; }
              [data-dpr="2"] .category-box .category-cont > div:nth-child(4) ul li h4 {
                font-size: 28px; }
              [data-dpr="3"] .category-box .category-cont > div:nth-child(4) ul li h4 {
                font-size: 42px; }
            .category-box .category-cont > div:nth-child(4) ul li .more-options {
              zoom: 1;
              margin: 0 -0.12rem; }
              .category-box .category-cont > div:nth-child(4) ul li .more-options span {
                float: left;
                display: block;
                width: 2.08rem;
                height: 0.7733333333rem;
                line-height: 0.7733333333rem;
                margin: 0.1333333333rem 0.12rem;
                color: #3a3a3a;
                text-align: center;
                border: 1px solid #999;
                -webkit-border-radius: 0.0533333333rem;
                -moz-border-radius: 0.0533333333rem;
                border-radius: 0.0533333333rem; }
                [data-dpr="1"] .category-box .category-cont > div:nth-child(4) ul li .more-options span {
                  font-size: 12px; }
                [data-dpr="2"] .category-box .category-cont > div:nth-child(4) ul li .more-options span {
                  font-size: 24px; }
                [data-dpr="3"] .category-box .category-cont > div:nth-child(4) ul li .more-options span {
                  font-size: 36px; }
                .category-box .category-cont > div:nth-child(4) ul li .more-options span.current {
                  color: #fb3939;
                  border-color: #fb3939; }
              .category-box .category-cont > div:nth-child(4) ul li .more-options:after {
                visibility: hidden;
                display: block;
                clear: both;
                content: '';
                height: 0;
                font-size: 0; }

.global-mark:after {
  content: '';
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); }

.list-item {
  display: block;
  padding: 0.56rem 0;
  margin: 0 0.4rem;
  color: #3a3a3a;
  border-bottom: 1px solid #ccc;
  box-sizing: border-box; }
  .list-item .clear {
    zoom: 1; }
    .list-item .clear:after {
      visibility: hidden;
      display: block;
      clear: both;
      content: '';
      height: 0;
      font-size: 0; }
  .list-item .list-item-img-box {
    float: left;
    width: 3.0666666667rem;
    height: 2.2933333333rem; }
    .list-item .list-item-img-box img {
      width: 100%;
      height: 100%; }
  .list-item .list-item-cont {
    position: relative;
    float: left;
    width: 5.7333333333rem;
    height: 2.2933333333rem;
    padding-left: 0.4rem; }
    .list-item .list-item-cont .cont-block-1 {
      height: 0.3733333333rem;
      line-height: 0.3733333333rem;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis; }
      [data-dpr="1"] .list-item .list-item-cont .cont-block-1 {
        font-size: 14px; }
      [data-dpr="2"] .list-item .list-item-cont .cont-block-1 {
        font-size: 28px; }
      [data-dpr="3"] .list-item .list-item-cont .cont-block-1 {
        font-size: 42px; }
      .list-item .list-item-cont .cont-block-1 em {
        display: inline-block;
        height: 0.3733333333rem;
        line-height: 0.3466666667rem;
        padding: 0 0.16rem;
        margin-left: 0.2666666667rem;
        border: 1px solid #999;
        -webkit-border-radius: 0.08rem;
        -moz-border-radius: 0.08rem;
        border-radius: 0.08rem;
        box-sizing: border-box;
        vertical-align: bottom; }
        [data-dpr="1"] .list-item .list-item-cont .cont-block-1 em {
          font-size: 10px; }
        [data-dpr="2"] .list-item .list-item-cont .cont-block-1 em {
          font-size: 20px; }
        [data-dpr="3"] .list-item .list-item-cont .cont-block-1 em {
          font-size: 30px; }
    .list-item .list-item-cont .cont-block-2 {
      margin-top: 0.2666666667rem;
      color: #747788; }
    .list-item .list-item-cont .cont-block-3 {
      position: relative;
      margin-top: 0.2133333333rem;
      color: #747788; }
      .list-item .list-item-cont .cont-block-3 .icon {
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 0.28rem;
        height: 0.3733333333rem;
        background-image: url("../images/esf/esf_list_icon_wz.png");
        background-repeat: no-repeat;
        -webkit-background-size: 0.28rem auto;
        background-size: 0.28rem auto; }
        @media (-webkit-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2) {
          .list-item .list-item-cont .cont-block-3 .icon {
            background-image: url("../images/esf/esf_list_icon_wz@2x.png"); } }
        @media (-webkit-min-device-pixel-ratio: 3), (min-device-pixel-ratio: 3) {
          .list-item .list-item-cont .cont-block-3 .icon {
            background-image: url("../images/esf/esf_list_icon_wz@3x.png"); } }
      .list-item .list-item-cont .cont-block-3.distance {
        padding-left: 0.4133333333rem; }
    .list-item .list-item-cont .cont-block-4 {
      position: absolute;
      width: 5.7333333333rem;
      bottom: 0; }
    .list-item .list-item-cont .cont-block-price {
      position: absolute;
      right: 0;
      bottom: 0;
      line-height: 1.2;
      text-align: right; }
      .list-item .list-item-cont .cont-block-price em {
        display: block;
        color: #fb3939; }
        [data-dpr="1"] .list-item .list-item-cont .cont-block-price em {
          font-size: 14px; }
        [data-dpr="2"] .list-item .list-item-cont .cont-block-price em {
          font-size: 28px; }
        [data-dpr="3"] .list-item .list-item-cont .cont-block-price em {
          font-size: 42px; }
      .list-item .list-item-cont .cont-block-price span {
        display: block;
        margin-top: 0.1866666667rem;
        color: #888; }
        [data-dpr="1"] .list-item .list-item-cont .cont-block-price span {
          font-size: 9px; }
        [data-dpr="2"] .list-item .list-item-cont .cont-block-price span {
          font-size: 18px; }
        [data-dpr="3"] .list-item .list-item-cont .cont-block-price span {
          font-size: 27px; }
      .list-item .list-item-cont .cont-block-price.plot {
        top: 0.6666666667rem;
        bottom: auto; }
  .list-item.new .new-active {
    clear: both;
    height: 0.64rem;
    line-height: 0.64rem;
    margin-top: 0.3466666667rem;
    padding: 0 0.1333333333rem;
    color: #adadad;
    background-color: #f8f8f8;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    box-sizing: border-box; }
    [data-dpr="1"] .list-item.new .new-active {
      font-size: 11px; }
    [data-dpr="2"] .list-item.new .new-active {
      font-size: 22px; }
    [data-dpr="3"] .list-item.new .new-active {
      font-size: 33px; }
    .list-item.new .new-active .icon {
      position: relative;
      top: 0.1333333333rem;
      display: inline-block;
      width: 0.3333333333rem;
      height: 0.4rem;
      margin-right: 0.1333333333rem;
      background-image: url("../images/newhouse/xf_list_icon_hd.png");
      background-repeat: no-repeat;
      -webkit-background-size: 0.3333333333rem auto;
      background-size: 0.3333333333rem auto; }
      @media (-webkit-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2) {
        .list-item.new .new-active .icon {
          background-image: url("../images/newhouse/xf_list_icon_hd@2x.png"); } }
      @media (-webkit-min-device-pixel-ratio: 3), (min-device-pixel-ratio: 3) {
        .list-item.new .new-active .icon {
          background-image: url("../images/newhouse/xf_list_icon_hd@3x.png"); } }
    .list-item.new .new-active em {
      color: #fb3939; }
  .list-item.new .cont-block-sale {
    position: absolute;
    right: 0;
    top: 0;
    height: 0.4266666667rem;
    line-height: 0.4266666667rem;
    padding: 0 0.2266666667rem 0 0.2933333333rem;
    color: #fff;
    background-color: #3bbc6c;
    -webkit-border-radius: 0.2933333333rem 0 0 0.2933333333rem;
    -moz-border-radius: 0.2933333333rem 0 0 0.2933333333rem;
    border-radius: 0.2933333333rem 0 0 0.2933333333rem; }
    [data-dpr="1"] .list-item.new .cont-block-sale {
      font-size: 10px; }
    [data-dpr="2"] .list-item.new .cont-block-sale {
      font-size: 20px; }
    [data-dpr="3"] .list-item.new .cont-block-sale {
      font-size: 30px; }

.tip-box {
  text-align: center;
  color: #999;
  height: 1.04rem;
  line-height: 1.04rem;
  background-color: #f2f2f2; }
  [data-dpr="1"] .tip-box {
    font-size: 12px; }
  [data-dpr="2"] .tip-box {
    font-size: 24px; }
  [data-dpr="3"] .tip-box {
    font-size: 36px; }

/*# sourceMappingURL=list.css.map */
