html {
  background-color: #fff;
  -webkit-text-size-adjust: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

html, body {
  font-size: 100%;
  max-height: 100%; }

body, p, h1, h2, h3, h4, h5, h6, ul, ol, dl, dd, fieldset, legend, input, button, textarea, option, hr {
  margin: 0;
  padding: 0; }

body {
  line-height: 1.2;
  margin: 0 auto;
  -webkit-overflow-scrolling: touch;
  color: #3a3a3a; }

input, button, select, textarea {
  line-height: 1.2;
  font-size: 100%;
  vertical-align: middle;
  outline: none;
  color: #3a3a3a; }

input, button {
  border: none;
  border-radius: 0; }

textarea {
  resize: none; }

button, input[type='button'], input[type='reset'], input[type='submit'] {
  cursor: pointer;
  -webkit-appearance: button;
  -moz-appearance: button; }

input:focus::-moz-placeholder, input:focus::-webkit-input-placeholder {
  color: transparent; }

a {
  color: #999;
  text-decoration: none; }

a:focus {
  outline: none; }

a, input, button, select, textarea {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

em, i {
  font-style: normal; }

ul, ol {
  list-style: none; }

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal; }

fieldset, img {
  border: none; }

img {
  vertical-align: middle; }

a, img {
  -webkit-touch-callout: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

hr {
  border-style: solid;
  border-width: 1px 0 0 0; }

.high-light-red {
  color: #fb3939 !important; }

.high-light-green {
  color: #3bbc6c !important; }

.none {
  display: none !important; }

.pr {
  position: relative !important; }

.pt0 {
  padding-top: 0 !important; }

.pb0 {
  padding-bottom: 0 !important; }

.pl0 {
  padding-left: 0 !important; }

.pr0 {
  padding-right: 0 !important; }

.pa0 {
  padding: 0 !important; }

.mt0 {
  margin-top: 0 !important; }

.ml0 {
  margin-left: 0 !important; }

.mr0 {
  margin-right: 0 !important; }

.mb0 {
  margin-bottom: 0 !important; }

.ma0 {
  margin: 0 !important; }

.border-none {
  border: none !important; }

.border-bot-none {
  border-bottom: none !important; }

.border-top-none {
  border-bottom: none !important; }

.text-center {
  text-align: center !important; }

.clear {
  zoom: 1; }
  .clear:after {
    visibility: hidden;
    display: block;
    clear: both;
    content: '';
    height: 0;
    font-size: 0; }

.content-visible {
  display: block !important; }

[data-dpr="1"] body, [data-dpr="1"] input, [data-dpr="1"] button, [data-dpr="1"] textarea, [data-dpr="1"] select {
  font-size: 12px; }
[data-dpr="2"] body, [data-dpr="2"] input, [data-dpr="2"] button, [data-dpr="2"] textarea, [data-dpr="2"] select {
  font-size: 24px; }
[data-dpr="3"] body, [data-dpr="3"] input, [data-dpr="3"] button, [data-dpr="3"] textarea, [data-dpr="3"] select {
  font-size: 36px; }

body {
  position: relative;
  width: 10rem;
  margin: 0 auto !important; }

.module-bottom-fill {
  padding-bottom: 0.2133333333rem;
  background-color: #f2f2f2; }
  .module-bottom-fill > section {
    background-color: #fff; }

.house-labelling {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }
  .house-labelling.normal span, .house-labelling.gray span {
    padding-left: 0.2666666667rem;
    padding-right: 0.2666666667rem;
    margin-right: 0.0266666667rem; }
  .house-labelling.middle span {
    padding-left: 0.16rem;
    padding-right: 0.16rem; }
  .house-labelling.gray span {
    color: #fff;
    background-color: #747788; }
  .house-labelling.normal span {
    color: #999;
    border-color: #999;
    border: 1px solid #999; }
  .house-labelling.small span {
    padding-left: 0.1333333333rem;
    padding-right: 0.1333333333rem;
    margin-right: 0.0266666667rem; }
  .house-labelling span {
    display: inline-block;
    height: 0.3733333333rem;
    line-height: 0.3733333333rem;
    -webkit-border-radius: 0.0533333333rem;
    border-radius: 0.0533333333rem; }
    [data-dpr="1"] .house-labelling span {
      font-size: 10px; }
    [data-dpr="2"] .house-labelling span {
      font-size: 20px; }
    [data-dpr="3"] .house-labelling span {
      font-size: 30px; }
    .house-labelling span:last-child {
      margin-right: 0; }
  .house-labelling.big {
    height: 0.4266666667rem; }
    .house-labelling.big span {
      height: 0.4266666667rem;
      line-height: 0.4rem;
      box-sizing: border-box; }
  .house-labelling span.company {
    background-color: #aaa;
    color: #fff;
    border-color: #aaa; }

.hidden {
  overflow: hidden; }

.fixed-scroll {
  position: fixed;
  left: 50%;
  width: 10rem;
  height: 100%;
  margin-left: -5rem !important;
  overflow: hidden; }

.shareTopImg {
  position: absolute; }

.map-container {
  position: fixed !important;
  top: 0;
  width: 10rem;
  height: 100%; }

.map-type-nav {
  position: fixed;
  top: 0;
  width: 10rem;
  white-space: nowrap;
  background-color: #fff;
  overflow-x: auto;
  z-index: 1;
  border-bottom: 0.0133333333rem solid #e8e8e8; }
  .map-type-nav li {
    position: relative;
    display: inline-block;
    padding: 0.4266666667rem 0.4rem 0.4533333333rem;
    margin-left: 0.1333333333rem;
    text-align: center; }
    [data-dpr="1"] .map-type-nav li {
      font-size: 15px; }
    [data-dpr="2"] .map-type-nav li {
      font-size: 30px; }
    [data-dpr="3"] .map-type-nav li {
      font-size: 45px; }
    .map-type-nav li:after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 0.0533333333rem;
      background-color: #fff; }
    .map-type-nav li.current:after {
      background-color: #fb3939; }

.type-result-box {
  position: fixed;
  bottom: 0;
  width: 10rem;
  background-color: #f2f2f2; }
  .type-result-box .type-item-sel-box {
    padding: 0.3333333333rem 0.4rem;
    overflow-x: auto;
    background-color: #fff; }
    .type-result-box .type-item-sel-box .type-item-sel {
      width: 100%;
      box-sizing: border-box;
      white-space: nowrap;
      overflow-y: hidden; }
      .type-result-box .type-item-sel-box .type-item-sel li {
        display: inline-block;
        padding: 0.2266666667rem 0.3733333333rem;
        color: #666;
        border-right: 0.0133333333rem solid #e8e8e8;
        background-color: #f2f2f2; }
        [data-dpr="1"] .type-result-box .type-item-sel-box .type-item-sel li {
          font-size: 13px; }
        [data-dpr="2"] .type-result-box .type-item-sel-box .type-item-sel li {
          font-size: 26px; }
        [data-dpr="3"] .type-result-box .type-item-sel-box .type-item-sel li {
          font-size: 39px; }
        .type-result-box .type-item-sel-box .type-item-sel li.currenttype {
          color: #fff;
          background-color: #0a0724; }
  .type-result-box .results-panel-box {
    max-height: 5.4533333333rem;
    margin-bottom: 0.1333333333rem;
    padding: 0.1333333333rem 0.4rem 0;
    background-color: #fff;
    overflow: hidden;
    box-sizing: border-box;
    border-top: 0.0133333333rem solid #e8e8e8;
    border-bottom: 0.0133333333rem solid #e8e8e8;
    -webkit-box-shadow: 0 0 0.3866666667rem 0 rgba(0, 0, 0, 0.24);
    box-shadow: 0 0 0.3866666667rem 0 rgba(0, 0, 0, 0.24); }
    .type-result-box .results-panel-box .results-panel-btn {
      text-align: center;
      line-height: 0;
      margin-bottom: 0.1333333333rem; }
      .type-result-box .results-panel-box .results-panel-btn p {
        display: inline-block;
        width: 0.8rem;
        height: 0.0533333333rem;
        background-color: #e1e1e1; }
    .type-result-box .results-panel-box .results-title {
      position: relative;
      height: 1.0933333333rem;
      line-height: 1.0933333333rem; }
      [data-dpr="1"] .type-result-box .results-panel-box .results-title p {
        font-size: 15px; }
      [data-dpr="2"] .type-result-box .results-panel-box .results-title p {
        font-size: 30px; }
      [data-dpr="3"] .type-result-box .results-panel-box .results-title p {
        font-size: 45px; }
      .type-result-box .results-panel-box .results-title p i {
        display: inline-block;
        width: 0.7466666667rem;
        height: 1.0666666667rem;
        line-height: 1;
        margin-right: 0.2666666667rem;
        vertical-align: middle;
        background-image: url("/static/images/map/map-type-icon.png");
        background-repeat: no-repeat;
        -webkit-background-size: 0.7466666667rem auto;
        background-size: 0.7466666667rem auto; }
        @media (-webkit-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2) {
          .type-result-box .results-panel-box .results-title p i {
            background-image: url("/static/images/map/map-type-icon@2x.png"); } }
        @media (-webkit-min-device-pixel-ratio: 3), (min-device-pixel-ratio: 3) {
          .type-result-box .results-panel-box .results-title p i {
            background-image: url("/static/images/map/map-type-icon@3x.png"); } }
        .type-result-box .results-panel-box .results-title p i.traffic {
          background-position: center top; }
        .type-result-box .results-panel-box .results-title p i.education {
          background-position: center -2.1333333333rem; }
        .type-result-box .results-panel-box .results-title p i.medical {
          background-position: center -4.2666666667rem; }
        .type-result-box .results-panel-box .results-title p i.shopping {
          background-position: center -6.4rem; }
        .type-result-box .results-panel-box .results-title p i.gastronomy {
          background-position: center -8.5333333333rem; }
        .type-result-box .results-panel-box .results-title p i.fallow {
          background-position: center -10.6666666667rem; }
        .type-result-box .results-panel-box .results-title p i.fitness {
          background-position: center bottom; }
      .type-result-box .results-panel-box .results-title span {
        position: absolute;
        right: 0;
        top: 0;
        color: #666; }
        [data-dpr="1"] .type-result-box .results-panel-box .results-title span {
          font-size: 12px; }
        [data-dpr="2"] .type-result-box .results-panel-box .results-title span {
          font-size: 24px; }
        [data-dpr="3"] .type-result-box .results-panel-box .results-title span {
          font-size: 36px; }
    .type-result-box .results-panel-box .results-panel {
      max-height: 4.0533333333rem;
      overflow-y: auto; }
      .type-result-box .results-panel-box .results-panel li {
        position: relative;
        height: 1.6rem;
        line-height: 1.6rem;
        border-top: 0.0133333333rem solid #e8e8e8; }
        [data-dpr="1"] .type-result-box .results-panel-box .results-panel li {
          font-size: 12px; }
        [data-dpr="2"] .type-result-box .results-panel-box .results-panel li {
          font-size: 24px; }
        [data-dpr="3"] .type-result-box .results-panel-box .results-panel li {
          font-size: 36px; }
        .type-result-box .results-panel-box .results-panel li i, .type-result-box .results-panel-box .results-panel li p {
          display: inline-block; }
        .type-result-box .results-panel-box .results-panel li i {
          width: 0.5866666667rem;
          height: 1.6rem;
          padding-bottom: 0.16rem;
          margin-right: 0.3466666667rem;
          text-align: center;
          color: #fff;
          background-image: url("/static/images/map/zbpt_icon_zb_black1.png");
          background-repeat: no-repeat;
          -webkit-background-size: contain;
          background-size: contain;
          background-position: center; }
          @media (-webkit-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2) {
            .type-result-box .results-panel-box .results-panel li i {
              background-image: url("/static/images/map/zbpt_icon_zb_black1@2x.png"); } }
          @media (-webkit-min-device-pixel-ratio: 3), (min-device-pixel-ratio: 3) {
            .type-result-box .results-panel-box .results-panel li i {
              background-image: url("/static/images/map/zbpt_icon_zb_black1@3x.png"); } }
        .type-result-box .results-panel-box .results-panel li p {
          max-width: 6.1333333333rem;
          vertical-align: middle; }
          .type-result-box .results-panel-box .results-panel li p .content {
            display: block;
            line-height: 1;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis; }
            [data-dpr="1"] .type-result-box .results-panel-box .results-panel li p .content {
              font-size: 15px; }
            [data-dpr="2"] .type-result-box .results-panel-box .results-panel li p .content {
              font-size: 30px; }
            [data-dpr="3"] .type-result-box .results-panel-box .results-panel li p .content {
              font-size: 45px; }
          .type-result-box .results-panel-box .results-panel li p .line {
            display: block;
            line-height: 1;
            margin-top: 0.2rem;
            color: #666; }
        .type-result-box .results-panel-box .results-panel li .distance {
          position: absolute;
          right: 0;
          top: 0; }

/*# sourceMappingURL=map.css.map */
