html {
  background-color: #fff;
  -webkit-text-size-adjust: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

html, body {
  font-size: 100%;
  max-height: 100%; }

body, p, h1, h2, h3, h4, h5, h6, ul, ol, dl, dd, fieldset, legend, input, button, textarea, option, hr {
  margin: 0;
  padding: 0; }

body {
  line-height: 1.2;
  margin: 0 auto;
  -webkit-overflow-scrolling: touch;
  color: #3a3a3a; }

input, button, select, textarea {
  line-height: 1.2;
  font-size: 100%;
  vertical-align: middle;
  outline: none;
  color: #3a3a3a; }

input, button {
  border: none;
  border-radius: 0; }

textarea {
  resize: none; }

button, input[type='button'], input[type='reset'], input[type='submit'] {
  cursor: pointer;
  -webkit-appearance: button;
  -moz-appearance: button; }

input:focus::-moz-placeholder, input:focus::-webkit-input-placeholder {
  color: transparent; }

a {
  color: #999;
  text-decoration: none; }

a:focus {
  outline: none; }

a, input, button, select, textarea {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

em, i {
  font-style: normal; }

ul, ol {
  list-style: none; }

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal; }

fieldset, img {
  border: none; }

img {
  vertical-align: middle; }

a, img {
  -webkit-touch-callout: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

hr {
  border-style: solid;
  border-width: 1px 0 0 0; }

.high-light-red {
  color: #fb3939 !important; }

.high-light-green {
  color: #3bbc6c !important; }

.none {
  display: none !important; }

.pr {
  position: relative !important; }

.pt0 {
  padding-top: 0 !important; }

.pb0 {
  padding-bottom: 0 !important; }

.pl0 {
  padding-left: 0 !important; }

.pr0 {
  padding-right: 0 !important; }

.pa0 {
  padding: 0 !important; }

.mt0 {
  margin-top: 0 !important; }

.ml0 {
  margin-left: 0 !important; }

.mr0 {
  margin-right: 0 !important; }

.mb0 {
  margin-bottom: 0 !important; }

.ma0 {
  margin: 0 !important; }

.border-none {
  border: none !important; }

.border-bot-none {
  border-bottom: none !important; }

.border-top-none {
  border-bottom: none !important; }

.text-center {
  text-align: center !important; }

.clear {
  zoom: 1; }
  .clear:after {
    visibility: hidden;
    display: block;
    clear: both;
    content: '';
    height: 0;
    font-size: 0; }

.content-visible {
  display: block !important; }

[data-dpr="1"] body, [data-dpr="1"] input, [data-dpr="1"] button, [data-dpr="1"] textarea, [data-dpr="1"] select {
  font-size: 12px; }
[data-dpr="2"] body, [data-dpr="2"] input, [data-dpr="2"] button, [data-dpr="2"] textarea, [data-dpr="2"] select {
  font-size: 24px; }
[data-dpr="3"] body, [data-dpr="3"] input, [data-dpr="3"] button, [data-dpr="3"] textarea, [data-dpr="3"] select {
  font-size: 36px; }

body {
  position: relative;
  width: 10rem;
  margin: 0 auto !important; }

.module-bottom-fill {
  padding-bottom: 0.2133333333rem;
  background-color: #f2f2f2; }
  .module-bottom-fill > section {
    background-color: #fff; }

.house-labelling {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }
  .house-labelling.normal span, .house-labelling.gray span {
    padding-left: 0.2666666667rem;
    padding-right: 0.2666666667rem;
    margin-right: 0.0266666667rem; }
  .house-labelling.middle span {
    padding-left: 0.16rem;
    padding-right: 0.16rem; }
  .house-labelling.gray span {
    color: #fff;
    background-color: #747788; }
  .house-labelling.normal span {
    color: #999;
    border-color: #999;
    border: 1px solid #999; }
  .house-labelling.small span {
    padding-left: 0.1333333333rem;
    padding-right: 0.1333333333rem;
    margin-right: 0.0266666667rem; }
  .house-labelling span {
    display: inline-block;
    height: 0.3733333333rem;
    line-height: 0.3733333333rem;
    -webkit-border-radius: 0.0533333333rem;
    border-radius: 0.0533333333rem; }
    [data-dpr="1"] .house-labelling span {
      font-size: 10px; }
    [data-dpr="2"] .house-labelling span {
      font-size: 20px; }
    [data-dpr="3"] .house-labelling span {
      font-size: 30px; }
    .house-labelling span:last-child {
      margin-right: 0; }

.hidden {
  overflow: hidden; }

.fixed-scroll {
  position: fixed;
  left: 50%;
  width: 10rem;
  height: 100%;
  margin-left: -5rem !important;
  overflow: hidden; }

.shareTopImg {
  position: absolute; }

.side-nav-cont {
  position: fixed;
  top: 0;
  right: 0;
  width: 6rem;
  height: 100%;
  background-color: #fff;
  z-index: 999;
  -webkit-transition: transform .5s ease;
  transition: transform .5s ease;
  -webkit-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0); }
  .side-nav-cont a {
    color: #3a3a3a; }
  .side-nav-cont .side-user {
    padding: 0.6666666667rem 0 1.0666666667rem;
    text-align: center;
    color: #666;
    box-sizing: border-box; }
    [data-dpr="1"] .side-nav-cont .side-user {
      font-size: 13px; }
    [data-dpr="2"] .side-nav-cont .side-user {
      font-size: 26px; }
    [data-dpr="3"] .side-nav-cont .side-user {
      font-size: 39px; }
    .side-nav-cont .side-user img {
      width: 1.6rem;
      margin-bottom: 0.2666666667rem; }
    .side-nav-cont .side-user p {
      line-height: 1; }
  .side-nav-cont .side-nav-item-wrapper ul li {
    position: relative;
    padding-left: 1.56rem; }
    [data-dpr="1"] .side-nav-cont .side-nav-item-wrapper ul li {
      font-size: 13px; }
    [data-dpr="2"] .side-nav-cont .side-nav-item-wrapper ul li {
      font-size: 26px; }
    [data-dpr="3"] .side-nav-cont .side-nav-item-wrapper ul li {
      font-size: 39px; }
    .side-nav-cont .side-nav-item-wrapper ul li i {
      position: absolute;
      top: 0;
      left: 0.5733333333rem;
      display: block;
      width: 0.6133333333rem;
      height: 100%;
      background-position: center;
      -webkit-background-size: contain;
      background-size: contain; }
      .side-nav-cont .side-nav-item-wrapper ul li i.icon-index {
        background-image: url("../images/global/grcl_icon_sy.png");
        background-repeat: no-repeat; }
        @media (-webkit-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2) {
          .side-nav-cont .side-nav-item-wrapper ul li i.icon-index {
            background-image: url("../images/global/grcl_icon_sy@2x.png"); } }
        @media (-webkit-min-device-pixel-ratio: 3), (min-device-pixel-ratio: 3) {
          .side-nav-cont .side-nav-item-wrapper ul li i.icon-index {
            background-image: url("../images/global/grcl_icon_sy@3x.png"); } }
      .side-nav-cont .side-nav-item-wrapper ul li i.icon-esf {
        background-image: url("../images/global/grcl_icon_zes.png");
        background-repeat: no-repeat; }
        @media (-webkit-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2) {
          .side-nav-cont .side-nav-item-wrapper ul li i.icon-esf {
            background-image: url("../images/global/grcl_icon_zes@2x.png"); } }
        @media (-webkit-min-device-pixel-ratio: 3), (min-device-pixel-ratio: 3) {
          .side-nav-cont .side-nav-item-wrapper ul li i.icon-esf {
            background-image: url("../images/global/grcl_icon_zes@3x.png"); } }
      .side-nav-cont .side-nav-item-wrapper ul li i.icon-plot {
        background-image: url("../images/global/grcl_icon_zxq.png");
        background-repeat: no-repeat; }
        @media (-webkit-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2) {
          .side-nav-cont .side-nav-item-wrapper ul li i.icon-plot {
            background-image: url("../images/global/grcl_icon_zxq@2x.png"); } }
        @media (-webkit-min-device-pixel-ratio: 3), (min-device-pixel-ratio: 3) {
          .side-nav-cont .side-nav-item-wrapper ul li i.icon-plot {
            background-image: url("../images/global/grcl_icon_zxq@3x.png"); } }
      .side-nav-cont .side-nav-item-wrapper ul li i.icon-new {
        background-image: url("../images/global/grcl_icon_zxf.png");
        background-repeat: no-repeat; }
        @media (-webkit-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2) {
          .side-nav-cont .side-nav-item-wrapper ul li i.icon-new {
            background-image: url("../images/global/grcl_icon_zxf@2x.png"); } }
        @media (-webkit-min-device-pixel-ratio: 3), (min-device-pixel-ratio: 3) {
          .side-nav-cont .side-nav-item-wrapper ul li i.icon-new {
            background-image: url("../images/global/grcl_icon_zxf@3x.png"); } }
      .side-nav-cont .side-nav-item-wrapper ul li i.icon-collect {
        background-image: url("../images/global/grcl_icon_sc.png");
        background-repeat: no-repeat; }
        @media (-webkit-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2) {
          .side-nav-cont .side-nav-item-wrapper ul li i.icon-collect {
            background-image: url("../images/global/grcl_icon_sc@2x.png"); } }
        @media (-webkit-min-device-pixel-ratio: 3), (min-device-pixel-ratio: 3) {
          .side-nav-cont .side-nav-item-wrapper ul li i.icon-collect {
            background-image: url("../images/global/grcl_icon_sc@3x.png"); } }
      .side-nav-cont .side-nav-item-wrapper ul li i.icon-report {
        background-image: url("../images/global/grcl_icon_wdbg.png");
        background-repeat: no-repeat; }
        @media (-webkit-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2) {
          .side-nav-cont .side-nav-item-wrapper ul li i.icon-report {
            background-image: url("../images/global/grcl_icon_wdbg@2x.png"); } }
        @media (-webkit-min-device-pixel-ratio: 3), (min-device-pixel-ratio: 3) {
          .side-nav-cont .side-nav-item-wrapper ul li i.icon-report {
            background-image: url("../images/global/grcl_icon_wdbg@3x.png"); } }
      .side-nav-cont .side-nav-item-wrapper ul li i.icon-exit {
        background-image: url("../images/global/grcl_icon_exit.png");
        background-repeat: no-repeat; }
        @media (-webkit-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2) {
          .side-nav-cont .side-nav-item-wrapper ul li i.icon-exit {
            background-image: url("../images/global/grcl_icon_exit@2x.png"); } }
        @media (-webkit-min-device-pixel-ratio: 3), (min-device-pixel-ratio: 3) {
          .side-nav-cont .side-nav-item-wrapper ul li i.icon-exit {
            background-image: url("../images/global/grcl_icon_exit@3x.png"); } }
    .side-nav-cont .side-nav-item-wrapper ul li.current, .side-nav-cont .side-nav-item-wrapper ul li:hover {
      background-color: #f8f8f8; }
  .side-nav-cont .side-nav-item-wrapper ul.item-link {
    margin-bottom: 0.12rem; }
    .side-nav-cont .side-nav-item-wrapper ul.item-link li {
      height: 1.1466666667rem;
      line-height: 1.1466666667rem; }
  .side-nav-cont .side-nav-item-wrapper ul.item-my {
    padding-top: 0.12rem;
    border-top: 1px solid #e8e8e8; }
    .side-nav-cont .side-nav-item-wrapper ul.item-my li {
      line-height: 1;
      padding-top: 0.4133333333rem;
      padding-bottom: 0.4133333333rem; }
  .side-nav-cont .side-house-intelligent {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding-top: 0.44rem;
    padding-bottom: 0.5066666667rem;
    text-align: center;
    background-color: #f2f2f2; }
    .side-nav-cont .side-house-intelligent a {
      position: relative;
      display: inline-block;
      width: 2.4266666667rem;
      height: 0.92rem;
      line-height: 0.84rem;
      border: 0.04rem solid #fb3939;
      box-sizing: border-box; }
      [data-dpr="1"] .side-nav-cont .side-house-intelligent a {
        font-size: 15px; }
      [data-dpr="2"] .side-nav-cont .side-house-intelligent a {
        font-size: 30px; }
      [data-dpr="3"] .side-nav-cont .side-house-intelligent a {
        font-size: 45px; }
      .side-nav-cont .side-house-intelligent a em {
        display: block;
        position: relative;
        z-index: 1; }
      .side-nav-cont .side-house-intelligent a:before, .side-nav-cont .side-house-intelligent a:after {
        content: '';
        position: absolute;
        border: 0.04rem solid #f2f2f2;
        background-color: #f2f2f2; }
      .side-nav-cont .side-house-intelligent a:before {
        top: -0.08rem;
        left: 0.1333333333rem;
        right: 0.1333333333rem;
        bottom: -0.08rem; }
      .side-nav-cont .side-house-intelligent a:after {
        top: 0.1333333333rem;
        left: -0.08rem;
        right: -0.08rem;
        bottom: 0.1333333333rem; }
  .side-nav-cont.active {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }

.scroll-mask {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  content: '';
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 240; }

.main-top-header {
  position: relative;
  height: 1.5733333333rem;
  line-height: 0.8533333333rem;
  padding: 0.36rem 0.4rem;
  vertical-align: middle;
  background: #0a0724;
  box-sizing: border-box;
  z-index: 200; }
  .main-top-header .header-logo {
    float: left;
    display: block;
    width: 1.84rem; }
    .main-top-header .header-logo img {
      width: 100%; }
  .main-top-header .search-box {
    float: left;
    position: relative;
    width: 6.2133333333rem;
    height: 0.8533333333rem;
    margin-left: 0.3333333333rem;
    background-color: #fff;
    border-radius: 0.0533333333rem; }
    .main-top-header .search-box .icon {
      position: absolute;
      top: 0.2666666667rem;
      left: 0.24rem;
      display: block;
      width: 0.32rem;
      height: 0.3333333333rem;
      background-image: url("../images/global/sy_search_icon.png");
      background-repeat: no-repeat;
      -webkit-background-size: 0.32rem auto;
      background-size: 0.32rem auto; }
      @media (-webkit-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2) {
        .main-top-header .search-box .icon {
          background-image: url("../images/global/sy_search_icon@2x.png"); } }
      @media (-webkit-min-device-pixel-ratio: 3), (min-device-pixel-ratio: 3) {
        .main-top-header .search-box .icon {
          background-image: url("../images/global/sy_search_icon@3x.png"); } }
    .main-top-header .search-box input {
      position: absolute;
      right: 0;
      bottom: 0;
      width: 5.4666666667rem;
      height: 100%;
      padding-right: 0.2666666667rem;
      background-color: transparent;
      box-sizing: border-box; }
      [data-dpr="1"] .main-top-header .search-box input {
        font-size: 13px; }
      [data-dpr="2"] .main-top-header .search-box input {
        font-size: 26px; }
      [data-dpr="3"] .main-top-header .search-box input {
        font-size: 39px; }
      .main-top-header .search-box input::-webkit-input-placeholder {
        color: #999; }
  .main-top-header .header-user {
    float: right;
    display: block;
    width: 0.4266666667rem; }
    .main-top-header .header-user img {
      width: 100%; }
  .main-top-header.gradient {
    position: absolute;
    width: 100%;
    background: url("/static/images/global/dsy_search_jianbian.png") repeat-x;
    -webkit-background-size: contain;
    background-size: contain; }

.searchpage-header {
  position: relative;
  height: 1.5733333333rem;
  line-height: 1.5733333333rem;
  padding: 0.36rem 0.4rem;
  background: #0a0724;
  box-sizing: border-box;
  z-index: 99; }
  [data-dpr="1"] .searchpage-header {
    font-size: 13px; }
  [data-dpr="2"] .searchpage-header {
    font-size: 26px; }
  [data-dpr="3"] .searchpage-header {
    font-size: 39px; }
  .searchpage-header .searchpage-search-box {
    float: left;
    position: relative;
    width: 88.4%;
    height: 0.8533333333rem;
    line-height: 0.8533333333rem;
    background-color: #fff;
    -webkit-border-radius: 0.0533333333rem;
    border-radius: 0.0533333333rem; }
    .searchpage-header .searchpage-search-box .type-tab-box {
      float: left;
      position: relative;
      display: inline-block;
      padding-left: 0.4rem; }
      .searchpage-header .searchpage-search-box .type-tab-box .searchpage-current-item {
        position: relative;
        display: inline-block;
        width: 3em;
        line-height: 1;
        padding-right: 0.64rem;
        text-align: center;
        border-right: 0.0133333333rem solid #e8e8e8; }
        .searchpage-header .searchpage-search-box .type-tab-box .searchpage-current-item:after {
          content: '';
          position: absolute;
          top: 50%;
          right: 0.2933333333rem;
          width: 0;
          height: 0;
          margin-top: -0.0533333333rem;
          border-top: 0.12rem solid #e8e8e8;
          border-left: 0.12rem solid transparent;
          border-right: 0.12rem solid transparent; }
      .searchpage-header .searchpage-search-box .type-tab-box .type-menu-box {
        display: none;
        position: absolute;
        left: 0;
        top: 0.9333333333rem;
        width: 2.5333333333rem;
        text-align: center; }
        .searchpage-header .searchpage-search-box .type-tab-box .type-menu-box .triangle-top {
          position: relative;
          display: block;
          width: 0;
          height: 0;
          margin: 0 auto;
          border-bottom: 0.1866666667rem solid #fff;
          border-left: 0.1866666667rem solid transparent;
          border-right: 0.1866666667rem solid transparent; }
        .searchpage-header .searchpage-search-box .type-tab-box .type-menu-box .type-menu {
          margin-top: -0.0133333333rem;
          width: 100%;
          background-color: #fff;
          -webkit-box-shadow: 0 0.04rem 0.2133333333rem 0 rgba(0, 0, 0, 0.35);
          box-shadow: 0 0.04rem 0.2133333333rem 0 rgba(0, 0, 0, 0.35);
          -webkit-border-radius: 0.0533333333rem;
          border-radius: 0.0533333333rem; }
          .searchpage-header .searchpage-search-box .type-tab-box .type-menu-box .type-menu span {
            display: block;
            line-height: 1.0666666667rem;
            border-bottom: 0.0133333333rem solid #e8e8e8; }
            .searchpage-header .searchpage-search-box .type-tab-box .type-menu-box .type-menu span.current {
              color: #fb3939; }
            .searchpage-header .searchpage-search-box .type-tab-box .type-menu-box .type-menu span:last-child {
              border-bottom: none; }
    .searchpage-header .searchpage-search-box .searchpage-search-content {
      position: relative;
      float: left;
      display: inline-block;
      margin-left: 0.3333333333rem;
      width: 67%; }
      .searchpage-header .searchpage-search-box .searchpage-search-content .icon {
        display: inline-block;
        width: 0.32rem;
        height: 0.3333333333rem;
        vertical-align: middle;
        background-image: url("../images/global/sy_search_icon.png");
        background-repeat: no-repeat;
        -webkit-background-size: contain;
        background-size: contain; }
        @media (-webkit-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2) {
          .searchpage-header .searchpage-search-box .searchpage-search-content .icon {
            background-image: url("../images/global/sy_search_icon@2x.png"); } }
        @media (-webkit-min-device-pixel-ratio: 3), (min-device-pixel-ratio: 3) {
          .searchpage-header .searchpage-search-box .searchpage-search-content .icon {
            background-image: url("../images/global/sy_search_icon@3x.png"); } }
      .searchpage-header .searchpage-search-box .searchpage-search-content form {
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        padding-left: 0.5333333333rem;
        box-sizing: border-box; }
        .searchpage-header .searchpage-search-box .searchpage-search-content form input {
          position: absolute;
          top: 0;
          right: 0;
          padding-left: 0.5333333333rem;
          width: 100%;
          height: 100%;
          background-color: transparent;
          box-sizing: border-box; }
          [data-dpr="1"] .searchpage-header .searchpage-search-box .searchpage-search-content form input {
            font-size: 13px; }
          [data-dpr="2"] .searchpage-header .searchpage-search-box .searchpage-search-content form input {
            font-size: 26px; }
          [data-dpr="3"] .searchpage-header .searchpage-search-box .searchpage-search-content form input {
            font-size: 39px; }
          .searchpage-header .searchpage-search-box .searchpage-search-content form input::-webkit-input-placeholder {
            color: #999; }
      .searchpage-header .searchpage-search-box .searchpage-search-content.only {
        width: 96%; }
  .searchpage-header .searchpage-search-btn {
    float: right;
    height: 0.8533333333rem;
    line-height: 0.8533333333rem;
    color: #fff;
    background-color: transparent; }

.searchpage-content-header {
  position: relative;
  height: 1.2rem;
  line-height: 1.2rem;
  padding: 0 0.4rem;
  border-bottom: 0.0133333333rem solid #e8e8e8; }
  [data-dpr="1"] .searchpage-content-header {
    font-size: 15px; }
  [data-dpr="2"] .searchpage-content-header {
    font-size: 30px; }
  [data-dpr="3"] .searchpage-content-header {
    font-size: 45px; }
  .searchpage-content-header a {
    position: absolute;
    right: 0.4rem;
    top: 0;
    width: 0.4rem;
    height: 1.2rem;
    background-image: url("/static/images/global/refresh-clear-icon.png");
    background-repeat: no-repeat; }
    @media (-webkit-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2) {
      .searchpage-content-header a {
        background-image: url("/static/images/global/refresh-clear-icon@2x.png"); } }
    @media (-webkit-min-device-pixel-ratio: 3), (min-device-pixel-ratio: 3) {
      .searchpage-content-header a {
        background-image: url("/static/images/global/refresh-clear-icon@3x.png"); } }
    .searchpage-content-header a.refresh-icon {
      background-position: left center; }
    .searchpage-content-header a.clear-icon {
      background-position: right center; }

.searchpage-hot-recommend {
  padding: 0.4rem; }
  .searchpage-hot-recommend a {
    float: left;
    display: block;
    color: #666;
    line-height: 1;
    padding: 13px 30px;
    margin: 0 20px 20px 0;
    -webkit-border-radius: 0.0533333333rem;
    border-radius: 0.0533333333rem;
    background-color: #f2f2f2; }
    .searchpage-hot-recommend a:last-child {
      margin-right: 0; }

.searchpage-history {
  padding: 0.1333333333rem 0.4rem 0; }
  .searchpage-history a {
    display: block;
    padding: 0.24rem 0;
    color: #999; }
    [data-dpr="1"] .searchpage-history a {
      font-size: 13px; }
    [data-dpr="2"] .searchpage-history a {
      font-size: 26px; }
    [data-dpr="3"] .searchpage-history a {
      font-size: 39px; }

.search-page-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 10rem;
  height: 100%;
  background-color: #fff;
  /*-webkit-transition: transform 0.5s ease;
  transition: transform 0.5s ease;
  -webkit-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);*/
  z-index: 9999; }
  .search-page-wrapper.active {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }

.list-item {
  display: block;
  padding: 0.56rem 0;
  margin: 0 0.4rem;
  color: #3a3a3a;
  border-bottom: 1px solid #e8e8e8;
  box-sizing: border-box; }
  .list-item .list-item-img-box {
    float: left;
    width: 3.0666666667rem;
    height: 2.2933333333rem;
    overflow: hidden; }
    .list-item .list-item-img-box img {
      min-width: 100%;
      height: 100%; }
  .list-item .list-item-cont {
    position: relative;
    float: left;
    width: 5.7333333333rem;
    height: 2.2933333333rem;
    padding-left: 0.4rem; }
    .list-item .list-item-cont .cont-block-4 {
      position: absolute;
      width: 5.7333333333rem;
      bottom: 0;
      white-space: nowrap;
      overflow-x: scroll;
      text-overflow: clip; }
      .list-item .list-item-cont .cont-block-4.esf {
        width: 3.6rem;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis; }
    .list-item .list-item-cont .cont-block-price {
      position: absolute;
      right: 0;
      bottom: 0;
      line-height: 1.2;
      text-align: right; }
      .list-item .list-item-cont .cont-block-price em {
        display: block;
        color: #fb3939; }
        [data-dpr="1"] .list-item .list-item-cont .cont-block-price em {
          font-size: 14px; }
        [data-dpr="2"] .list-item .list-item-cont .cont-block-price em {
          font-size: 28px; }
        [data-dpr="3"] .list-item .list-item-cont .cont-block-price em {
          font-size: 42px; }
      .list-item .list-item-cont .cont-block-price span {
        display: block;
        margin-top: 0.1066666667rem;
        color: #888; }
        [data-dpr="1"] .list-item .list-item-cont .cont-block-price span {
          font-size: 12px; }
        [data-dpr="2"] .list-item .list-item-cont .cont-block-price span {
          font-size: 24px; }
        [data-dpr="3"] .list-item .list-item-cont .cont-block-price span {
          font-size: 36px; }
      .list-item .list-item-cont .cont-block-price.plot {
        top: 0.5866666667rem;
        bottom: auto; }
  .list-item .cont-block-1, .list-item .cont-block-2, .list-item .cont-block-3 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; }
  .list-item .cont-block-1 {
    height: 0.4266666667rem;
    line-height: 0.4266666667rem; }
    [data-dpr="1"] .list-item .cont-block-1 {
      font-size: 14px; }
    [data-dpr="2"] .list-item .cont-block-1 {
      font-size: 28px; }
    [data-dpr="3"] .list-item .cont-block-1 {
      font-size: 42px; }
    .list-item .cont-block-1 .ellipsis {
      display: inline-block;
      max-width: 2.5066666667rem;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis; }
    .list-item .cont-block-1 em {
      position: relative;
      top: 0.0266666667rem;
      display: inline-block;
      height: 0.3733333333rem;
      line-height: 0.3466666667rem;
      padding: 0 0.16rem;
      margin-left: 0.0666666667rem;
      color: #999;
      border: 0.0133333333rem solid #999;
      -webkit-border-radius: 0.0533333333rem;
      border-radius: 0.0533333333rem;
      box-sizing: border-box;
      vertical-align: top; }
      [data-dpr="1"] .list-item .cont-block-1 em {
        font-size: 10px; }
      [data-dpr="2"] .list-item .cont-block-1 em {
        font-size: 20px; }
      [data-dpr="3"] .list-item .cont-block-1 em {
        font-size: 30px; }
  .list-item .cont-block-2 {
    margin-top: 0.2133333333rem;
    color: #747788; }
    .list-item .cont-block-2.plot {
      width: 3.3333333333rem; }
  .list-item .cont-block-3 {
    position: relative;
    margin-top: 0.2133333333rem;
    color: #747788; }
    .list-item .cont-block-3 .icon {
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 0.28rem;
      height: 0.3733333333rem;
      background-image: url("../images/esf/esf_list_icon_wz.png");
      background-repeat: no-repeat;
      -webkit-background-size: 0.28rem auto;
      background-size: 0.28rem auto; }
      @media (-webkit-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2) {
        .list-item .cont-block-3 .icon {
          background-image: url("../images/esf/esf_list_icon_wz@2x.png"); } }
      @media (-webkit-min-device-pixel-ratio: 3), (min-device-pixel-ratio: 3) {
        .list-item .cont-block-3 .icon {
          background-image: url("../images/esf/esf_list_icon_wz@3x.png"); } }
    .list-item .cont-block-3.distance {
      padding-left: 0.4133333333rem; }
  .list-item.new .cont-block-1 {
    max-width: 4.4rem; }
  .list-item.new .new-active {
    clear: both;
    height: 0.64rem;
    line-height: 0.64rem;
    margin-top: 0.3466666667rem;
    padding: 0 0.1333333333rem;
    color: #adadad;
    background-color: #f8f8f8;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    box-sizing: border-box; }
    [data-dpr="1"] .list-item.new .new-active {
      font-size: 11px; }
    [data-dpr="2"] .list-item.new .new-active {
      font-size: 22px; }
    [data-dpr="3"] .list-item.new .new-active {
      font-size: 33px; }
    .list-item.new .new-active .icon {
      position: relative;
      top: 0.1333333333rem;
      display: inline-block;
      width: 0.3333333333rem;
      height: 0.4rem;
      margin-right: 0.1333333333rem;
      background-image: url("../images/newhouse/xf_list_icon_hd.png");
      background-repeat: no-repeat;
      -webkit-background-size: 0.3333333333rem auto;
      background-size: 0.3333333333rem auto; }
      @media (-webkit-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2) {
        .list-item.new .new-active .icon {
          background-image: url("../images/newhouse/xf_list_icon_hd@2x.png"); } }
      @media (-webkit-min-device-pixel-ratio: 3), (min-device-pixel-ratio: 3) {
        .list-item.new .new-active .icon {
          background-image: url("../images/newhouse/xf_list_icon_hd@3x.png"); } }
    .list-item.new .new-active em {
      color: #fb3939; }
  .list-item.new .cont-block-sale {
    position: absolute;
    right: 0;
    top: 0;
    height: 0.4266666667rem;
    line-height: 0.4266666667rem;
    padding: 0 0.2266666667rem 0 0.2933333333rem;
    color: #fff;
    background-color: #3bbc6c;
    -webkit-border-radius: 0.2933333333rem 0 0 0.2933333333rem;
    border-radius: 0.2933333333rem 0 0 0.2933333333rem; }
    [data-dpr="1"] .list-item.new .cont-block-sale {
      font-size: 10px; }
    [data-dpr="2"] .list-item.new .cont-block-sale {
      font-size: 20px; }
    [data-dpr="3"] .list-item.new .cont-block-sale {
      font-size: 30px; }
  .list-item.new-ad-item .list-item-cont-ad {
    position: relative;
    margin-bottom: 0.2666666667rem; }
    .list-item.new-ad-item .list-item-cont-ad h3, .list-item.new-ad-item .list-item-cont-ad p {
      display: inline-block;
      margin-top: 0;
      vertical-align: top; }
    .list-item.new-ad-item .list-item-cont-ad p {
      margin-left: 0.2666666667rem; }
  .list-item.new-ad-item .cont-block-2 {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 0; }
  .list-item.new-ad-item .list-item-img-box {
    width: 2.96rem;
    margin-right: 0.16rem;
    margin-bottom: 0.3466666667rem; }
    .list-item.new-ad-item .list-item-img-box:last-child {
      margin-right: 0; }

.sort-icon {
  position: fixed;
  bottom: 0.4rem;
  right: 0.4rem;
  width: 1.4933333333rem;
  height: 1.4933333333rem;
  background-image: url("/static/images/global/base_sort_icon.png");
  background-repeat: no-repeat; }
  @media (-webkit-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2) {
    .sort-icon {
      background-image: url("/static/images/global/base_sort_icon@2x.png"); } }
  @media (-webkit-min-device-pixel-ratio: 3), (min-device-pixel-ratio: 3) {
    .sort-icon {
      background-image: url("/static/images/global/base_sort_icon@3x.png"); } }

.sort-content-box {
  display: none;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  z-index: 200; }
  .sort-content-box .sort-content {
    position: relative;
    background-color: #fff;
    z-index: 1; }
    .sort-content-box .sort-content li {
      padding: 0 0.4rem;
      height: 1.2rem;
      line-height: 1.2rem; }
      .sort-content-box .sort-content li p {
        color: #666;
        border-bottom: 0.0133333333rem solid #e8e8e8; }
        [data-dpr="1"] .sort-content-box .sort-content li p {
          font-size: 14px; }
        [data-dpr="2"] .sort-content-box .sort-content li p {
          font-size: 28px; }
        [data-dpr="3"] .sort-content-box .sort-content li p {
          font-size: 42px; }
      .sort-content-box .sort-content li.current p {
        color: #fb3939; }
  .sort-content-box .sort-mask {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); }

.side-nav-cont {
  position: fixed;
  top: 0;
  right: 0;
  width: 6rem;
  height: 100%;
  background-color: #fff;
  z-index: 999;
  -webkit-transition: transform .5s ease;
  transition: transform .5s ease;
  -webkit-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0); }
  .side-nav-cont a {
    color: #3a3a3a; }
  .side-nav-cont .side-user {
    padding: 0.6666666667rem 0 1.0666666667rem;
    text-align: center;
    color: #666;
    box-sizing: border-box; }
    [data-dpr="1"] .side-nav-cont .side-user {
      font-size: 13px; }
    [data-dpr="2"] .side-nav-cont .side-user {
      font-size: 26px; }
    [data-dpr="3"] .side-nav-cont .side-user {
      font-size: 39px; }
    .side-nav-cont .side-user img {
      width: 1.6rem;
      margin-bottom: 0.2666666667rem; }
    .side-nav-cont .side-user p {
      line-height: 1; }
  .side-nav-cont .side-nav-item-wrapper ul li {
    position: relative;
    padding-left: 1.56rem; }
    [data-dpr="1"] .side-nav-cont .side-nav-item-wrapper ul li {
      font-size: 13px; }
    [data-dpr="2"] .side-nav-cont .side-nav-item-wrapper ul li {
      font-size: 26px; }
    [data-dpr="3"] .side-nav-cont .side-nav-item-wrapper ul li {
      font-size: 39px; }
    .side-nav-cont .side-nav-item-wrapper ul li i {
      position: absolute;
      top: 0;
      left: 0.5733333333rem;
      display: block;
      width: 0.6133333333rem;
      height: 100%;
      background-position: center;
      -webkit-background-size: contain;
      background-size: contain; }
      .side-nav-cont .side-nav-item-wrapper ul li i.icon-index {
        background-image: url("../images/global/grcl_icon_sy.png");
        background-repeat: no-repeat; }
        @media (-webkit-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2) {
          .side-nav-cont .side-nav-item-wrapper ul li i.icon-index {
            background-image: url("../images/global/grcl_icon_sy@2x.png"); } }
        @media (-webkit-min-device-pixel-ratio: 3), (min-device-pixel-ratio: 3) {
          .side-nav-cont .side-nav-item-wrapper ul li i.icon-index {
            background-image: url("../images/global/grcl_icon_sy@3x.png"); } }
      .side-nav-cont .side-nav-item-wrapper ul li i.icon-esf {
        background-image: url("../images/global/grcl_icon_zes.png");
        background-repeat: no-repeat; }
        @media (-webkit-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2) {
          .side-nav-cont .side-nav-item-wrapper ul li i.icon-esf {
            background-image: url("../images/global/grcl_icon_zes@2x.png"); } }
        @media (-webkit-min-device-pixel-ratio: 3), (min-device-pixel-ratio: 3) {
          .side-nav-cont .side-nav-item-wrapper ul li i.icon-esf {
            background-image: url("../images/global/grcl_icon_zes@3x.png"); } }
      .side-nav-cont .side-nav-item-wrapper ul li i.icon-plot {
        background-image: url("../images/global/grcl_icon_zxq.png");
        background-repeat: no-repeat; }
        @media (-webkit-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2) {
          .side-nav-cont .side-nav-item-wrapper ul li i.icon-plot {
            background-image: url("../images/global/grcl_icon_zxq@2x.png"); } }
        @media (-webkit-min-device-pixel-ratio: 3), (min-device-pixel-ratio: 3) {
          .side-nav-cont .side-nav-item-wrapper ul li i.icon-plot {
            background-image: url("../images/global/grcl_icon_zxq@3x.png"); } }
      .side-nav-cont .side-nav-item-wrapper ul li i.icon-new {
        background-image: url("../images/global/grcl_icon_zxf.png");
        background-repeat: no-repeat; }
        @media (-webkit-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2) {
          .side-nav-cont .side-nav-item-wrapper ul li i.icon-new {
            background-image: url("../images/global/grcl_icon_zxf@2x.png"); } }
        @media (-webkit-min-device-pixel-ratio: 3), (min-device-pixel-ratio: 3) {
          .side-nav-cont .side-nav-item-wrapper ul li i.icon-new {
            background-image: url("../images/global/grcl_icon_zxf@3x.png"); } }
      .side-nav-cont .side-nav-item-wrapper ul li i.icon-collect {
        background-image: url("../images/global/grcl_icon_sc.png");
        background-repeat: no-repeat; }
        @media (-webkit-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2) {
          .side-nav-cont .side-nav-item-wrapper ul li i.icon-collect {
            background-image: url("../images/global/grcl_icon_sc@2x.png"); } }
        @media (-webkit-min-device-pixel-ratio: 3), (min-device-pixel-ratio: 3) {
          .side-nav-cont .side-nav-item-wrapper ul li i.icon-collect {
            background-image: url("../images/global/grcl_icon_sc@3x.png"); } }
      .side-nav-cont .side-nav-item-wrapper ul li i.icon-report {
        background-image: url("../images/global/grcl_icon_wdbg.png");
        background-repeat: no-repeat; }
        @media (-webkit-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2) {
          .side-nav-cont .side-nav-item-wrapper ul li i.icon-report {
            background-image: url("../images/global/grcl_icon_wdbg@2x.png"); } }
        @media (-webkit-min-device-pixel-ratio: 3), (min-device-pixel-ratio: 3) {
          .side-nav-cont .side-nav-item-wrapper ul li i.icon-report {
            background-image: url("../images/global/grcl_icon_wdbg@3x.png"); } }
      .side-nav-cont .side-nav-item-wrapper ul li i.icon-exit {
        background-image: url("../images/global/grcl_icon_exit.png");
        background-repeat: no-repeat; }
        @media (-webkit-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2) {
          .side-nav-cont .side-nav-item-wrapper ul li i.icon-exit {
            background-image: url("../images/global/grcl_icon_exit@2x.png"); } }
        @media (-webkit-min-device-pixel-ratio: 3), (min-device-pixel-ratio: 3) {
          .side-nav-cont .side-nav-item-wrapper ul li i.icon-exit {
            background-image: url("../images/global/grcl_icon_exit@3x.png"); } }
    .side-nav-cont .side-nav-item-wrapper ul li.current, .side-nav-cont .side-nav-item-wrapper ul li:hover {
      background-color: #f8f8f8; }
  .side-nav-cont .side-nav-item-wrapper ul.item-link {
    margin-bottom: 0.12rem; }
    .side-nav-cont .side-nav-item-wrapper ul.item-link li {
      height: 1.1466666667rem;
      line-height: 1.1466666667rem; }
  .side-nav-cont .side-nav-item-wrapper ul.item-my {
    padding-top: 0.12rem;
    border-top: 1px solid #e8e8e8; }
    .side-nav-cont .side-nav-item-wrapper ul.item-my li {
      line-height: 1;
      padding-top: 0.4133333333rem;
      padding-bottom: 0.4133333333rem; }
  .side-nav-cont .side-house-intelligent {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding-top: 0.44rem;
    padding-bottom: 0.5066666667rem;
    text-align: center;
    background-color: #f2f2f2; }
    .side-nav-cont .side-house-intelligent a {
      position: relative;
      display: inline-block;
      width: 2.4266666667rem;
      height: 0.92rem;
      line-height: 0.84rem;
      border: 0.04rem solid #fb3939;
      box-sizing: border-box; }
      [data-dpr="1"] .side-nav-cont .side-house-intelligent a {
        font-size: 15px; }
      [data-dpr="2"] .side-nav-cont .side-house-intelligent a {
        font-size: 30px; }
      [data-dpr="3"] .side-nav-cont .side-house-intelligent a {
        font-size: 45px; }
      .side-nav-cont .side-house-intelligent a em {
        display: block;
        position: relative;
        z-index: 1; }
      .side-nav-cont .side-house-intelligent a:before, .side-nav-cont .side-house-intelligent a:after {
        content: '';
        position: absolute;
        border: 0.04rem solid #f2f2f2;
        background-color: #f2f2f2; }
      .side-nav-cont .side-house-intelligent a:before {
        top: -0.08rem;
        left: 0.1333333333rem;
        right: 0.1333333333rem;
        bottom: -0.08rem; }
      .side-nav-cont .side-house-intelligent a:after {
        top: 0.1333333333rem;
        left: -0.08rem;
        right: -0.08rem;
        bottom: 0.1333333333rem; }
  .side-nav-cont.active {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }

.scroll-mask {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  content: '';
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 240; }

.banner-nav {
  display: -webkit-flex;
  display: flex;
  margin: 0.5333333333rem -0.4rem 0;
  justify-content: space-between; }
  .banner-nav .banner-nav-item {
    -webkit-flex: 1;
    flex: 1;
    margin-left: 0.4rem;
    margin-right: 0.4rem;
    text-align: center; }
    .banner-nav .banner-nav-item a {
      display: block; }
    .banner-nav .banner-nav-item i {
      display: inline-block;
      width: 1.3333333333rem;
      height: 1.3333333333rem;
      -webkit-background-size: contain;
      background-size: contain; }
      .banner-nav .banner-nav-item i.all-buildings {
        background-image: url("/static/images/newindex/zf_icon_qblp.png");
        background-repeat: no-repeat; }
        @media (-webkit-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2) {
          .banner-nav .banner-nav-item i.all-buildings {
            background-image: url("/static/images/newindex/zf_icon_qblp@2x.png"); } }
        @media (-webkit-min-device-pixel-ratio: 3), (min-device-pixel-ratio: 3) {
          .banner-nav .banner-nav-item i.all-buildings {
            background-image: url("/static/images/newindex/zf_icon_qblp@3x.png"); } }
      .banner-nav .banner-nav-item i.featured-properties {
        background-image: url("/static/images/newindex/zf_icon_zslp.png");
        background-repeat: no-repeat; }
        @media (-webkit-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2) {
          .banner-nav .banner-nav-item i.featured-properties {
            background-image: url("/static/images/newindex/zf_icon_zslp@2x.png"); } }
        @media (-webkit-min-device-pixel-ratio: 3), (min-device-pixel-ratio: 3) {
          .banner-nav .banner-nav-item i.featured-properties {
            background-image: url("/static/images/newindex/zf_icon_zslp@3x.png"); } }
      .banner-nav .banner-nav-item i.houses-open {
        background-image: url("/static/images/newindex/zf_icon_jjkp.png");
        background-repeat: no-repeat; }
        @media (-webkit-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2) {
          .banner-nav .banner-nav-item i.houses-open {
            background-image: url("/static/images/newindex/zf_icon_jjkp@2x.png"); } }
        @media (-webkit-min-device-pixel-ratio: 3), (min-device-pixel-ratio: 3) {
          .banner-nav .banner-nav-item i.houses-open {
            background-image: url("/static/images/newindex/zf_icon_jjkp@3x.png"); } }
      .banner-nav .banner-nav-item i.houses-intelligent {
        background-image: url("/static/images/newindex/zf_icon_znzf.png");
        background-repeat: no-repeat; }
        @media (-webkit-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2) {
          .banner-nav .banner-nav-item i.houses-intelligent {
            background-image: url("/static/images/newindex/zf_icon_znzf@2x.png"); } }
        @media (-webkit-min-device-pixel-ratio: 3), (min-device-pixel-ratio: 3) {
          .banner-nav .banner-nav-item i.houses-intelligent {
            background-image: url("/static/images/newindex/zf_icon_znzf@3x.png"); } }
      .banner-nav .banner-nav-item i.index-esf-icon {
        background-image: url("/static/images/index/dsy_icon_esf.png");
        background-repeat: no-repeat; }
        @media (-webkit-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2) {
          .banner-nav .banner-nav-item i.index-esf-icon {
            background-image: url("/static/images/index/dsy_icon_esf@2x.png"); } }
        @media (-webkit-min-device-pixel-ratio: 3), (min-device-pixel-ratio: 3) {
          .banner-nav .banner-nav-item i.index-esf-icon {
            background-image: url("/static/images/index/dsy_icon_esf@3x.png"); } }
      .banner-nav .banner-nav-item i.index-plot-icon {
        background-image: url("/static/images/index/dsy_icon_xq.png");
        background-repeat: no-repeat; }
        @media (-webkit-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2) {
          .banner-nav .banner-nav-item i.index-plot-icon {
            background-image: url("/static/images/index/dsy_icon_xq@2x.png"); } }
        @media (-webkit-min-device-pixel-ratio: 3), (min-device-pixel-ratio: 3) {
          .banner-nav .banner-nav-item i.index-plot-icon {
            background-image: url("/static/images/index/dsy_icon_xq@3x.png"); } }
      .banner-nav .banner-nav-item i.index-new-icon {
        background-image: url("/static/images/index/dsy_icon_xf.png");
        background-repeat: no-repeat; }
        @media (-webkit-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2) {
          .banner-nav .banner-nav-item i.index-new-icon {
            background-image: url("/static/images/index/dsy_icon_xf@2x.png"); } }
        @media (-webkit-min-device-pixel-ratio: 3), (min-device-pixel-ratio: 3) {
          .banner-nav .banner-nav-item i.index-new-icon {
            background-image: url("/static/images/index/dsy_icon_xf@3x.png"); } }
      .banner-nav .banner-nav-item i.index-intelligent-icon {
        background-image: url("/static/images/index/dsy_icon_zn.png");
        background-repeat: no-repeat; }
        @media (-webkit-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2) {
          .banner-nav .banner-nav-item i.index-intelligent-icon {
            background-image: url("/static/images/index/dsy_icon_zn@2x.png"); } }
        @media (-webkit-min-device-pixel-ratio: 3), (min-device-pixel-ratio: 3) {
          .banner-nav .banner-nav-item i.index-intelligent-icon {
            background-image: url("/static/images/index/dsy_icon_zn@3x.png"); } }
    .banner-nav .banner-nav-item p {
      margin-top: 0.2266666667rem;
      color: #444;
      white-space: nowrap; }
      [data-dpr="1"] .banner-nav .banner-nav-item p {
        font-size: 13px; }
      [data-dpr="2"] .banner-nav .banner-nav-item p {
        font-size: 26px; }
      [data-dpr="3"] .banner-nav .banner-nav-item p {
        font-size: 39px; }
    .banner-nav .banner-nav-item.index-nav-item i {
      width: 1.2533333333rem;
      height: 1.2533333333rem; }

.bulletin-board {
  position: relative;
  padding: 0.3066666667rem 0.4rem;
  height: 0.4533333333rem;
  line-height: 0.4533333333rem; }
  .bulletin-board .img {
    position: absolute;
    top: 50%;
    left: 0.4rem;
    display: block;
    height: 0.4rem;
    margin-top: -0.2rem; }
    .bulletin-board .img img {
      height: 100%;
      vertical-align: top; }
    .bulletin-board .img.index-img {
      height: 0.72rem;
      margin-top: -0.36rem; }
  .bulletin-board .text-scroll {
    position: relative;
    height: 0.4533333333rem;
    margin-left: 2rem;
    border-left: 1px solid #e8e8e8;
    overflow: hidden; }
    .bulletin-board .text-scroll ul {
      transform: translateY(0); }
      .bulletin-board .text-scroll ul li {
        margin-left: 0.2666666667rem;
        height: 0.4533333333rem;
        line-height: 0.4533333333rem;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis; }
        [data-dpr="1"] .bulletin-board .text-scroll ul li {
          font-size: 12px; }
        [data-dpr="2"] .bulletin-board .text-scroll ul li {
          font-size: 24px; }
        [data-dpr="3"] .bulletin-board .text-scroll ul li {
          font-size: 36px; }
        .bulletin-board .text-scroll ul li a {
          color: #666; }
        .bulletin-board .text-scroll ul li .scroll-text-tag {
          padding: 0 0.08rem;
          margin-right: 0.2666666667rem;
          color: #fb3939;
          vertical-align: top;
          border: 0.0133333333rem solid #fb3939;
          -webkit-border-radius: 0.0533333333rem;
          border-radius: 0.0533333333rem; }
          [data-dpr="1"] .bulletin-board .text-scroll ul li .scroll-text-tag {
            font-size: 9px; }
          [data-dpr="2"] .bulletin-board .text-scroll ul li .scroll-text-tag {
            font-size: 18px; }
          [data-dpr="3"] .bulletin-board .text-scroll ul li .scroll-text-tag {
            font-size: 27px; }
    .bulletin-board .text-scroll .animate {
      -webkit-transition: all .3s ease-out; }
    .bulletin-board .text-scroll.index-text {
      margin-left: 1.2266666667rem; }

.hot-topic {
  padding: 0.4rem; }
  .hot-topic .column {
    display: -webkit-flex;
    display: flex;
    margin: -0.2133333333rem -0.12rem;
    justify-content: space-between; }
    .hot-topic .column .hot-topic-item {
      position: relative;
      -webkit-flex: 1;
      flex: 1;
      width: 0;
      margin: 0.2133333333rem 0.12rem;
      -webkit-border-radius: 0.0533333333rem;
      border-radius: 0.0533333333rem;
      overflow: hidden; }
      .hot-topic .column .hot-topic-item .topic-item-content {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding: 0.2666666667rem;
        color: #fff;
        background-color: rgba(69, 73, 95, 0.5);
        box-sizing: border-box; }
        [data-dpr="1"] .hot-topic .column .hot-topic-item .topic-item-content {
          font-size: 11px; }
        [data-dpr="2"] .hot-topic .column .hot-topic-item .topic-item-content {
          font-size: 22px; }
        [data-dpr="3"] .hot-topic .column .hot-topic-item .topic-item-content {
          font-size: 33px; }
        .hot-topic .column .hot-topic-item .topic-item-content h5 {
          display: block;
          margin-bottom: 0.2133333333rem; }
          [data-dpr="1"] .hot-topic .column .hot-topic-item .topic-item-content h5 {
            font-size: 14px; }
          [data-dpr="2"] .hot-topic .column .hot-topic-item .topic-item-content h5 {
            font-size: 28px; }
          [data-dpr="3"] .hot-topic .column .hot-topic-item .topic-item-content h5 {
            font-size: 42px; }
        .hot-topic .column .hot-topic-item .topic-item-content h5, .hot-topic .column .hot-topic-item .topic-item-content p {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis; }
        .hot-topic .column .hot-topic-item .topic-item-content p {
          position: relative;
          display: inline-block;
          z-index: 1; }
      .hot-topic .column .hot-topic-item img {
        width: 100%; }
      .hot-topic .column .hot-topic-item.index-topic-item {
        height: 2.6666666667rem;
        text-align: center; }
        .hot-topic .column .hot-topic-item.index-topic-item .topic-item-content {
          padding: 0.4rem;
          color: #3a3a3a;
          background-color: #f2f2f2; }
          .hot-topic .column .hot-topic-item.index-topic-item .topic-item-content p {
            overflow: inherit;
            color: #999; }
            [data-dpr="1"] .hot-topic .column .hot-topic-item.index-topic-item .topic-item-content p {
              font-size: 11px; }
            [data-dpr="2"] .hot-topic .column .hot-topic-item.index-topic-item .topic-item-content p {
              font-size: 22px; }
            [data-dpr="3"] .hot-topic .column .hot-topic-item.index-topic-item .topic-item-content p {
              font-size: 33px; }
            .hot-topic .column .hot-topic-item.index-topic-item .topic-item-content p:before, .hot-topic .column .hot-topic-item.index-topic-item .topic-item-content p:after {
              content: '';
              position: absolute;
              top: 0.1466666667rem;
              width: 0.3333333333rem;
              height: 0.0133333333rem;
              background-color: #999; }
            .hot-topic .column .hot-topic-item.index-topic-item .topic-item-content p:before {
              left: -0.6666666667rem; }
            .hot-topic .column .hot-topic-item.index-topic-item .topic-item-content p:after {
              right: -0.6666666667rem; }
        .hot-topic .column .hot-topic-item.index-topic-item img {
          position: absolute;
          bottom: 0;
          left: 50%; }
          .hot-topic .column .hot-topic-item.index-topic-item img.item-1 {
            width: 1.5066666667rem;
            margin-left: -0.7533333333rem; }
          .hot-topic .column .hot-topic-item.index-topic-item img.item-2 {
            width: 2.2666666667rem;
            margin-left: -1.1333333333rem; }
          .hot-topic .column .hot-topic-item.index-topic-item img.item-3 {
            width: 1.4266666667rem;
            margin-left: -0.7133333333rem; }
          .hot-topic .column .hot-topic-item.index-topic-item img.item-4 {
            width: 2.5466666667rem;
            margin-left: -1.2733333333rem; }

.banner-index-box {
  padding: 0.1866666667rem 0.4rem 0.4133333333rem; }
  .banner-index-box .carousel-swiper img {
    width: 100%; }

.index-module-header {
  position: relative;
  margin: 0 0.4rem;
  height: 1.2rem;
  line-height: 1.2rem;
  border-bottom: 1px solid #e8e8e8; }
  [data-dpr="1"] .index-module-header {
    font-size: 16px; }
  [data-dpr="2"] .index-module-header {
    font-size: 32px; }
  [data-dpr="3"] .index-module-header {
    font-size: 48px; }
  .index-module-header .more-arrows {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    color: #999; }
    .index-module-header .more-arrows .arrows-right {
      display: inline-block;
      width: 0.6rem;
      height: 1.2rem;
      background-image: url("/static/images/global/arrows_right_icon.png");
      background-repeat: no-repeat;
      background-position: right center; }
      @media (-webkit-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2) {
        .index-module-header .more-arrows .arrows-right {
          background-image: url("/static/images/global/arrows_right_icon@2x.png"); } }
      @media (-webkit-min-device-pixel-ratio: 3), (min-device-pixel-ratio: 3) {
        .index-module-header .more-arrows .arrows-right {
          background-image: url("/static/images/global/arrows_right_icon@3x.png"); } }

.new-index-pull-down {
  display: block;
  line-height: 1;
  padding-top: 0.2533333333rem;
  padding-bottom: 0.1333333333rem;
  color: #999;
  text-align: center;
  background-color: #f2f2f2;
  box-sizing: border-box; }
  [data-dpr="1"] .new-index-pull-down {
    font-size: 10px; }
  [data-dpr="2"] .new-index-pull-down {
    font-size: 20px; }
  [data-dpr="3"] .new-index-pull-down {
    font-size: 30px; }
  .new-index-pull-down img {
    display: inline-block;
    width: 0.3333333333rem;
    margin-top: 0.1333333333rem;
    vertical-align: top; }

/*# sourceMappingURL=new-index.css.map */
