html {
  background-color: #fff;
  -webkit-text-size-adjust: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

body, p, h1, h2, h3, h4, h5, h6, ul, ol, dl, dd, fieldset, legend, input, button, textarea, option, hr {
  margin: 0;
  padding: 0; }

body {
  line-height: 1.2;
  margin: 0 auto;
  -webkit-overflow-scrolling: touch;
  color: #3a3a3a; }

input, button, select, textarea {
  line-height: 1.2;
  font-size: 100%;
  vertical-align: middle;
  outline: none;
  color: #3a3a3a; }

input, button {
  border: none;
  border-radius: 0; }

textarea {
  resize: none; }

button, input[type='button'], input[type='reset'], input[type='submit'] {
  cursor: pointer;
  -webkit-appearance: button;
  -moz-appearance: button; }

input:focus::-moz-placeholder, input:focus::-webkit-input-placeholder {
  color: transparent; }

a {
  color: #999;
  text-decoration: none; }

a:focus {
  outline: none; }

a, input, button, select, textarea {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

em, i {
  font-style: normal; }

ul, ol {
  list-style: none; }

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal; }

fieldset, img {
  border: none; }

img {
  vertical-align: middle; }

a, img {
  -webkit-touch-callout: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

hr {
  border-style: solid;
  border-width: 1px 0 0 0; }

.high-light-red {
  color: #fb3939 !important; }

.high-light-green {
  color: #3bbc6c !important; }

.none {
  display: none !important; }

.pr {
  position: relative !important; }

.pt0 {
  padding-top: 0 !important; }

.pb0 {
  padding-bottom: 0 !important; }

.pl0 {
  padding-left: 0 !important; }

.pr0 {
  padding-right: 0 !important; }

.pa0 {
  padding: 0 !important; }

.mt0 {
  margin-top: 0 !important; }

.ml0 {
  margin-left: 0 !important; }

.mr0 {
  margin-right: 0 !important; }

.mb0 {
  margin-bottom: 0 !important; }

.ma0 {
  margin: 0 !important; }

.border-none {
  border: none !important; }

.border-bot-none {
  border-bottom: none !important; }

.border-top-none {
  border-bottom: none !important; }

.text-center {
  text-align: center !important; }

.clear {
  zoom: 1; }
  .clear:after {
    visibility: hidden;
    display: block;
    clear: both;
    content: '';
    height: 0;
    font-size: 0; }

.content-visible {
  display: block !important; }

.module-bottom-fill {
  padding-bottom: 0.2133333333rem;
  background-color: #f2f2f2; }
  .module-bottom-fill > section {
    background-color: #fff; }

.house-labelling {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }
  .house-labelling.normal span, .house-labelling.gray span {
    height: 0.4266666667rem;
    line-height: 0.4266666667rem;
    padding-left: 0.2666666667rem;
    padding-right: 0.2666666667rem;
    margin-right: 0.08rem; }
    [data-dpr="1"] .house-labelling.normal span, [data-dpr="1"] .house-labelling.gray span {
      font-size: 10px; }
    [data-dpr="2"] .house-labelling.normal span, [data-dpr="2"] .house-labelling.gray span {
      font-size: 20px; }
    [data-dpr="3"] .house-labelling.normal span, [data-dpr="3"] .house-labelling.gray span {
      font-size: 30px; }
  .house-labelling.middle span {
    height: 0.4rem;
    line-height: 0.4rem;
    padding-left: 0.16rem;
    padding-right: 0.16rem; }
  .house-labelling.gray span {
    color: #fff;
    background-color: #747788; }
  .house-labelling.normal span {
    color: #999;
    border-color: #999;
    border: 1px solid #999; }
  .house-labelling.small span {
    height: 0.3333333333rem;
    line-height: 0.3333333333rem;
    padding-left: 0.1333333333rem;
    padding-right: 0.1333333333rem;
    margin-right: 0.0266666667rem; }
    [data-dpr="1"] .house-labelling.small span {
      font-size: 9px; }
    [data-dpr="2"] .house-labelling.small span {
      font-size: 18px; }
    [data-dpr="3"] .house-labelling.small span {
      font-size: 27px; }
  .house-labelling span {
    display: inline-block;
    -webkit-border-radius: 0.08rem;
    -moz-border-radius: 0.08rem;
    border-radius: 0.08rem; }
    .house-labelling span:last-child {
      margin-right: 0; }

.hidden {
  overflow: hidden; }

.fixed-scroll {
  position: fixed;
  width: 100%;
  height: 100%;
  overflow: hidden; }

header {
  position: relative;
  height: 1.5733333333rem;
  line-height: 1.5733333333rem;
  padding: 0.36rem 0.4rem;
  background: #0a0724;
  box-sizing: border-box;
  z-index: 99; }
  [data-dpr="1"] header {
    font-size: 13px; }
  [data-dpr="2"] header {
    font-size: 26px; }
  [data-dpr="3"] header {
    font-size: 39px; }
  header .search-box {
    float: left;
    position: relative;
    width: 88.4%;
    height: 0.8533333333rem;
    line-height: 0.8533333333rem;
    background-color: #fff;
    border-radius: 0.0533333333rem; }
    header .search-box .type-tab-box {
      float: left;
      position: relative;
      display: inline-block;
      padding-left: 0.4rem; }
      header .search-box .type-tab-box .current-item {
        position: relative;
        display: inline-block;
        width: 3em;
        line-height: 1;
        padding-right: 0.64rem;
        text-align: center;
        border-right: 0.0133333333rem solid #e1e1e1; }
        header .search-box .type-tab-box .current-item:after {
          content: '';
          position: absolute;
          top: 50%;
          right: 0.2933333333rem;
          width: 0;
          height: 0;
          margin-top: -0.0533333333rem;
          border-top: 0.12rem solid #e1e1e1;
          border-left: 0.12rem solid transparent;
          border-right: 0.12rem solid transparent; }
      header .search-box .type-tab-box .type-menu-box {
        display: none;
        position: absolute;
        left: 0;
        top: 0.9333333333rem;
        width: 2.5333333333rem;
        text-align: center; }
        header .search-box .type-tab-box .type-menu-box .triangle-top {
          position: relative;
          display: block;
          width: 0;
          height: 0;
          margin: 0 auto;
          border-bottom: 0.1866666667rem solid #fff;
          border-left: 0.1866666667rem solid transparent;
          border-right: 0.1866666667rem solid transparent; }
        header .search-box .type-tab-box .type-menu-box .type-menu {
          margin-top: -0.0133333333rem;
          width: 100%;
          background-color: #fff;
          -webkit-box-shadow: 0 0.04rem 0.2133333333rem 0 rgba(0, 0, 0, 0.35);
          box-shadow: 0 0.04rem 0.2133333333rem 0 rgba(0, 0, 0, 0.35);
          -webkit-border-radius: 0.08rem;
          border-radius: 0.08rem; }
          header .search-box .type-tab-box .type-menu-box .type-menu span {
            display: block;
            line-height: 1.0666666667rem;
            border-bottom: 0.0133333333rem solid #ccc; }
            header .search-box .type-tab-box .type-menu-box .type-menu span.current {
              color: #fb3939; }
            header .search-box .type-tab-box .type-menu-box .type-menu span:last-child {
              border-bottom: none; }
    header .search-box .search-content {
      float: left;
      display: inline-block;
      margin-left: 0.3333333333rem;
      width: 67%; }
      header .search-box .search-content .icon {
        display: inline-block;
        width: 0.32rem;
        height: 0.3333333333rem;
        vertical-align: middle;
        background-image: url("../images/global/sy_search_icon.png");
        background-repeat: no-repeat;
        -webkit-background-size: contain;
        background-size: contain; }
        @media (-webkit-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2) {
          header .search-box .search-content .icon {
            background-image: url("../images/global/sy_search_icon@2x.png"); } }
        @media (-webkit-min-device-pixel-ratio: 3), (min-device-pixel-ratio: 3) {
          header .search-box .search-content .icon {
            background-image: url("../images/global/sy_search_icon@3x.png"); } }
      header .search-box .search-content input {
        width: 91.1%;
        height: 100%;
        background-color: transparent;
        box-sizing: border-box; }
        [data-dpr="1"] header .search-box .search-content input {
          font-size: 13px; }
        [data-dpr="2"] header .search-box .search-content input {
          font-size: 26px; }
        [data-dpr="3"] header .search-box .search-content input {
          font-size: 39px; }
        header .search-box .search-content input::-webkit-input-placeholder {
          color: #999; }
      header .search-box .search-content.only {
        width: 96%; }
  header .search-btn {
    float: right;
    height: 0.8533333333rem;
    line-height: 0.8533333333rem;
    color: #fff;
    background-color: transparent; }

.content-header {
  position: relative;
  height: 1.2rem;
  line-height: 1.2rem;
  padding: 0 0.4rem;
  border-bottom: 0.0133333333rem solid #ccc; }
  [data-dpr="1"] .content-header {
    font-size: 15px; }
  [data-dpr="2"] .content-header {
    font-size: 30px; }
  [data-dpr="3"] .content-header {
    font-size: 45px; }
  .content-header a {
    position: absolute;
    right: 0.4rem;
    top: 0;
    width: 0.4rem;
    height: 1.2rem;
    background-image: url("/static/images/global/refresh-clear-icon.png");
    background-repeat: no-repeat; }
    @media (-webkit-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2) {
      .content-header a {
        background-image: url("/static/images/global/refresh-clear-icon@2x.png"); } }
    @media (-webkit-min-device-pixel-ratio: 3), (min-device-pixel-ratio: 3) {
      .content-header a {
        background-image: url("/static/images/global/refresh-clear-icon@3x.png"); } }
    .content-header a.refresh-icon {
      background-position: left center; }
    .content-header a.clear-icon {
      background-position: right center; }

.hot-recommend {
  padding: 0.4rem; }
  .hot-recommend a {
    float: left;
    display: block;
    color: #666;
    line-height: 1;
    padding: 13px 30px;
    margin: 0 20px 20px 0;
    border-radius: 10px;
    background-color: #f2f2f2; }
    .hot-recommend a:last-child {
      margin-right: 0; }

.history {
  padding: 0.1333333333rem 0.4rem 0; }
  .history p {
    padding: 0.24rem 0;
    color: #999; }
    [data-dpr="1"] .history p {
      font-size: 13px; }
    [data-dpr="2"] .history p {
      font-size: 26px; }
    [data-dpr="3"] .history p {
      font-size: 39px; }

/*# sourceMappingURL=search.css.map */
