<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.toutiao.web.dao.mapper.admin.SysUserMapper">
    <resultMap id="BaseResultMap" type="com.toutiao.web.dao.entity.admin.SysUserEntity">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="phone" property="phone" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, phone
  </sql>
    <insert id="insertPhone" parameterType="java.lang.String">\

     insert into sys_web_user (phone)
    values (#{phone,jdbcType=VARCHAR})

  </insert>
<select id="selectByPhone" resultType="java.lang.Integer" parameterType="java.lang.String">

    select count(*) from sys_web_user where phone=#{phone}

</select>

</mapper>