@import "../base/normalize";
@import "../base/mixin";

$cpcBlack: #333;
$cpcRed: #ff4848;
$cpcGray: #888;

.brand-introduction {
    padding: rem(38) rem(51) rem(45);
    background-color: #fff;

    .logo {
        display: block;
        width: rem(191);
        margin: 0 auto rem(32);
    }

    .introduction-text {
        line-height: rem(43);
        color: $cpcBlack;
        @include font-dpr(28);

        p:last-child {
            margin-top: rem(14);
        }

        em {
            color: $cpcRed;
        }
    }

    .go-show-box {
        margin-top: rem(14);
        text-align: right;

        .go-show {
            display: inline-block;
            line-height: 1;
            padding: rem(12) rem(28);
            color: $baseWhite;
            background-color: $cpcRed;
            -webkit-border-radius: rem(22);
            -moz-border-radius: rem(22);
            border-radius: rem(22);
            -webkit-box-shadow: 0 rem(9) rem(21) 0 rgba(255, 72, 72, 0.34);
            -moz-box-shadow: 0 rem(9) rem(21) 0 rgba(255, 72, 72, 0.34);
            box-shadow: 0 rem(9) rem(21) 0 rgba(255, 72, 72, 0.34);
        }
    }

}

.list-item {
    display: block;
    padding: rem(42) 0;
    margin: 0 rem(30);
    color: $baseBlack;
    border-bottom: 1px solid $baseBorderColor;
    @include box-sizing;
    @include font-dpr(22);

    .list-item-img-box {
        float: left;
        width: rem(230);
        height: rem(172);
        overflow: hidden;

        img {
            min-width: 100%;
            height: 100%;
        }
    }

    .list-item-cont {
        position: relative;
        float: left;
        width: rem(430);
        height: rem(172);
        padding-left: rem(30);

        .cont-block-1, .cont-block-2, .cont-block-3 {
            @include text-ellipses;
        }

        .cont-block-1 {
            height: rem(32);
            line-height: rem(32);
            color: $cpcBlack;
            @include font-dpr(30);

            .ellipsis {
                display: inline-block;
                max-width: rem(188);
                @include text-ellipses;
            }
        }

        .cont-block-2 {
            margin-top: rem(20);
            color: $cpcGray;
        }

        .cont-block-3 {
            position: relative;
            width: 65%;
            margin-top: rem(16);
            color: $cpcGray;

            .icon {
                position: absolute;
                top: 0;
                left: 0;
                display: block;
                width: rem(20);
                height: rem(24);
                @include bg-image('../images/cpc/cpc_list_icon_wz');
                -webkit-background-size: contain;
                background-size: contain;
            }

            &.distance {
                padding-left: rem(32);
            }
        }

        @media screen and (min-device-width: 320px) and (max-device-width : 374px) {
            .cont-block-3 {
                width: 60%;
            }
        }

        .house-labelling {
            &.company {
                span:first-child {
                    padding-left: rem(5);
                    padding-right: rem(5);
                    color: $baseWhite;
                    background-color: #999;
                    border-color: #999;
                }
            }
        }

        .cont-block-4 {
            position: absolute;
            width: rem(430);
            bottom: 0;
            white-space: nowrap;
            overflow-x: scroll;
            text-overflow: clip;

            &.esf {
                width: rem(270);
                @include text-ellipses;
            }
        }

        .cont-block-price {
            position: absolute;
            right: 0;
            bottom: 0;
            line-height: 1.2;
            text-align: right;

            em {
                display: block;
                @include font-dpr(30);
                color: $cpcRed;

                i {
                    @include font-dpr(22);
                }
            }

            span {
                display: block;
                margin-top: rem(24);
                color: $cpcGray;
            }

            @media screen and (min-device-width: 320px) and (max-device-width : 374px) {
                span {
                    margin-top: rem(10);
                }
            }
        }
    }
}

.change-list {
    display: block;
    padding-top: rem(52);
    padding-bottom: rem(47);
    text-align: center;
    color: $cpcGray;
}

.bottom-link-box {
    display: block;
}

.bottom-tips {
    padding-top: rem(40);
    padding-bottom: rem(40);
    text-align: center;
    color: #999;

    img {
        width: rem(57);
        margin-bottom: rem(30);
    }
}