@import "../base/normalize";
@import "../base/mixin";
@import "../pages/office-list";
.report-page {
    width: 100%;
    overflow: hidden;
}
.my-report-item {
    position: relative;
    height: rem(130);
    background-color: $baseWhite;
    @include font-dpr(24);

    .report-item-content {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding: rem(34) rem(30);
        -webkit-transition: left 0.5s;
        transition: left 0.5s;
        @include box-sizing;

        &.animate-left {
            left: rem(-420);
        }

        .report-link-block {
            position: relative;
            display: block;
            width: 94%;

            .item-report-icon {
                position: absolute;
                left: 0;
                top: 0;
                width: rem(26);
                height: rem(30);
                @include bg-image('/appstatic/images/myreport/wdbgl_icon_bg');
                -webkit-background-size: contain;
                background-size: contain;
            }

            .item-report-title {
                padding-left: rem(40);


                h3 {
                    color: $baseBlack;
                    @include font-dpr(28);
                }

                p {
                    margin-top: rem(6);
                }
            }
        }

        .slide-icon-button {
            display: block;
            position: absolute;
            right: rem(30);
            top: 50%;
            width: rem(44);
            height: rem(44);
            margin-top: rem(-22);
            @include bg-image('/appstatic/images/myreport/wdbg_icon_more');
            background-position: center;
            -webkit-background-size: contain;
            background-size: contain;
        }
    }

    .more-menu {
        display: table-row;
        position: absolute;
        top: 0;
        right: rem(-420);
        width: rem(420);
        height: 100%;
        -webkit-transition: right 0.5s;
        transition: right 0.5s;

        &.animate-left {
            right: 0;
        }

        li {
            display: table-cell;
            width: rem(140);
            height: rem(130);
            padding-top: rem(26);
            text-align: center;
            vertical-align: middle;
            color: $baseWhite;
            @include font-dpr(24);
            @include box-sizing;

            span {
                display: block;
            }
            i {
                display: inline-block;
                width: rem(44);
                height: rem(44);
                margin-top: rem(5);
            }

            a {
                color: $baseWhite;
            }

            &.examine-report {
                background-color: #747788;

                i {
                    @include bg-image('/appstatic/images/myreport/wdbg_icon_ckbg');
                    -webkit-background-size: contain;
                    background-size: contain;
                }
            }
            &.recommond-plot {
                background-color: #44495f;

                i {
                    @include bg-image('/appstatic/images/myreport/wdbg_icon_recommond');
                    background-position: left center;
                    -webkit-background-size: auto 100%;
                    background-size: auto 100%;
                }

                &.current {
                    i {
                        background-position: right center;
                    }
                }
            }
            &.cancel-collection {
                background-color: #ff4848;

                i {
                    @include bg-image('/appstatic/images/myreport/wdbg_icon_qxsc');
                    -webkit-background-size: contain;
                    background-size: contain;
                }
            }
        }
    }
}