<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.toutiao.web.dao.mapper.invitation.InviteHistoryMapper">
    <resultMap id="BaseResultMap" type="com.toutiao.web.dao.entity.invitation.InviteHistory">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="invitation_code" property="invitationCode" jdbcType="INTEGER"/>
        <result column="user_id" property="userId" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="is_valid" property="isValid" jdbcType="SMALLINT"/>
        <result column="pay_time" property="payTime" jdbcType="TIMESTAMP"/>
        <result column="equipment_no" property="equipmentNo" jdbcType="VARCHAR"/>
    </resultMap>

    <resultMap id="BaseResultMap1" type="com.toutiao.web.dao.entity.invitation.InviteHistory">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="invitation_code" property="invitationCode" jdbcType="INTEGER"/>
        <result column="user_id" property="userId" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="is_valid" property="isValid" jdbcType="SMALLINT"/>
        <result column="pay_time" property="payTime" jdbcType="TIMESTAMP"/>
        <result column="equipment_no" property="equipmentNo" jdbcType="VARCHAR"/>
        <result column="phone" property="phone" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="Example_Where_Clause">
        <where>
            <foreach collection="oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" suffix=")" prefixOverrides="and">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")"
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Update_By_Example_Where_Clause">
        <where>
            <foreach collection="example.oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" suffix=")" prefixOverrides="and">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")"
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Base_Column_List">
        id, invitation_code, user_id, create_time, is_valid, pay_time, equipment_no
    </sql>

    <sql id="Base_Column_List1">
        id, invitation_code, base.user_id, base.phone, history.create_time, is_valid, pay_time, equipment_no
    </sql>
    <select id="selectByExample" resultMap="BaseResultMap"
            parameterType="com.toutiao.web.dao.entity.invitation.InviteHistoryExample">
        select
        <if test="distinct">
            distinct
        </if>
        <include refid="Base_Column_List"/>
        from invite_history
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
    </select>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from invite_history
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete from invite_history
        where id = #{id,jdbcType=INTEGER}
    </delete>
    <delete id="deleteByExample" parameterType="com.toutiao.web.dao.entity.invitation.InviteHistoryExample">
        delete from invite_history
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </delete>
    <insert id="insert" parameterType="com.toutiao.web.dao.entity.invitation.InviteHistory">
        insert into invite_history (id, invitation_code, user_id,
        create_time, is_valid, pay_time,
        equipment_no)
        values (#{id,jdbcType=INTEGER}, #{invitationCode,jdbcType=INTEGER}, #{userId,jdbcType=VARCHAR},
        #{createTime,jdbcType=TIMESTAMP}, #{isValid,jdbcType=SMALLINT}, #{payTime,jdbcType=TIMESTAMP},
        #{equipmentNo,jdbcType=VARCHAR})
    </insert>
    <insert id="insertSelective" parameterType="com.toutiao.web.dao.entity.invitation.InviteHistory">
        insert into invite_history
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="invitationCode != null">
                invitation_code,
            </if>
            <if test="userId != null">
                user_id,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="isValid != null">
                is_valid,
            </if>
            <if test="payTime != null">
                pay_time,
            </if>
            <if test="equipmentNo != null">
                equipment_no,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="invitationCode != null">
                #{invitationCode,jdbcType=INTEGER},
            </if>
            <if test="userId != null">
                #{userId,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="isValid != null">
                #{isValid,jdbcType=SMALLINT},
            </if>
            <if test="payTime != null">
                #{payTime,jdbcType=TIMESTAMP},
            </if>
            <if test="equipmentNo != null">
                #{equipmentNo,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <select id="countByExample" parameterType="com.toutiao.web.dao.entity.invitation.InviteHistoryExample"
            resultType="java.lang.Integer">
        select count(*) from invite_history
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </select>
    <update id="updateByExampleSelective" parameterType="map">
        update invite_history
        <set>
            <if test="record.id != null">
                id = #{record.id,jdbcType=INTEGER},
            </if>
            <if test="record.invitationCode != null">
                invitation_code = #{record.invitationCode,jdbcType=INTEGER},
            </if>
            <if test="record.userId != null">
                user_id = #{record.userId,jdbcType=VARCHAR},
            </if>
            <if test="record.createTime != null">
                create_time = #{record.createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="record.isValid != null">
                is_valid = #{record.isValid,jdbcType=SMALLINT},
            </if>
            <if test="record.payTime != null">
                pay_time = #{record.payTime,jdbcType=TIMESTAMP},
            </if>
            <if test="record.equipmentNo != null">
                equipment_no = #{record.equipmentNo,jdbcType=VARCHAR},
            </if>
        </set>
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByExample" parameterType="map">
        update invite_history
        set id = #{record.id,jdbcType=INTEGER},
        invitation_code = #{record.invitationCode,jdbcType=INTEGER},
        user_id = #{record.userId,jdbcType=VARCHAR},
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
        is_valid = #{record.isValid,jdbcType=SMALLINT},
        pay_time = #{record.payTime,jdbcType=TIMESTAMP},
        equipment_no = #{record.equipmentNo,jdbcType=VARCHAR}
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByPrimaryKeySelective" parameterType="com.toutiao.web.dao.entity.invitation.InviteHistory">
        update invite_history
        <set>
            <if test="invitationCode != null">
                invitation_code = #{invitationCode,jdbcType=INTEGER},
            </if>
            <if test="userId != null">
                user_id = #{userId,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="isValid != null">
                is_valid = #{isValid,jdbcType=SMALLINT},
            </if>
            <if test="payTime != null">
                pay_time = #{payTime,jdbcType=TIMESTAMP},
            </if>
            <if test="equipmentNo != null">
                equipment_no = #{equipmentNo,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.toutiao.web.dao.entity.invitation.InviteHistory">
        update invite_history
        set invitation_code = #{invitationCode,jdbcType=INTEGER},
        user_id = #{userId,jdbcType=VARCHAR},
        create_time = #{createTime,jdbcType=TIMESTAMP},
        is_valid = #{isValid,jdbcType=SMALLINT},
        pay_time = #{payTime,jdbcType=TIMESTAMP},
        equipment_no = #{equipmentNo,jdbcType=VARCHAR}
        where id = #{id,jdbcType=INTEGER}
    </update>

    <select id="getInviteHistorys" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from invite_history
        where equipment_no = #{equipmentNo,jdbcType=VARCHAR}
    </select>

    <select id="getInviteHistoryByCode" parameterType="java.lang.Integer" resultMap="BaseResultMap1">
        select
        <include refid="Base_Column_List1"/>
        from invite_history history
        left join user_basic base
        on history.user_id = base.user_id
        <if test="code != null">
            where invitation_code = #{code,jdbcType=INTEGER}
        </if>
        order by create_time DESC
    </select>

    <select id="getSuperInviteHistory" parameterType="com.toutiao.app.domain.invitation.SuperInviteHistoryDoQuery"
            resultType="com.toutiao.app.domain.invitation.SuperInviteHistoryDo">
        SELECT
        h.id AS id, h.equipment_no AS equipmentNo, c.code AS firstLevelCode, c1.code AS secondLevelCode,
        c2.code AS thirdLevelCode, h.user_id AS userId, h.create_time AS createTime, h.is_valid AS isValid,
        h.pay_time AS payTime, b.phone AS phone,c3.code AS yourCode
        FROM
        invite_history h
        LEFT JOIN user_basic b ON h.user_id = b.user_id
        LEFT JOIN invitation_code c ON h.invitation_code = c.code
        LEFT JOIN  (SELECT * FROM (select invitation_code,user_id,row_number() over(partition BY user_id) AS row FROM invite_history WHERE user_id &lt;&gt; '') t1 WHERE t1.row =1) h1 ON c.user_id = h1.user_id
        LEFT JOIN invitation_code c1 ON h1.invitation_code =c1.code
        LEFT JOIN  (SELECT * FROM (select invitation_code,user_id,row_number() over(partition BY user_id) AS row FROM invite_history WHERE user_id &lt;&gt; '') t1 WHERE t1.row =1)  h2 ON c1.user_id = h2.user_id
        LEFT JOIN invitation_code c2 ON h2.invitation_code =c2.code
        LEFT JOIN invitation_code c3 ON h.user_id=c3.user_id
        <where>
            1 = 1
            <if test="firstLevelCode != null">
                AND c.code = #{firstLevelCode}
            </if>
            <if test="secondLevelCode != null">
                AND c1.code = #{secondLevelCode}
            </if>
            <if test="thirdLevelCode != null">
                AND c2.code = #{thirdLevelCode}
            </if>
            <if test="equipmentNo != null">
                AND h.equipment_no = #{equipmentNo}
            </if>
            <if test="phone != null">
                AND b.phone = #{phone}
            </if>
            <if test="createTimeStart != null and createTimeEnd != null">
                AND (h.create_time BETWEEN #{createTimeStart} AND #{createTimeEnd})
            </if>
        </where>
        ORDER BY h.create_time DESC
    </select>

    <select id="getCountByEquipmentNo" parameterType="java.lang.String" resultType="java.lang.Integer">
        select count(*) from invite_history where equipment_no = #{equipmentNo}
    </select>
</mapper>